<!-- SECTION HEADER -->


<!-- END HEADER -->

<!-- SECTION ACCORDION -->


<div class="container-fluid align-items-center padding-top_faq">
  <div class="row justify-content-center">
    <div class="col-sm-10 container-first_bg">
      <div class="container cards-zIndex_container d-none d-lg-block d-xl-block">
        <div class="row justify-content-center">

          <div class="col-sm-3" [class.active]="viewMode=='get'">
            <a (click)="viewMode='get'">
              <div class="card" style="width: 255px;">
                <div class="card-body">
                  <div class="mt-5 mb-3">
                    <img src="assets/img/FAQ/slika_1.png" alt="kapljica-vode">
                  </div>
                  <h5 class="card-title">Getting Started General</h5>


                </div>
              </div>
            </a>

          </div>

          <div class="col-sm-3" [class.active]="viewMode=='izgradnja'">
            <a (click)="viewMode = 'izgradnja'">
              <div class="card" style="width: 255px;">
                <div class="card-body">
                  <div class="mt-5 mb-3">
                    <img src="assets/img/FAQ/slika_1.png" alt="kapljica-vode">
                  </div>
                  <h5 class="card-title">Izgradnja bazena</h5>


                </div>
              </div>
            </a>

          </div>

          <div class="col-sm-3" [class.active]="viewMode=='odrzavanje'">
            <a (click)="viewMode = 'odrzavanje'">
              <div class="card" style="width: 255px;">
                <div class="card-body">
                  <div class="mt-5 mb-3">
                    <img src="assets/img/FAQ/slika_1.png" alt="kapljica-vode">
                  </div>
                  <h5 class="card-title">Odrzavanje</h5>


                </div>
              </div>
            </a>

          </div>

          <div class="col-sm-3" [class.active]="viewMode=='oprema'">
            <a (click)="viewMode = 'oprema'">
              <div class="card" style="width: 255px;">
                <div class="card-body">
                  <div class="mt-5 mb-3">
                    <img src="assets/img/FAQ/slika_1.png" alt="kapljica-vode">
                  </div>
                  <h5 class="card-title">Dodatna oprema</h5>


                </div>
              </div>
            </a>

          </div>
        </div>
      </div>
      <div class="container-header-text_center  py-5">
        <h1 class="mt-5">The most asked questions</h1>
      </div>

      <div [ngSwitch]="viewMode">


        <!-- GET started -->


        <div class="container inside-background_container" *ngSwitchCase="'get'">
          <div class="accordion" id="accordionExample">
            <div class="card my-3">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link px-0" type="button" data-toggle="collapse"
                          data-target="#collapseOne"
                          aria-expanded="true" aria-controls="collapseOne">
                    Collapsible
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                  squid.

                </div>
              </div>
            </div>
            <div class="card my-3">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link px-0 collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseTwo"
                          aria-expanded="false" aria-controls="collapseTwo">
                    Collapsible
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                  squid.
                  3

                </div>
              </div>
            </div>
            <div class="card my-3">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link px-0 collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Collapsible
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                  squid.

                </div>
              </div>


            </div>


            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link px-0 collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseFour">
                    Collapsible Group Item #4
                  </button>
                </h2>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                  squid.

                </div>
              </div>


            </div>
          </div>
        </div>


        <!-- end get started -->


        <!-- izgradnja -->


        <div class="container inside-background_container" *ngSwitchCase="'izgradnja'">
          <div class="accordion" id="accordionExample">
            <div class="card my-3">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link px-0" type="button" data-toggle="collapse" data-target="#collapseOne"
                          aria-expanded="true" aria-controls="collapseOne">
                    Collapsible Group Item
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                  squid.

                </div>
              </div>
            </div>
            <div class="card my-3">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link px-0 collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseTwo"
                          aria-expanded="false" aria-controls="collapseTwo">
                    Collapsible Group Item
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                  squid.
                  3

                </div>
              </div>
            </div>
            <div class="card my-3">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link px-0 collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                  squid.

                </div>
              </div>


            </div>


            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link px-0 collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseFour">
                    Collapsible Group Item
                  </button>
                </h2>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                  squid.

                </div>
              </div>


            </div>
          </div>
        </div>


        <!-- end izgradnja -->

        <!-- odrzavanje -->

        <div class="container inside-background_container" *ngSwitchCase="'odrzavanje'">
          <div class="accordion" id="accordionExample">
            <div class="card my-3">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link px-0" type="button" data-toggle="collapse" data-target="#collapseOne"
                          aria-expanded="true" aria-controls="collapseOne">
                    Collapsible Group
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                  squid.

                </div>
              </div>
            </div>
            <div class="card my-3">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link px-0 collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseTwo"
                          aria-expanded="false" aria-controls="collapseTwo">
                    Collapsible Group
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                  squid.
                  3

                </div>
              </div>
            </div>
            <div class="card my-3">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link px-0 collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                  squid.

                </div>
              </div>


            </div>


            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link px-0 collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseFour">
                    Collapsible Group
                  </button>
                </h2>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                  squid.

                </div>
              </div>


            </div>
          </div>
        </div>


        <!-- end odrzavanje -->

        <!-- oprema -->


        <div class="container inside-background_container" *ngSwitchCase="'oprema'">
          <div class="accordion" id="accordionExample">
            <div class="card my-3">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link px-0" type="button" data-toggle="collapse" data-target="#collapseOne"
                          aria-expanded="true" aria-controls="collapseOne">
                    Collapsible
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                  squid.

                </div>
              </div>
            </div>
            <div class="card my-3">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link px-0 collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseTwo"
                          aria-expanded="false" aria-controls="collapseTwo">
                    Collapsible
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                  squid.
                  3

                </div>
              </div>
            </div>
            <div class="card my-3">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link px-0 collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Collapsible
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                  squid.

                </div>
              </div>


            </div>


            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link px-0 collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseFour">
                    Collapsible Group Item #4
                  </button>
                </h2>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                  squid.

                </div>
              </div>


            </div>
          </div>
        </div>


        <!-- end oprema -->

      </div>
    </div>
  </div>
</div>


<!-- END SECTION ACCORDION -->

<!-- SECTION CARDS -->

<div class="container padding-top__cards">
  <div class="row">
    <div class="col-sm-12 p-h2__position">

      <h2>Šta možemo da uradimo za Vas</h2>
      <p>Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur, <br> Lorem ipsum dolor sit
         amet
         consectetur. </p>

    </div>
  </div>

  <div class="row mt-3">

    <div class="col-sm-3">

      <div class="card text-center" style="width: 255px;">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/FAQ/slika_2.png" alt="kapljica-vode">
          </div>
          <h5 class="card-title">Projektovanje</h5>
          <p>Lorem ipsum dolor sit amet consectetur.</p>


        </div>
      </div>


    </div>

    <div class="col-sm-3">

      <div class="card text-center" style="width: 255px;">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/FAQ/slika_3.png" alt="kapljica-vode">
          </div>
          <h5 class="card-title">Izgradnja</h5>
          <p>Lorem ipsum dolor sit amet consectetur.</p>


        </div>
      </div>


    </div>


    <div class="col-sm-3">

      <div class="card text-center" style="width: 255px;">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/FAQ/slika_4.png" alt="kapljica-vode">
          </div>
          <h5 class="card-title">Održavanje</h5>
          <p>Lorem ipsum dolor sit amet consectetur.</p>


        </div>
      </div>


    </div>


    <div class="col-sm-3">

      <div class="card text-center" style="width: 255px;">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/FAQ/slika_5.png" alt="kapljica-vode">
          </div>
          <h5 class="card-title">Oprema</h5>
          <p>Lorem ipsum dolor sit amet consectetur.</p>


        </div>
      </div>


    </div>


  </div>
</div>


<!-- END SECTION CARD -->

<app-konsultacije></app-konsultacije>
