@import "../../../assets/scss/colors";


:host-context(body) {
  display: block;
  height: 100%;
  width: 100%;

}


// HEADER
.header-padding-top__container {
  padding-top: 128px;
}


// ACCORDION
.padding-top_faq {
  padding-top: 256px;

  .container-first_bg {
    background-color: $secondary;
  }

  .container-header-text_center {
    h1 {
      text-align: center;
      color: #fff;
    }
  }

  a:hover {
    background-color: #E9F7FE;
  }

  .btn-fix {
    padding: 0;
    border: none;

    white-space: normal;
  }

  .inside-background_container {
    padding-bottom: 100px;

    .accordion {
      .card {
        background: rgba(255, 255, 255, 0.06);
        box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
        border-radius: 8px;
        color: #FFFFFF;

        .card-header {
          .btn {
            color: #FFFFFF;
          }
        }
      }
    }
  }
}

.cards-zIndex_container {
  margin-top: -128px;

  .active {

    .card {
      background-color: #E9F7FE;
    }
  }

  .card {
    height: 192px;
    background: #FFFFFF;
    box-sizing: border-box;
  }
}


// CARDS

.padding-top__cards {
  padding-top: 172px;
  padding-bottom: 143px;

  h2 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  .card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 0.25rem
  }

  .card:hover {
    transform: scale(1.1);
  }
}


