@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "../../../assets/scss/colors";

:host-context(body) {
  display: block;
  height: 100%;
  width: 100%;

}


// HEADER
.header-padding-top__container {
  padding-top: 128px;
}

.active {
  .card {
    background-color: #e9f7fe;
  }
}

.inside-background_container {
  padding-bottom: 100px;

  .accordion {
    .card {
      box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
      border-radius: 8px;
      color: #FFFFFF;
      background-color: transparent !important;

      .card-header {
        .btn {
          color: #FFFFFF;
        }
      }

      .card-header {
        background-color: rgba(0, 0, 0, 0.4) !important;

        h5 {
          font-size: 20px;
          line-height: 24px;

          letter-spacing: 0.2px;
        }

        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

.cards-zIndex_container {

  .active {

    .card {
      background-color: #e9f7fe;
    }
  }

  .card {
    height: 192px;
    background: #FFFFFF;
    box-sizing: border-box;

    @include media-breakpoint-down(sm) {
      height: auto;
    }
  }
}


// CARDS

.padding-top__cards {
  padding-top: 128px;
  padding-bottom: 128px;

  .card {
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    width: 16.56rem;
    height: 15rem;
  }

  .card:hover {
    transform: scale(1.1);
  }
}

.header__padding-top {
  padding-top: 128px;
}


