<div class="container py-128">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="pb-5">Usisivači</h2>
      <img src="assets/img/usisivaci/usisivaci.jpg" class="img-fluid" alt="Usisivaci"> <br>
      <p class="pt-5">
        Služe za usisavanje taloga sa dna bez praznjenja bazena. Veliki izbor ručnih podvodnih br usisivača koji se
        isporučuju sa četkama, rebrastim crevom i teleskopskim štanglama. Rebrasta fleksibilna creva su prečnika od 38mm
        i isporučuju se u potrebnoj dužini. Teleskopi su dužine od 2 do 7,5 metara. Priključuju se na skimer i rade
        preko filtracionog postrojenja.
      </p>
    </div>
  </div>
</div>

<app-konsultacije></app-konsultacije>
