<div class="container">
	<div class="row header_padding-top">
		<div class="col-12 text-center">
			<h1> We help startups and agencies <br> to achieve their goal.</h1>
			<p>Minimalism, optimization and precision, your business is skyrocketing.</p>

			<button class="btn btn-primary mr-2">Get started</button>
			<button class="btn btn-primary ">Learn more</button>

		</div>
	</div>
</div>


<div class="container-fluid padding-top-card_two">
	<div class="row px-5">
		<div class="col-12 background_card">
			<div class="row mt-5">
				<div class="col-lg-5 offset-lg-1 pt-lg-5 col-sm-6 tex-right" id="dva">
					<h3>The habits of <br> Our Stratup</h3>
					<p>Design is not just what it looks like and feels like. Design is how it works”. We always try
						to make a great output by this culture. Steve Jobs.</p>
					<div class="row list-item ">
						<div class="col-lg-6 col-sm-6 mt-4">
							<p><i class="fas fa-check"></i> 50 Blocks</p>
							<p><i class="fas fa-check"></i> Only Explorations</p>
							<p><i class="fas fa-check"></i> Teamwork Always</p>
						</div>
						<div class="col-lg-6 col-sm-6 mt-4">
							<p><i class="fas fa-check"></i> Communications</p>
							<p><i class="fas fa-check"></i> Weekly Analytics</p>
							<p><i class="fas fa-check"></i> Updatevfor Brand</p>
						</div>
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1 col-sm-6 mt-lg-5 mt-sm-0 " id="jedan">
					<img class="img-fluid" src="assets/img/izgradnja-bazena/slika-4.png" alt="card-slika">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid padding-top-card_one">
	<div class="row px-5">
		<div class="col-12 background_card">
			<div class="row mt-5">
				<div class="col-5 offset-1 mt-5">
					<img class="img-fluid" src="assets/img/izgradnja-bazena/slika-2.png" alt="card-slika">
				</div>
				<div class="col-6 mt-5 tex-right">
					<div class="test">
						<h3> The strategies of <br> Our business</h3>
						<p>Design is not just what it looks like and feels like. Design is how it works”. We always try
							to make a great output by this culture. Steve Jobs.</p>

						<p> See below our three main plans for your business, for your stratup and agency. It starts
							from here! You can teach yourself what you really like.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container padding-top__cards">
	<div class="row">
		<div class="col-sm-12 text-center">

			<h2>Šta možemo da uradimo za Vas</h2>
			<p>Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur, <br> Lorem ipsum dolor sit
				amet
				consectetur. </p>

		</div>
	</div>

	<div class="row mt-3">

		<div class="col-sm-3">

			<div class="card text-center" style="width: 255px;">
				<div class="card-body">
					<div class=" mb-3 pt-3">
						<img src="assets/img/FAQ/slika_2.png" alt="kapljica-vode">
					</div>
					<h5 class="card-title">Projektovanje</h5>
					<p>Lorem ipsum dolor sit amet consectetur.</p>


				</div>
			</div>


		</div>

		<div class="col-sm-3">

			<div class="card text-center" style="width: 255px;">
				<div class="card-body">
					<div class=" mb-3 pt-3">
						<img src="assets/img/FAQ/slika_3.png" alt="kapljica-vode">
					</div>
					<h5 class="card-title">Izgradnja</h5>
					<p>Lorem ipsum dolor sit amet consectetur.</p>


				</div>
			</div>


		</div>


		<div class="col-sm-3">

			<div class="card text-center" style="width: 255px;">
				<div class="card-body">
					<div class=" mb-3 pt-3">
						<img src="assets/img/FAQ/slika_4.png" alt="kapljica-vode">
					</div>
					<h5 class="card-title">Održavanje</h5>
					<p>Lorem ipsum dolor sit amet consectetur.</p>


				</div>
			</div>


		</div>


		<div class="col-sm-3">

			<div class="card text-center" style="width: 255px;">
				<div class="card-body">
					<div class=" mb-3 pt-3">
						<img src="assets/img/FAQ/slika_5.png" alt="kapljica-vode">
					</div>
					<h5 class="card-title">Oprema</h5>
					<p>Lorem ipsum dolor sit amet consectetur.</p>


				</div>
			</div>


		</div>


	</div>
</div>

<!-- CONSULTATION-BOTTOM -->
<app-konsultacije></app-konsultacije>


<!-- END CONSULTATION-BOTTOM  -->