<div class="container pt-128 pb-64">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-9 text-center">
      <p class="text-primary text-uppercase">O nama</p>
      <h1>Pool Service je porodična firma koja uspešno posluje već preko 25 godina</h1>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-8">
      <p>Poslovna politika naše kompanije je potpuna podrška našim klijentima u svim njihovim
         zahtevima počevši od: izgradnje bazena, održavanja, servisa, popravki, savetovanja i ostalog</p>
    </div>
  </div>
</div>


<section class="bg-light mt-128">
  <div class="container-fluid content">
    <div class="mx-lg-5 mx-sm-0 ">
      <div class="container">
        <div class="row align-items-center py-5">
          <div class="col-12 col-md-6" id="slika-up">
            <img class="img-fluid mb-4 mb-sm-0" src="assets/img/o-nama/nasledje.jpg"
                 alt="card-slika">
          </div>
          <div class="col-12 col-md-6">
            <div class="test">
              <h2 class="mb-4">Nasleđe</h2>
              <p>1990. godine hidro inženjer Marko Korolija i njegova supruga Zita Korolija
                 Hubsch osnivaju firmu KOROLEX koja se bavila razinim građevinskim projektima</p>
            </div>
            <div class="row list-item">
              <div class="col-6 mt-4 d-block">
                <div class="d-flex">
                  <i class="fas fa-check"></i>
                  <p>Integritet</p>
                </div>
                <div class="d-flex">
                  <i class="fas fa-check"></i>
                  <p>Iskustvo</p>
                </div>
                <div class="d-flex">
                  <i class="fas fa-check"></i>
                  <p>Inovacije</p>
                </div>
              </div>
              <div class="col-6 mt-4">
                <div class="d-flex">
                  <i class="fas fa-check"></i>
                  <p>Posvećenost</p>
                </div>
                <div class="d-flex">
                  <i class="fas fa-check"></i>
                  <p>Kvalitet</p>
                </div>
                <div class="d-flex">
                  <i class="fas fa-check"></i>
                  <p>Zadovoljni klijenti</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light mt-128">
  <div class="container-fluid content">
    <div class="mx-lg-5 mx-md-0">
      <div class="container">
        <div class="row align-items-center py-5">
          <div class="col-12 col-md-6 order-2 order-md-1">
            <h2 class="mb-4">Budućnost</h2>
            <p>Vremenom se razvila ljubav prema bazenima, koje je <br> 1996. godine dovela do
               formiranja firme POOL SERVICE koja se bavi bazenima i bazenskom tehnikom.</p>
            <p>POOL SERVICE se stalno razvija i usavršava. Pod <br> vođstvom dipl. ing. Filipa Korolije i
               mlade ekipe kompanija teži da nastavi svoju dugogodišnju viziju i postojanje.</p>
          </div>
          <div class="col-12 col-md-6 order-1 order-md-2" id="slika-up">
            <img class="img-fluid mb-4 mb-sm-0" src="assets/img/o-nama/buducnost.jpg" alt="card-slika">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container my-128">
  <div class="row align-items-center justify-content-center">
    <div class="col-8 text-center">
      <h2>Naša ponuda</h2>
      <p>POOL SERVICE se uspešno bavi prodajom bazena i bazenske opreme po sistemu kljuć u ruke,
         održavanje postojećih bazena, isporuka i montažom sauna i ostale rekreacione opreme.
      </p>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-md-3 pb-3">
      <div class="card h-100 text-center">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/icons/projektovanje.svg" alt="Projektovanje bazena">
          </div>
          <h5 class="card-title">Projektovanje</h5>
          <p class="small">Vama na raspolaganju, od ideje od realizacije.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 pb-3">
      <div class="card h-100 text-center ">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/icons/izgradnja.svg" alt="Izgradnja bazena">
          </div>
          <h5 class="card-title">Izgradnja</h5>
          <p class="small">Dugogodišnje iskustvo, ugradnja samo najkvalitetnije opreme.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 pb-3">
      <div class="card h-100 text-center">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/icons/odrzavanje.svg" alt="Odrzavanje bazena">
          </div>
          <h5 class="card-title">Održavanje</h5>
          <p class="small">Jedina firma sa uslugom održavanja bazena na nedeljnom nivou.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 pb-3 ">
      <div class="card h-100 text-center">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/icons/oprema.svg" alt="Oprema za bazene">
          </div>
          <h5 class="card-title">Oprema</h5>
          <p class="small">Posedujemo rezervne delove za svu našu opremu.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <button class="btn btn-secondary border-0"
            [routerLink]="['/contact'] ">Kontaktiraj nas za više informacija
    </button>
  </div>
</div>

<!-- CONSULTATION-BOTTOM -->
<app-konsultacije></app-konsultacije>


<!-- END CONSULTATION-BOTTOM  -->
