@import "src/assets/scss/colors";

.page__footer {
  background-color: $secondary;
  height: auto;
  color: #fff;

  .links {
    ul {
      list-style: none;

      a {
        font-size: 16px;
      }
    }
  }

  .location {
    ul {
      list-style: none;

      a {
        font-size: 16px;
      }
    }
  }

  .about {
    ul {
      list-style: none;
    }
  }

  .copyright {

    border-top: 1px solid #313D55;;

    p {
      margin-top: 10px;
      color: #8C97AC;
    }

    .in {
      li {
        display: inline;
        letter-spacing: 5px;
      }
    }
  }

  #circle_yellow {
    width: 128px;
    height: 127px;
    background-color: #FFD166;;
    border-radius: 0 100% 0 0;
  }
}
