<!-- FOOTER -->

<footer class="footer page__footer">
  <div class="pt-5  footer">

    <div class="container">

      <div class="row pt-5 pb-5 mb-5">
        <div class="col-lg-4 col-xs-12">
          <h4>Pool Service</h4>
          <p class="small pr-5 text-white-50">
            Poslovna politika naše kompanije je potpuna podrška našim klijentima u svim njihovim zahtevima počevši od:
            izgradnje bazena, održavanja, servisa, popravki, savetovanja i ostalog.
          </p>
          <a class="btn btn-primary">Besplatna konsultacija</a>
        </div>


        <div class="col-lg-2 col-xs-12 links mt-5 mt-md-0">
          <h6 class="mt-lg-0 mt-sm-3 mb-3" style="color:  #8C97AC;">Bazeni</h6>
          <ul class="m-0 p-0">
            <li class="mb-2"><a class="text-white" [routerLink]="['/polumontazni-bazeni']">Future pool bazeni</a></li>
            <li class="mb-2"><a class="text-white" [routerLink]="['/betonski-bazeni']">Betonski bazeni</a></li>
            <li class="mb-2"><a class="text-white" [routerLink]="['/bazeni-sa-folijom']">Bazeni sa folijom</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-xs-12 location">
          <h6 class="mt-lg-0 mt-sm-3 mb-3" style="color:  #8C97AC;">Pool Service</h6>
          <ul class="mb-3 p-0">
            <li class="mb-2"><a class="text-white" [routerLink]="['/o-nama']">O nama</a></li>
            <li class="mb-2"><a class="text-white" [routerLink]="['/odrzavanje']">Odrzavanje</a></li>
            <li class="mb-2"><a class="text-white" [routerLink]="['/faq']">FAQ</a></li>
            <li class="mb-2"><a class="text-white" [routerLink]="['/contact']">Kontakt</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-xs-12 about ">
          <h6 class="mt-lg-0 mt-sm-3 mb-3" style="color:  #8C97AC;">Kontakt</h6>
          <p class="small">Pool Service se uspešno bavi prodajom bazena i bazenske opreme po sistemu kljuć u ruke,
                           održavanje
                           postojećih bazena, isporuka i montažom sauna i ostale rekreacione opreme.</p>
          <ul class="m-0 p-0 mb-2">
            <li class="mb-2"><a style="color:  #FFD166;" href="">021 / 6678 000</a></li>
            <li><a style="color:  #FFD166;" href="">kontakt@pool-service.rs</a></li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-between align-items-center copyright">
        <div class="col">
          <p><small class="text-white ">&copy; Pool Service 2020 All Rights Reserved</small></p>
        </div>
        <div class="col">
          <ul class="in float-right" style="list-style: none;">
            <li><i style="color: #fff;" class="fab fa-facebook-f"></i></li>
            <li><i style="color: #fff;" class="fab fa-twitter ml-2"></i></li>
            <li><i style="color: #fff;" class="fab fa-google ml-2"></i></li>
          </ul>
        </div>
      </div>

    </div>

  </div>


</footer>

<!-- END FOOTER -->
