<!-- FOOTER -->

<footer class="footer page__footer">
  <div class="pt-5  footer">

    <div class="container">

      <div class="row pt-5 pb-5 mb-5">
        <div class="col-lg-4 col-xs-12 f">
          <h4>Pool Service</h4>
          <p class="pr-5 text-white-50">
            Your ultimate email solution to grow business and engaging with future customers and clients.
          </p>
          <button class="btn btn-primary rounded p-3">Besplatna konsultacija</button>


        </div>
        <div class="col-lg-2 col-xs-12 links ">
          <h6 class="mt-lg-0 mt-sm-3 mb-3" style="color:  #8C97AC;">Bazeni</h6>
          <ul class="m-0 p-0">
            <li class="mb-2"><a>For Talents</a></li>
            <li class="mb-2"><a>For Companies</a></li>
            <li class="mb-2"><a>Facebook Groups</a></li>
            <li><a>FAQ</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-xs-12 location">
          <h6 class="mt-lg-0 mt-sm-3 mb-3" style="color:  #8C97AC;">O nama</h6>
          <ul class="mb-3 p-0">
            <li class="mb-2"><a>Meat the Team</a></li>
            <li class="mb-2"><a>Our Story</a></li>
            <li><a>Career</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-xs-12 about ">
          <h6 class="mt-lg-0 mt-sm-3 mb-3" style="color:  #8C97AC;">Kontakt</h6>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sint maxime placeat, obcaecati
            aliquid .</p>
          <ul class="m-0 p-0 mb-2">
            <li class="mb-2"><a style="color:  #FFD166;" href="">021 / 6678 000</a></li>
            <li><a style="color:  #FFD166;" href="">info@finity.com</a></li>
          </ul>
        </div>
      </div>
      <div class="row  ">
        <div class="col copyright ">
          <p><small class="text-white ">&copy; Nicey 2020 All Rights Reserved</small></p>
          <ul class="in float-right" style="list-style: none;">
            <li><i style="color: #fff;" class="fab fa-facebook-f"></i></li>
            <li><i style="color: #fff;" class="fab fa-twitter"></i></li>
            <li><i style="color: #fff;" class="fab fa-google"></i></li>
          </ul>
        </div>
      </div>

    </div>

  </div>


</footer>

<!-- END FOOTER -->