@import "src/assets/scss/colors";

.page__footer {
  background-color: $secondary;
  height: auto;
  color: #fff;

  .links {
    ul {
      list-style: none;

      a {
        font-size: 16px;
      }
    }
  }

  .location {
    ul {
      list-style: none;

      a {
        font-size: 16px;
      }
    }
  }

  .about {
    ul {
      list-style: none;
    }
  }

  .copyright {

    border-top: 1px solid #313D55;;

    p {
      margin-top: 10px;
      color: #8C97AC;
    }

    ul {
      list-style: none;

      li {
        display: inline;
        letter-spacing: 5px;

        i {
          color: #ffffff;
        }
      }
    }
  }
}
