<div class="container my-128">

  <div class="row">
    <div class="col-12 col-md-6">
      <p class="plava">DODATNA OPREMA</p>
      <h2>Cirkulacija vode</h2>
    </div>
    <div class="col-12 col-md-6 pt-5">
      <p>Skimeri ili prelivi uzimaju vodu iz bazena sa gornje površine koja je inače i najprljavija koja zatim
         odlazi na filtraciju. Kod betonskih bazena se ugradjuju u oplatu pre betoniranja a kod lajnerskih se
         ugradjuju. Isporučuju se sa vakum pločom koja sluzi da bi se priključilo crevo za podvodno usisavanje.</p>
    </div>
  </div>
</div>

<div class="container my-128">
  <div class="row">
    <div class="col-12">

      <div class="row">

        <div class="col-12 col-md-6 pt-5">
          <img class="img-fluid mb-4 mb-md-0" src="assets/img/filtrianje-bazena/astral-logo.jpg" alt="logo cap">
        </div>

        <div class="col-12 col-md-3">
          <div class="row">
            <div class="col-5 col-md-12">
              <img class="img-fluid" src="assets/img/cirkulacija-vode/betonski.jpg" alt="Card image cap">
            </div>
            <div class="col-7 col-md-12">
              <p class="naslov pt-2 ">SKIMER Betonski Bazen</p>
              <p class="">SKIMER Betonski Bazen <br> Skimer 15L široki BB<br> Skimer 17.5L dekorativ.platna BB
                <br> Skimer 17.5L duži vrat BB <br> Skimer 17.5L kvadrat.polop BB </p>
            </div>
          </div>
          <div class="row">
            <div class="col-5 col-md-12">
              <img class="img-fluid" src="assets/img/cirkulacija-vode/pvc.jpg" alt="Card image cap">
            </div>
            <div class="col-7 col-md-12">
              <p class="naslov pt-2 ">SKIMER Lajner Bazen</p>
              <p> Skimer 15L kvadr.poklopac LB <br> Skimer 15L ŠIROK kvadr.poklopac LB<br> Skimer 17.5 L široki
                  ulazni otvor LB <br> Skimer 17.5 L duži vrat LB</p>
            </div>
          </div>

          <div class="row">
            <div class="col-5 col-md-12">
              <img class="img-fluid" src="assets/img/cirkulacija-vode/04.jpg" alt="Slivnik za bazene sa lajnerom">
            </div>
            <div class="col-7 col-md-12">
              <p class="naslov pt-2 ">Slivnik za bazene sa lajnerom</p>
              <p> Slivnik MINI za lajner<br> Slivnik fi 200 za lajner</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-3">
          <div class="row">
            <div class="col-5 col-md-12">
              <img class="img-fluid" src="assets/img/cirkulacija-vode/07.jpg" alt="Rezervni delovi za skimere">
            </div>
            <div class="col-7 col-md-12">
              <p class="naslov pt-2 ">Rezervni delovi za skimere</p>
              <p class="">Klapna za skimer 15L<br> Klapna za skimer 17,5 L<br> Korpa skimera 15L <br> Korpa skimera 17,5 L</p>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-5 col-md-12">
              <img class="img-fluid" src="assets/img/cirkulacija-vode/05.jpg" alt="Mlaznica za bazen sa lajnerom">
            </div>
            <div class="col-7 col-md-12">
              <p class="naslov pt-2 ">Mlaznica za bazen sa lajnerom</p>
              <p>Mlaznica zidna za lajner </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<app-konsultacije></app-konsultacije>
