<div class="container naslov__pading-top">
    <div class="row">
        <div class="col-12 text-center ">
            <h2 class="pb-5">Stakleni mozaik</h2>
            <p>
                Mozaik pločice dimenzija 2 x 2 cm sa fugom od 2mm postavljene <br> na papir dim. 33 x 33 cm.
                U ponudi je veliki izbor mozaika <br> kao i ukrasnih dekoracija, bordura i slika.
            </p>
        </div>
    </div>
</div>

<div class="container cards__padding-bottom ">
    <div class="row justify-content-center">

        <div class="col-3 offset-1 ">
            <img class="card-img-top img " src="assets/img/mozaik/11.jpg" alt="Card image cap">
            <p class="naslov pt-2 pl-3">BAHAMI A33+A32+A31

            </p>


        </div>
        <div class="col-3 offset-1">
            <img class="card-img-top img pr-5" src="assets/img/mozaik/21.jpg" alt="Card image cap">
            <p class="naslov pt-2 pl-3"> BAHAMI BRILLIANT <br> A33+A32+A11

            </p>

        </div>
    </div>
</div>
<div class="container cards__padding-bottom ">
    <div class="row justify-content-center">

        <div class="col-3  offset-1">
            <img class="card-img-top img " src="assets/img/mozaik/31.jpg" alt="Card image cap">
            <p class="naslov pt-2 pl-3">BAHAMI ICE <br> A33+A32

            </p>


        </div>
        <div class="col-3 offset-1">
            <img class="card-img-top img pr-5" src="assets/img/mozaik/31.jpg" alt="Card image cap">
            <p class="naslov pt-2 pl-3"> DARK BAHAMI <br> A33+A32+A36

            </p>

        </div>
    </div>
</div>
<div class="container cards__padding-bottom ">
    <div class="row justify-content-center">

        <div class="col-3 offset-1 ">
            <img class="card-img-top img " src="assets/img/mozaik/5.jpg" alt="Card image cap">
            <p class="naslov pt-2 pl-3">GREEN LAGUNA <br> A33+A32+A47

            </p>


        </div>
        <div class="col-3 offset-1">
            <img class="card-img-top img pr-5" src="assets/img/mozaik/6.jpg" alt="Card image cap">
            <p class="naslov pt-2 pl-3">CUNAMI <br> A33+A31+A11

            </p>

        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center pb-5">
        <div class="col-12">
            <button class="btn btn-primary mt-5  btn-lg border-0 " [routerLink]="['/contact'] ">Kontaktirajte
                nas</button>
        </div>
    </div>
</div>
<div class="container naslov__pading-top">
    <div class="row">
        <div class="col-12 text-center ">
            <h2 class="pb-5">Alkorplan PVC folije za bazene</h2>
            <p>
                Alkorplan je veoma poznat brand za PVC folije firme Renolit jedne od najvećih proizvodjača u Evropi.
                <br>
                Alkorplan folije za bazene često se koriste za javne bazene, u aqua parkovima kao i u privatnim
                bazenima.
            </p>

            <img class="pt-5" src="assets/img/mozaik/alkorplan.jpg" alt="akroplan"> <br>

            <a class="btn-primary btn mt-4
             border-0" href="assets/img/mozaik/katalog.pdf" download="newfilename">Preuzmite katalog</a>
        </div>
    </div>
</div>






<app-konsultacije></app-konsultacije>