<!-- Pool Cover -->

<div class="container-fluid px-5">
	<div class="  text-white pool-cover">
		<div class="row h-100 align-items-center ml-5 ">
			<div class="col-6">
				<h1 class="display-4">Bazeni sa folijom po <br> želji
				</h1>
				<p>Za bilo koji oblik i dimenzije moguće je oblaganje bazena <br> folijom, postupkom varenja folije na
					licu
					mesta..</p>
				<button class="btn btn-secondary rounded mt-4" [routerLink]="['/contact'] ">Zatražite ponudu </button>
			</div>
		</div>
	</div>
</div>

<!-- end Pool Cover -->
<!-- Cards -->
<div class="container-fluid px-5  ">
	<div class="row mx-auto ">
		<div class="col-12 cards__background p-5">
			<div class="row mx-5 my-5">
				<div class="col-4 text-center">
					<img src="assets/img/bazeni-sa-folijom/slika-2.png" alt="resenje" class="mb-4">
					<h3 class="pb-3">Raznovrsnoste</h3>
					<p>Veliki izbor dimenzija i dezena</p>
				</div>
				<div class="col-4 text-center">
					<img src="assets/img/bazeni-sa-folijom/slika-3.png" alt="dizajn" class="mb-4">
					<h3 class="pb-3">Raznovrsnost dizajna</h3>
					<p>Otpornost na razvoj bakterija i algi</p>
				</div>
				<div class="col-4 text-center">
					<img src="assets/img/bazeni-sa-folijom/slika-4.png" alt="dugotrajnsot" class="mb-4">
					<h3 class="pb-3">Dugotrajnost</h3>
					<p>Fleksibilan, izdržljiv i vododbojan</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- End Cards -->
<div class="container pt-5 magic__container">
	<div class="row">
		<div class="col-12 ">
			<div class="row">
				<div class="col-5 mt-5">
					<h3>Renolit Alkorplan PVC folija </h3>
					<p>Vodonepropusna ojačana membrana specijalno <br> dizajnirana za unutrašnje oblaganje bazena,
						debljine <br>
						1,5mm.
						Fleksibilna je tako da prijanja uz površine gde <br> se postavlja metodom zavarivanja na licu
						mesta toplim
						<br>
						vazduhom.
					</p>
					<button class="btn btn-primary mr-2" [routerLink]="['/contact'] ">Kontaktirajte nas</button>
				</div>
				<div class="col-6 offset-1">
					<img src="assets/img/bazeni-sa-folijom/slika-5.png" alt="kvadrati">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid px-5  steps padding-bottom_work">
	<div class="row">
		<div class="col-12 background_working  ">
			<h3 class="text-center p-5">Bazeni sa varenom <br> folijom u 3 koraka</h3>
			<div class="row ">
				<div class="col-3 offset-2 align-self-star" id="steps">
					<div class="border">
						<img src="assets/img/betonski-bazeni/slika-6.png" alt="ugovaranje">
						<p class=" text-center pt-5">Izrada projekata</p>
					</div>
				</div>
				<div class="col-3  align-self-center dole" id="steps2">
					<div class="border">
						<img src="assets/img/betonski-bazeni/slika-7.png" alt="Izgradnja">
						<p class=" text-center pt-5">Radovi</p>

					</div>
				</div>

				<div class="col-3 align-self-end dole-2 mb-5 test ">
					<div class="border">
						<img src="assets/img/betonski-bazeni/slika-8.png" alt="Uzivanje">
						<p class=" text-center pt-5">Uživanje</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- who we are -->
<div class="container padding-bottom-who">
	<div class="row">
		<div class="col-6 up-text">
			<p>Bazeni sa folijom</p>
			<h3>Visoko kvalitetne folije po <br> EU standardima</h3>
		</div>
		<div class="col-6 pt-5">
			<p>Palkorplan folija je kvalitetna i ispunjava Evropske norme EN 15836-2 i KSW i poseduje sve potrebne
				karakteristike kao što su – glatkoća, postojanost boja, hemijska neutralnost u dodiru sa vodom, ima
				zaštitni
				sloj na UV zračenje i habanje.
			</p>
			<p class="pt-3">
				Primena Renolit Alkorplan folije je univerzalna, može se izvoditi na raznim podlogama, prilagodljiva je
				bilo kom
				obliku kao što su kružni delovi, rimske stepenice i slično.
			</p>
		</div>
	</div>
</div>

<!-- end who we are -->

<!-- CARD-ONE -->

<div class="container-fluid padding-top-card_one">
	<div class="row px-5">
		<div class="col-sm-12 background_card">
			<div class="row mt-5">
				<div class="col-sm-5 offset-1  mt-5">
					<img class="img-fluid" src="assets/img/bazeni-sa-folijom/slika-6.png" alt="card-slika">
				</div>
				<div class="col-sm-6 mt-5 tex-right">
					<div class="test">
						<h4>Renolit Alkorplan Origin folija</h4>
						<p>Ovaj moderan i večan dizajn koji podseća na granit, kreira <br> savršene refleksije kristalno
							čistih
							voda.
						</p>
						<br>
						<button class="btn btn-primary mt-2 " [routerLink]="['/contact'] ">Zatražite ponudu</button>
						<div class="bottom-right float-right">
							<img src="assets/img/bazeni-sa-folijom/slika-7.png" alt="baner">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- END CARD ONE -->
<!-- CARD TWO -->

<div class="container-fluid padding-top-card_two">
	<div class="row px-5">
		<div class="col-sm-12 background_card">
			<div class="row mt-5">
				<div class="col-sm-6 mt-5  tex-left">
					<div class="test">
						<h4>Renolit Alkorplan Prestige folija</h4>
						<p>Luksuzni, zavodljivi, jedinstveni bazeni u duboko plavim tonovima <br> koji će vas očarati
							na prvi
							pogled i
							pretvoriti vaš dom u <br> elegantnu palatu.
						</p>
						<br>
						<button class="btn btn-primary mt-2 " [routerLink]="['/contact'] ">Zatražite ponudu</button>
						<div class="bottom-left float-left">
							<img src="assets/img/bazeni-sa-folijom/slika-7.png" alt="baner">
						</div>

					</div>
				</div>
				<div class="col-sm-6  mt-5">
					<img class="img-fluid" src="assets/img/bazeni-sa-folijom/slika-8.png" alt="card-slika">
				</div>
			</div>
		</div>
	</div>
</div>

<!-- END CARD TWO -->
<!-- CARD THREE -->


<!-- END CARD THREE -->
<div class="container-fluid padding-top-card_one">
	<div class="row px-5">
		<div class="col-sm-12 background_card">
			<div class="row mt-5">
				<div class="col-sm-5 offset-1  mt-5">
					<img class="img-fluid" src="assets/img/bazeni-sa-folijom/slika-9.png" alt="card-slika">
				</div>
				<div class="col-sm-6 mt-5 tex-right">
					<div class="test">
						<h4>Renolit Alkorplan Relax folija</h4>
						<p>Senzualni, egzotični bazeni sa bojom zlatnog peska i sjajnim <br> tirkiznim odrazima koji će
							Vas i Vaše
							goste odvesti do udaljenih <br> plaža Kariba.

						</p>
						<br>
						<button class="btn btn-primary mt-2 " [routerLink]="['/contact'] ">Zatražite ponudu</button>
						<div class="bottom-right float-right">
							<img src="assets/img/bazeni-sa-folijom/slika-7.png" alt="baner">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- CONSULTATION-BOTTOM -->

<app-konsultacije></app-konsultacije>

<!-- END CONSULTATION-BOTTOM  -->