@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "../../../assets/scss/colors";

#hero .container-fluid .row {
  height: 55vw;
  @include media-breakpoint-only(lg) {
    height: 67vw;
  }
  @include media-breakpoint-down(md) {
    height: 80vw;
  }
}

.folija-cover-background {
  height: 40vw;
  max-height: 100%;
  min-width: 300px;
  background-image: url("https://poolservice.rs/assets/img/bazeni-sa-folijom/naslovna.jpg");
  background-position: center;
  background-size: cover;

  @include media-breakpoint-down(sm) {
    height: 90vh !important;
    background-position: 70% top;
  }

  @include media-breakpoint-down(md) {
    height: 80vh;
  }

  @include media-breakpoint-only(lg) {
    height: 67vh;
  }

  .display-4 {
    @include media-breakpoint-down(md) {
      font-size: 3rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 2rem;
      line-height: 1.3;
    }
  }

  h1 {
    color: #fff;
  }

  p {
    color: #fff;
  }
}

#folija-content {

  h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.750316px;
  }
}


.folija-cover {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}


.cards__background {
  background-color: #E9F7FE;

  img {
    width: 64px;
    height: 64px;
  }

  h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.750316px;
  }
}


.padding-bottom__gallery {
  padding-bottom: 128px;

  .position__center {
    margin-top: 88px;
  }
}

.padding-top-card_one {
  padding-bottom: 172px;

  .background_card {
    background-color: #E9F7FE;
    height: 576px;
  }

  .tex-right {

    .test {
      margin-right: 16.666666%;
    }

    h3 {
      font-weight: 600;
      font-size: 48px;
      line-height: 60px;
    }

    p {
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
    }
  }

  .z-index_postion {
    margin-top: 104px;
  }


  .border {
    background: #EBF4FA;
    border-color: #EBF4FA;
  }

  .btn {
    border-radius: 36px;
  }

  .bottom-right {

    position: absolute;
    bottom: 96px;
    right: 64px;
  }
}


.padding-top-card_two {
  padding-bottom: 172px;


  .background_card {
    background-color: #E9F7FE;
    height: 576px;
  }

  .tex-left {
    .test {
      margin-left: 16.666666%;
    }


    h3 {
      font-weight: 600;
      font-size: 48px;
      line-height: 60px;
    }

    p {
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
    }
  }

  .z-index_postion {
    margin-top: 104px;
  }


  .border {
    background: #EBF4FA;
    border-color: #EBF4FA;
  }

  .btn {
    border-radius: 36px;
  }

  .bottom-left {
    position: absolute;
    bottom: 96px;
    left: 64px;
  }
}


.steps {
  .background_working {
    background-color: #E9F7FE;
    height: 800px;

    h3 {
      font-size: 48px;
      line-height: 48px;
      text-align: center;
      letter-spacing: -1px;
    }
  }


  .border {
    background: #2E79CA;
    box-shadow: 0px 32px 54px rgba(37, 138, 255, 0.224553);
    border-radius: 10px;
    width: 128px;
    height: 128px;

    @include media-breakpoint-down(md) {
      width: 96px;
      height: 96px;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 32px;

      @include media-breakpoint-down(md) {
        margin-top: 24px;
        width: 48px;
        height: auto;
      }
    }
  }


  #steps {

    @include media-breakpoint-down(sm) {
      margin-bottom: 5rem;
    }

    &:nth-last-child(-n+3):after {
      content: url(../../../assets/img/polumontazni-bazeni/strelica-gore.png);
      display: block;
      position: absolute;
      left: 12vw;
      top: 6vh;
      z-index: -1;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }


  #steps2 {
    margin-bottom: 5rem;
    margin-left: 2rem;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }

    &:nth-last-child(-n+3):after {
      content: url(../../../assets/img/polumontazni-bazeni/strelica-dole.png);
      display: block;
      position: absolute;
      left: 12vw;
      top: 4vh;
      z-index: -1;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }


  .dole-2 {
    margin-top: 16rem;
    margin-left: 2rem;

    @include media-breakpoint-down(sm) {
      margin: 0;
    }
  }
}


