<!-- Pool Cover -->

<div id="hero" class="folija-cover-background">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">

        <h1 class="display-2 font-weight-bold">Bazeni sa folijom po želji</h1>
        <p class="mb-5">Za bilo koji oblik i dimenzije moguće je oblaganje bazena folijom, postupkom varenja folije
          na licu mesta</p>
        <a class="btn btn-secondary" role="button" [routerLink]="['/kontakt']">Zatražite ponudu</a>

      </div>
    </div>
  </div>
</div>


<section class="bg-light py-64">
  <div id="folija-content" class="container">
    <div class="row">
      <div class="col-12 col-md-4 mb-5 mb-md-0 text-center">
        <img src="assets/img/polumontazni-bazeni/future-01.svg" alt="slika2" class="img-fluid mb-4" width="64">
        <h4>Raznovrsnoste</h4>
        <p class="text-black-50">Veliki izbor dimenzija i dezena</p>
      </div>
      <div class="col-12 col-md-4 mb-5 mb-md-0 text-center">
        <img src="assets/img/polumontazni-bazeni/future-02.svg" alt="knjiga" class="img-fluid mb-4" width="64">
        <h4>Raznovrsnost dizajna</h4>
        <p class="text-black-50">Otpornost na razvoj bakterija i algi</p>
      </div>
      <div class="col-12 col-md-4 mb-5 mb-md-0 text-center">
        <img src="assets/img/polumontazni-bazeni/future-03.svg" alt="slika2" class="img-fluid mb-4" width="64">
        <h4>Dugotrajnost</h4>
        <p class="text-black-50">Fleksibilan, izdržljiv i vododbojan</p>
      </div>
    </div>
  </div>
</section>


<div class="container my-128">
  <div class="row align-items-center">
    <div class="col-12 col-md-5">
      <h3 class="mb-3">Renolit Alkorplan PVC folija</h3>
      <p class="mb-5">Vodonepropusna ojačana membrana specijalno dizajnirana za unutrašnje oblaganje bazena,
                      debljine 1,5mm. Fleksibilna je tako da prijanja uz površine gde se postavlja metodom
                      zavarivanja na licu mesta toplim vazduhom.
      </p>
      <button class="btn btn-secondary" [routerLink]="['/kontakt']">Kontaktirajte nas</button>
    </div>
    <div class="col-12 col-md-6 offset-md-1">
      <img class="img-fluid" src="assets/img/bazeni-sa-folijom/renolit-bazen.png" alt="Renolit bazen sa folijom">
    </div>
  </div>
</div>

<div class="container-fluid steps my-128">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">3 koraka<br> do bazena iz snova</h2>
      <div class="row justify-content-center d-none d-md-flex my-64 pb-64">
        <div class="col-12 offset-md-1 col-md-3 align-self-start" id="steps">
          <div class="border mr-auto mr-md-0">
            <img src="assets/img/icons/phone.svg" alt="Kontaktirajte nas još danas i zatražite besplatnu ponudu">
            <p class="text-left pt-5 mt-3 h4 font-weight-bold" style="width: 220px">Kontaktirajte nas i zatražite
              ponudu</p>
          </div>
        </div>
        <div class="col-12 col-md-3 align-self-center dole" id="steps2">
          <div class="border mx-auto mx-md-0">
            <img src="assets/img/icons/ponuda.svg" alt="Sprovešćemo Vas kroz ponudu u detaljima">
            <p class="text-left pt-5 mt-3 h4 font-weight-bold" style="width: 220px">Izaberite model bazena koji ste
              oduvek želeli</p>
          </div>
        </div>
        <div class="col-12 col-md-3 align-self-end dole-2 mb-5 test">
          <div class="border ml-auto ml-md-0">
            <img src="assets/img/icons/dvoriste.svg" alt="Uzivanje">
            <p class="text-left pt-5 mt-3 h4 font-weight-bold" style="width: 220px">Opustite se dok Pool Service uradi
              sve ostalo</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center d-block d-md-none my-64 pt-4">
        <div class="col-12 col-md-3 mb-5">
          <div class="border mx-auto">
            <img src="assets/img/icons/phone.svg" alt="Ugovaranje">
          </div>
          <p class="text-center pt-4 px-5 h5 font-weight-bold">Kontaktirajte nas još danas i zatražite besplatnu
            ponudu</p>

        </div>
        <div class="col-12 col-md-3 mb-5">
          <div class="border mx-auto">
            <img src="assets/img/icons/ponuda.svg" alt="Izgradnja">
          </div>
          <p class="text-center pt-4 px-5 h5 font-weight-bold">Sprovešćemo Vas kroz ponudu u detaljima</p>

        </div>
        <div class="col-12 col-md-3 mb-5">
          <div class="border mx-auto">
            <img src="assets/img/icons/dvoriste.svg" alt="Uzivanje">
          </div>
          <p class="text-center pt-4 px-5 h5 font-weight-bold">Prepustite se i gledajte transformaciju Vašeg
            dvorišta</p>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="container pb-128">
  <div class="row">
    <div class="col-12 col-md-6">
      <p class="text-primary text-uppercase">Bazeni sa folijom</p>
      <h3>Visoko kvalitetni bazeni rađeni po EU standardima</h3>
    </div>
    <div class="col-12 col-md-6 pt-line">
      <p>Alkorplan folija je kvalitetna i ispunjava Evropske norme EN 15836-2 i KSW i poseduje sve potrebne
         karakteristike kao što su – glatkoća, postojanost boja, hemijska neutralnost u dodiru sa vodom, ima
         zaštitni sloj na UV zračenje i habanje.</p>
      <p>Primena Renolit Alkorplan folije je univerzalna, može se izvoditi na raznim podlogama, prilagodljiva je
         bilo kom obliku kao što su kružni delovi, rimske stepenice i slično.</p>
    </div>
  </div>
</div>


<section class="bg-light mt-128">
  <div class="container-fluid content">
    <div class="mx-lg-5 mx-sm-0 ">
      <div class="container">
        <div class="row align-items-center py-5">
          <div class="col-12 col-md-6" id="slika-up">
            <img class="img-fluid mb-4 mb-sm-0" src="assets/img/bazeni-sa-folijom/renolit-alkorplan-origin-folija.jpg"
                 alt="card-slika">
          </div>
          <div class="col-12 col-md-6">
            <div class="test">
              <h3 class="mb-4">Renolit Alkorplan Origin folija</h3>
              <p>Ovaj moderan i večan dizajn koji podseća na granit, kreira savršene refleksije kristalno
                 čistih voda.</p>
              <button class="btn btn-secondary border-0 mt-3" [routerLink]="['/kontakt']">Zatražite ponudu</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-128">
  <div class="container-fluid content">
    <div class="mx-lg-5 mx-md-0">
      <div class="container">
        <div class="row align-items-center py-5">
          <div class="col-12 col-md-6 order-2 order-md-1">
            <h3 class="mb-4">Renolit Alkorplan Prestige folija</h3>
            <p>Luksuzni, zavodljivi, jedinstveni bazeni u duboko plavim tonovima <br> koji će vas očarati
               na prvi pogled i pretvoriti vaš dom u elegantnu palatu.
            </p>
            <p>Neka Pool Service uradi sav posao za vas.</p>
            <button class="btn btn-secondary border-0 mt-3" [routerLink]="['/kontakt'] ">Zatražite ponudu</button>
          </div>
          <div class="col-12 col-md-6 order-1 order-md-2">
            <img class="img-fluid mb-4 mb-sm-0 float-md-right"
                 src="assets/img/bazeni-sa-folijom/renolit-alkorplan-prestige-folija.jpg"
                 alt="card-slika">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light mt-128">
  <div class="container-fluid content">
    <div class="mx-lg-5 mx-sm-0 ">
      <div class="container">
        <div class="row align-items-center py-5">
          <div class="col-12 col-md-6" id="slika-up">
            <img class="img-fluid mb-4 mb-sm-0" src="assets/img/bazeni-sa-folijom/renolit-alkorplan-relax-folija.jpg"
                 alt="card-slika">
          </div>
          <div class="col-12 col-md-6">
            <div class="test">
              <h3 class="mb-4">Renolit Alkorplan Relax folija</h3>
              <p>Senzualni, egzotični bazeni sa bojom zlatnog peska i sjajnim <br> tirkiznim odrazima koji će
                 Vas i Vaše goste odvesti do udaljenih plaža Kariba.</p>
              <button class="btn btn-secondary border-0 mt-3" [routerLink]="['/kontakt']">Zatražite ponudu</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- CONSULTATION-BOTTOM -->

<app-konsultacije></app-konsultacije>

<!-- END CONSULTATION-BOTTOM  -->
