<div id="hero" class="betonski-cover-background">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 col-lg-10 col-xl-8">

        <h1 class="display-2">Betonski bazeni</h1>
        <h4 class="mb-5 text-white font-weight-normal">Kvalitet i istrajnost</h4>
        <a class="btn btn-secondary" role="button" [routerLink]="['/kontakt']">Zatražite ponudu</a>

      </div>
    </div>
  </div>
</div>


<section class="bg-light py-64">
  <div id="betonski-content" class="container">
    <div class="row">
      <div class="col-12 col-md-4 mb-5 mb-md-0 text-center">
        <img src="assets/img/betonski-bazeni/unikatno-resenje.svg" alt="Unikatno rešenje" class="img-fluid mb-4 mx-auto"
             width="64">
        <h5>Unikatno rešenje</h5>
        <p class="small">Oblik i dubina bazena po Vašoj želji</p>
      </div>
      <div class="col-12 col-md-4 mb-5 mb-md-0 text-center">
        <img src="assets/img/betonski-bazeni/raznovrsnost%20dizajna.svg" alt="Raznovrsnost dizajna"
             class="img-fluid mb-4 mx-auto" width="64">
        <h5>Raznovrsnost dizajna</h5>
        <p class="small">Veliki izbor ukrasne podloge</p>
      </div>
      <div class="col-12 col-md-4 mb-5 mb-md-0 text-center">
        <img src="assets/img/betonski-bazeni/dugotrajnost.svg" alt="Dugotrajnost" class="img-fluid mb-4 mx-auto" width="64">
        <h5>Dugotrajnost</h5>
        <p class="small">Besprekoran kvalitet i sigurna dugovečnost</p>
      </div>
    </div>
  </div>
</section>

<div class="container my-128">
  <div class="row align-items-center">
    <div class="col-12 col-md-5">
      <h3 class="mb-3">Najkvalitetniji tip bazena</h3>
      <p class="mb-5">Armirano betonski bazeni mogu biti različitog oblika i dimenzija. Za njih važi da su najbolji,
                      najistrajniji i najzahtevniji za izgradnju. Obično su obloženi keramičkim pločicama a
                      u novije vreme staklenim mozaik pločicama raznih dezena, bordura i slika.</p>
      <button class="btn btn-secondary" [routerLink]="['/kontakt']">Kontaktirajte nas</button>
    </div>
    <div class="col-12 col-md-6 offset-md-1">
      <img class="img-fluid" src="assets/img/betonski-bazeni/najkvalitetniji-tip-bazena.jpg" alt="kvadrati">
    </div>
  </div>
</div>


<div class="container-fluid steps mt-128 mb-64">
  <div class="row">
    <div class="col-12">
      <h3 class="text-left text-md-center">Brzo i lako do<br>Fututre Pool bazena</h3>
      <div class="row justify-content-center my-64">
        <div class="col-12 offset-md-1 col-md-3 align-self-start" id="steps">
          <div class="border mr-auto mr-md-0">
            <img src="assets/img/korak-01.svg" alt="Ugovaranje">
            <p class=" text-center pt-5">Izrada projekata</p>
          </div>
        </div>
        <div class="col-12 col-md-3 align-self-center dole" id="steps2">
          <div class="border mx-auto mx-md-0">
            <img src="assets/img/korak-02.svg" alt="Izgradnja">
            <p class=" text-center pt-5">Radovi</p>
          </div>
        </div>
        <div class="col-12 col-md-3 align-self-end dole-2 mb-5 test">
          <div class="border ml-auto ml-md-0">
            <img src="assets/img/korak-03.svg" alt="Uzivanje">
            <p class=" text-center pt-5">Uživanje</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container pb-128">
  <div class="row">
    <div class="col-12 col-md-5">
      <p class="text-primary text-uppercase">Betonski bazeni</p>
      <h2>Dimenzije i izgled po željama klijenta</h2>
    </div>
    <div class="col-12 col-md-6 offset-md-1 pt-line">
      <p>Potrebno je uraditi projekat sa preciznim statičkim proračunima i gradjevinske radove. Konstrukcija
         bazena mora biti visoko armirana, betoniranje zidova i dna se radi bez prekida, beton obavezno mora da se
         vibrira i moraju se dodati aditivi za vodonepropusnost.</p>
      <p>U zidove bazena treba ugraditi potrebne elemente pre betoniranja, to jest prelive – skimer, prodore za
         betonski zid za mlaznice, slivnik i podvodni reflektor.</p>
    </div>
  </div>
</div>

<div class="container my-64">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h3 class="text-center">Galerija naših uspešno završenih betonskih bazena</h3>
    </div>
  </div>
</div>

<div id="polumontazniGalerija" class="swiper-container mb-128" [swiper]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img class="img-fluid" src="assets/img/betonski-bazeni/slika-1.jpg" alt="">
    </div>
    <div class="swiper-slide">
      <img class="img-fluid" src="assets/img/betonski-bazeni/slika-2.jpg" alt="">
    </div>
    <div class="swiper-slide">
      <img class="img-fluid" src="assets/img/betonski-bazeni/slika-3.jpg" alt="">
    </div>
    <div class="swiper-slide">
      <img class="img-fluid" src="assets/img/betonski-bazeni/slika-4.jpg" alt="">
    </div>
    <div class="swiper-slide">
      <img class="img-fluid" src="assets/img/betonski-bazeni/slika-5.jpg" alt="">
    </div>
    <div class="swiper-slide">
      <img class="img-fluid" src="assets/img/betonski-bazeni/slika-6.jpg" alt="">
    </div>
    <div class="swiper-slide">
      <img class="img-fluid" src="assets/img/betonski-bazeni/slika-7.jpg" alt="">
    </div>
    <div class="swiper-slide">
      <img class="img-fluid" src="assets/img/betonski-bazeni/slika-8.jpg" alt="">
    </div>
  </div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<app-konsultacije></app-konsultacije>
