.header__padding-top {
    padding-top: 128px;
    padding-bottom: 128px;
  
}

.oprema {
    h5 {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
    }

    a {
        font-weight: bold;
        font-size: 17px;
        line-height: 25px;
        color: #304659;
    }
    .background-color {
        background-color: #E9F7FE;

    }
}

#oprema__padding-bottom {
    padding-bottom: 64px;
}