@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "../../../assets/scss/colors";

.oprema {
  .card {
    height: 304px;
    box-shadow: 0 0 0 #000;
    @include media-breakpoint-down(md) {
      height: auto;
    }
  }

  h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
  }


  .background-color {
    background-color: #E9F7FE;

  }
}

#oprema__padding-bottom {
  padding-bottom: 64px;
}
