<!-- SECTION NASLOV -->
<div class="container header__padding-top">
	<div class="row">
		<div class="col-12 text-center">
			<h1>Dodatna Oprema</h1>
		</div>
	</div>
</div>
<!-- END SECTION NASLOV -->
<!-- OPREMA -->
<div class="container oprema">
  <div class="row">
    <div class="col-6">
      <div class="card border-0 background-color">
        <div class="row no-gutters">

          <div class="col-sm-6">
            <div class="card-body">
              <h5 class="card-title">Filtriranje vode</h5>
              <p class="card-text">pumpe i filteri</p>
              <a [routerLink]="['filtrianje-vode']">Pogledajte ponudu ></a>
						</div>
					</div>

					<div class="col-sm-6 pr-5">
						<img src="assets/img/dodatna-oprema/slika-1.png" class="card-img-top h-100" alt="pumpa-bazena">
					</div>
				</div>
			</div>
		</div>

		<div class="col-6">
			<div class="card border-0 background-color">
				<div class="row no-gutters">

					<div class="col-sm-6">
						<div class="card-body">
							<h5 class="card-title">Cirkulacija vode</h5>
							<p class="card-text">skimeri, mlaznice, slivnik, prelivne rešetke</p>
							<a [routerLink]="['cirkulacija-vode']">Pogledajte ponudu ></a>
						</div>
					</div>

					<div class="col-sm-6">
						<img src="assets/img/dodatna-oprema/slika-2.png" class="card-img-top h-100" alt="...">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container pt-4  oprema ">
	<div class="row">
		<div class="col-6">
			<div class="card border-0 background-color">
				<div class="row no-gutters">

					<div class="col-sm-6">
						<div class="card-body">
							<h5 class="card-title">Sredstva za održavanje vode</h5>
							<p class="card-text"></p>
							<a [routerLink]="['sredstva-za-odrzavanje-bazena']">Pogledajte ponudu ></a>
						</div>
					</div>

					<div class="col-sm-6">
						<img src="assets/img/dodatna-oprema/sredstva.jpg" class="card-img-top h-100" alt="sredstva"
							style="width: 200px; height: 200px;">
					</div>
				</div>
			</div>
		</div>

		<div class="col-6">
			<div class="card border-0 background-color">
				<div class="row no-gutters">

					<div class="col-sm-6">
						<div class="card-body">
							<h5 class="card-title">Dizajn podloge</h5>
							<p class="card-text">mozaik i pvc folije</p>
							<a [routerLink]="['mozaik-folije']">Pogledajte ponudu ></a>
						</div>
					</div>

					<div class="col-sm-6">
						<img src="assets/img/dodatna-oprema/slika-4.png" class="card-img-top h-100" alt="mozaik">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container pt-4  oprema">
	<div class="row">
		<div class="col-6">
			<div class="card border-0 background-color">
				<div class="row no-gutters">

					<div class="col-sm-6">
						<div class="card-body">
							<h5 class="card-title">Osvetljenje</h5>
							<p class="card-text">Reflektori halogen i led</p>
							<a [routerLink]="['osvetljenje']">Pogledajte ponudu ></a>
						</div>
					</div>

					<div class="col-sm-6">
						<img src="assets/img/dodatna-oprema/slika-3.png" class="card-img-top h-100" alt="sijalice bazena"
							style="width: 194px; height: 137px;">
					</div>
				</div>
			</div>
		</div>

		<div class="col-6">
			<div class="card border-0 background-color">
				<div class="row no-gutters">

					<div class="col-sm-6">
						<div class="card-body">
							<h5 class="card-title">Stepenice</h5>

							<a [routerLink]="['stepenice']">Pogledajte ponudu ></a>
						</div>
					</div>

					<div class="col-sm-6">
						<img src="assets/img/dodatna-oprema/01.png" class="card-img-top h-100" alt="stepenice"
							style="width: 120px; height: 50px;">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container pt-4  oprema" id="oprema__padding-bottom">
	<div class="row">
		<div class="col-6">
			<div class="card border-0 background-color">
				<div class="row no-gutters">

					<div class="col-sm-6">
						<div class="card-body">
							<h5 class="card-title pt-5">Usisivači</h5>
							<a [routerLink]="['usisivaci']">Pogledajte ponudu ></a>
						</div>
					</div>

					<div class="col-sm-6">
						<img src="assets/img/dodatna-oprema/usisivaci.jpg" class="card-img-top h-100 pt-5" alt="usisivaci"
							style="width: 200px;">
					</div>
				</div>
			</div>
		</div>

		<div class="col-6">
			<div class="card border-0 background-color">
				<div class="row no-gutters">

					<div class="col-sm-6">
						<div class="card-body">
							<h5 class="card-title pt-5">Body Jet</h5>

							<a [routerLink]="['body-jet']">Pogledajte ponudu ></a>
						</div>
					</div>

					<div class="col-sm-6">
						<img src="assets/img/dodatna-oprema/body-jet.jpg" class="card-img-top h-100 pt-5" alt="body-jet"
							style="width: 200px;">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-konsultacije></app-konsultacije>
