<!-- SECTION NASLOV -->
<div class="container header__padding-top">
	<div class="row">
		<div class="col-12 text-center">
			<h1>Dodatna Oprema</h1>
			<p>Minimalism, optimization and precision, your business is skyrocketing</p>
		</div>
	</div>
</div>
<!-- END SECTION NASLOV -->
<!-- OPREMA -->
<div class="container   oprema">
	<div class="row">
		<div class="col-6">
			<div class="card border-0 background-color">
				<div class="row no-gutters">

					<div class="col-sm-6">
						<div class="card-body">
							<h5 class="card-title">Filtrianje vode</h5>
							<p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized
								in
								HTML5, CSS3</p>
							<a [routerLink]="['filtrianje-vode']">Action link ></a>
						</div>
					</div>

					<div class="col-sm-6">
						<img src="../../../assets/img/dodatna-oprema/slika-1.png" class="card-img-top h-100" alt="...">
					</div>
				</div>
			</div>
		</div>

		<div class="col-6">
			<div class="card border-0 background-color">
				<div class="row no-gutters">

					<div class="col-sm-6">
						<div class="card-body">
							<h5 class="card-title">Cirkulacija vode</h5>
							<p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized
								in
								HTML5, CSS3</p>
							<a href="#">Action link ></a>
						</div>
					</div>

					<div class="col-sm-6">
						<img src="../../../assets/img/dodatna-oprema/slika-1.png" class="card-img-top h-100" alt="...">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container pt-4  oprema ">
	<div class="row">
		<div class="col-6">
			<div class="card border-0 background-color">
				<div class="row no-gutters">

					<div class="col-sm-6">
						<div class="card-body">
							<h5 class="card-title">Sredstvo za odrzavanje vode</h5>
							<p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized
								in
								HTML5, CSS3</p>
							<a href="#">Action link ></a>
						</div>
					</div>

					<div class="col-sm-6">
						<img src="../../../assets/img/dodatna-oprema/slika-1.png" class="card-img-top h-100" alt="...">
					</div>
				</div>
			</div>
		</div>

		<div class="col-6">
			<div class="card border-0 background-color">
				<div class="row no-gutters">

					<div class="col-sm-6">
						<div class="card-body">
							<h5 class="card-title">Dizajn podloge</h5>
							<p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized
								in
								HTML5, CSS3</p>
							<a href="#">Action link ></a>
						</div>
					</div>

					<div class="col-sm-6">
						<img src="../../../assets/img/dodatna-oprema/slika-1.png" class="card-img-top h-100" alt="...">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container pt-4  oprema" id="oprema__padding-bottom">
	<div class="row">
		<div class="col-6">
			<div class="card border-0 background-color">
				<div class="row no-gutters">

					<div class="col-sm-6">
						<div class="card-body">
							<h5 class="card-title">Usisivaci</h5>
							<p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized
								in
								HTML5, CSS3</p>
							<a href="#">Action link ></a>
						</div>
					</div>

					<div class="col-sm-6">
						<img src="../../../assets/img/dodatna-oprema/slika-1.png" class="card-img-top h-100" alt="...">
					</div>
				</div>
			</div>
		</div>

		<div class="col-6">
			<div class="card border-0 background-color">
				<div class="row no-gutters">

					<div class="col-sm-6">
						<div class="card-body">
							<h5 class="card-title">Ostala oprema</h5>
							<p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized
								in
								HTML5, CSS3</p>
							<a href="#">Action link ></a>
						</div>
					</div>

					<div class="col-sm-6">
						<img src="../../../assets/img/dodatna-oprema/slika-1.png" class="card-img-top h-100" alt="...">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-konsultacije></app-konsultacije>