<app-navbar></app-navbar>

<!-- SECTION NASLOV -->
<div class="container mt-128 mb-64">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Dodatna Oprema</h1>
    </div>
  </div>
</div>
<!-- END SECTION NASLOV -->

<!-- OPREMA -->
<div class="container oprema mb-128">
  <div class="row">
    <div class="col-12 col-md-6 pb-5">
      <div class="card p-2 pl-md-4 pr-md-4 pt-md-5 pb-md-5 border-0 bg-light">
        <div class="row no-gutters my-auto align-items-center">

          <div class="col-12 col-md-6">
            <div class="card-body">
              <h5>Filtriranje vode</h5>
              <p>pumpe i filteri</p>
              <a [routerLink]="['filtrianje-vode']">Pogledajte ponudu ></a>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <img src="assets/img/dodatna-oprema/slika-1.png" class="img-fluid p-4 p-md-0" alt="Pumpa bazena">
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 pb-5">
      <div class="card p-2 pl-md-4 pr-md-4 pt-md-5 pb-md-5 border-0 bg-light">
        <div class="row no-gutters my-auto align-items-center">
          <div class="col-12 col-md-6">
            <div class="card-body">
              <h5>Cirkulacija vode</h5>
              <p>skimeri, mlaznice, slivnik, prelivne rešetke</p>
              <a [routerLink]="['cirkulacija-vode']">Pogledajte ponudu ></a>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <img src="assets/img/dodatna-oprema/slika-2.png" class="img-fluid" alt="Cirkulacija vode">
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 pb-5">
      <div class="card p-2 pl-md-4 pr-md-4 pt-md-5 pb-md-5 border-0 bg-light">
        <div class="row no-gutters my-auto align-items-center">

          <div class="col-12 col-md-6">
            <div class="card-body">
              <h5>Sredstva za održavanje vode</h5>
              <p></p>
              <a [routerLink]="['sredstva-za-odrzavanje-bazena']">Pogledajte ponudu ></a>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <img src="assets/img/dodatna-oprema/sredstva.jpg" class="img-fluid p-4 p-md-0"
                 alt="Sredstva za održavanje vode">
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 pb-5">
      <div class="card p-2 pl-md-4 pr-md-4 pt-md-5 pb-md-5 border-0 bg-light">
        <div class="row no-gutters my-auto align-items-center">

          <div class="col-12 col-md-6">
            <div class="card-body">
              <h5>Dizajn podloge</h5>
              <p>Mozaik i pvc folije</p>
              <a [routerLink]="['mozaik-folije']">Pogledajte ponudu ></a>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <img src="assets/img/dodatna-oprema/slika-4.png" class="img-fluid p-4 p-md-0" alt="Dizajn podloge">
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 pb-5">
      <div class="card p-2 pl-md-4 pr-md-4 pt-md-5 pb-md-5 border-0 bg-light">
        <div class="row no-gutters my-auto align-items-center">

          <div class="col-12 col-md-6">
            <div class="card-body">
              <h5>Osvetljenje</h5>
              <p>Reflektori halogen i led</p>
              <a [routerLink]="['osvetljenje']">Pogledajte ponudu ></a>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <img src="assets/img/dodatna-oprema/slika-3.png" class="img-fluid p-4 p-md-0"
                 alt="Osvetljenje sijalice za bazene">
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 pb-5">
      <div class="card p-2 pl-md-4 pr-md-4 pt-md-5 pb-md-5 border-0 bg-light">
        <div class="row no-gutters my-auto align-items-center">

          <div class="col-12 col-md-6">
            <div class="card-body">
              <h5>Stepenice</h5>
              <a [routerLink]="['stepenice']">Pogledajte ponudu ></a>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <img src="assets/img/dodatna-oprema/01.png" class="img-fluid p-4 p-md-0" alt="Stepenice">
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 pb-5">
      <div class="card p-2 pl-md-4 pr-md-4 pt-md-5 pb-md-5 border-0 bg-light">
        <div class="row no-gutters my-auto align-items-center">

          <div class="col-12 col-md-6">
            <div class="card-body">
              <h5 class="card-title">Usisivači</h5>
              <a [routerLink]="['usisivaci']">Pogledajte ponudu ></a>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <img src="assets/img/dodatna-oprema/usisivaci.jpg" class="img-fluid p-4 p-md-0" alt="Usisivači">
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 pb-5">
      <div class="card p-2 pl-md-4 pr-md-4 pt-md-5 pb-md-5 border-0 bg-light">
        <div class="row no-gutters my-auto align-items-center">

          <div class="col-12 col-md-6">
            <div class="card-body">
              <h5 class="card-title">Body Jet</h5>

              <a [routerLink]="['body-jet']">Pogledajte ponudu ></a>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <img src="assets/img/dodatna-oprema/body-jet.jpg" class="img-fluid p-4 p-md-0" alt="Body Jet">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<app-konsultacije></app-konsultacije>
