<div class="container my-128">
  <div class="row align-items-center justify-content-center">
    <div class="col-8 text-center">
      <h2>Naša ponuda</h2>
      <p>POOL SERVICE se uspešno bavi prodajom bazena i bazenske opreme po sistemu ključ u ruke,
        održavanje postojećih bazena, isporuka i montažom sauna i ostale rekreacione opreme.
      </p>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-md-3 pb-3">
      <div class="card h-100 text-center">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/icons/projektovanje.svg" alt="Projektovanje bazena">
          </div>
          <h5 class="card-title font-weight-bold">Planiranje</h5>
          <p class="text-black-50">Vama na raspolaganju, od ideje do realizacije.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 pb-3">
      <div class="card h-100 text-center ">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/icons/izgradnja.svg" alt="Izgradnja bazena">
          </div>
          <h5 class="card-title font-weight-bold">Izgradnja</h5>
          <p class="text-black-50">Dugogodišnje iskustvo, ugradnja samo najkvalitetnije opreme.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 pb-3">
      <div class="card h-100 text-center">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/icons/odrzavanje.svg" alt="Odrzavanje bazena">
          </div>
          <h5 class="card-title font-weight-bold">Održavanje</h5>
          <p class="text-black-50">Jedina firma sa najvećim iskustvom održavanja bazena.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 pb-3 ">
      <div class="card h-100 text-center">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/icons/oprema.svg" alt="Oprema za bazene">
          </div>
          <h5 class="card-title font-weight-bold">Oprema</h5>
          <p class="text-black-50">Posedujemo rezervne delove za svu našu opremu.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <button class="btn btn-secondary border-0"
            [routerLink]="['/kontakt'] ">Kontaktiraj nas za više informacija
    </button>
  </div>
</div>
