.naslov__pading-top {

    padding-top: 64px;
    padding-bottom: 80px;
    .justify {
        text-align: justify;
        margin-left: 300px;
    }
    
   
}


.btn {
    background-color: #ff8125;
}