<div class="container naslov__pading-top">
  <div class="row">
    <div class="col-12 text-left text-md-center">
      <h2 class="pb-5">Sredstva za održavanje vode</h2>
      <img src="assets/img/sredstva-za-bazen/sredstva.jpg" class="img-fluid" alt="Sredstva za odrzavanje"> <br>
      <p class="pt-5">
        Pool Service u svojoj ponudi ima kompletan asortiman hemijskih proizvoda za zaštitu vode. <br>
        Jedan od najznačajnih segmenata u održavanju bistre i zdrave vode. <br>
      </p>
      <p>
        – Sredstvo za održavanje vode Maxi hlor, tablete od 200g, sporo topivi hlor <br>
        - Sredstvo za šokiranje vode hlorni Granulat, 1kg pakovanje, brzo topivi hlor.<br>
        – Sredstvo za održavanje vode Algex sredstvo protiv stvaranja algi <br>
        – Sredstvo za održavanje vode pH minus, snižava pH vrednost <br>
        – Test kit, meri količinu hlora i pH <br>
        – Sredstvo za održavanje vode Mini hlor, tablete od 20g, brzo topivi hlor <br>
        – Sredstvo za održavanje vode Flokulant, bistri vodu
      </p>


      <button class="btn btn-primary btn-lg border-0 mt-5" [routerLink]="['/contact'] ">Kontaktirajte
                                                                                        nas
      </button>
    </div>
  </div>
</div>

<app-konsultacije></app-konsultacije>
