<!-- IMAGE-TOP -->




<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">

            <div class="float-left" style="position: absolute; top: 50%;
            left: 25%;
            transform: translate(-100%, -50%); font-size: 96px; color: #fff; font: bold;">
                <h1>Blog</h1>
            </div>
            <img src="../../../assets/img/blog/room-5LRUg3IwNpI-unsplash.png" alt="blog-pocetna-slika">



        </div>

    </div>
</div>
<!-- END IMAGE-TOP -->

<!-- TOGGLE-MENU -->
<div class="container   padding-top_menu">
    <div class="row">
        <div class="col-sm-12  ">
            <span class="menu_list ">
                <a class="">Sve</a>
                <a class="ml-5">Programming & Tech</a>
                <a class="ml-5">Graphic Design</a>
                <a class="ml-5">Digital Marketing</a>
                <a class="ml-5">SaaS Tools</a>
                <a class="ml-5">Website Builder</a>
                <a class="ml-5">Analystics</a>
                <a class="ml-5">Writing</a>

            </span>




        </div>
    </div>
</div>
<!-- END TOOGLE-MENU -->

<!-- BLOG-CARDS -->
<div class="container padding-top_blog_card">
    <div class="row">

        <div class="col-lg-4">
            <img class="img-blog_card " src="../../../assets/img/blog/Base.png" alt="Generic placeholder image">
            <div class="ml-5">
                <p class="smallText-blog_card">Products</p>
                <p class="mainText-blog_card">All our physical products that we have branded and sold</p>
                <a class="link-blog_card " [routerLink]="['post-1']">READ MORE</a>
            </div>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-blog_card " src="../../../assets/img/blog/Base.png" alt="Generic placeholder image">
            <div class="ml-5">
                <p class="smallText-blog_card">Products</p>
                <p class="mainText-blog_card">All our physical products that we have branded and sold</p>
                <p><a class="link-blog_card" href="#">READ MORE</a></p>
            </div>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-blog_card " src="../../../assets/img/blog/Base.png" alt="Generic placeholder image">
            <div class="ml-5">
                <p class="smallText-blog_card">Products</p>
                <p class="mainText-blog_card">All our physical products that we have branded and sold</p>
                <p><a class="link-blog_card" href="#">READ MORE</a></p>
            </div>
        </div><!-- /.col-lg-4 -->


        <div class="col-lg-4">
            <img class="img-blog_card " src="../../../assets/img/blog/Base.png" alt="Generic placeholder image">
            <div class="ml-5">
                <p class="smallText-blog_card">Products</p>
                <p class="mainText-blog_card">All our physical products that we have branded and sold</p>
                <p><a class="link-blog_card" href="#">READ MORE</a></p>
            </div>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-blog_card " src="../../../assets/img/blog/Base.png" alt="Generic placeholder image">
            <div class="ml-5">
                <p class="smallText-blog_card">Products</p>
                <p class="mainText-blog_card">All our physical products that we have branded and sold</p>
                <p><a class="link-blog_card" href="#">READ MORE</a></p>
            </div>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-blog_card " src="../../../assets/img/blog/Base.png" alt="Generic placeholder image">
            <div class="ml-5">
                <p class="smallText-blog_card">Products</p>
                <p class="mainText-blog_card">All our physical products that we have branded and sold</p>
                <p><a class="link-blog_card" href="#">READ MORE</a></p>
            </div>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-blog_card " src="../../../assets/img/blog/Base.png" alt="Generic placeholder image">
            <div class="ml-5">
                <p class="smallText-blog_card">Products</p>
                <p class="mainText-blog_card">All our physical products that we have branded and sold</p>
                <p><a class="link-blog_card" href="#">READ MORE</a></p>
            </div>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-blog_card " src="../../../assets/img/blog/Base.png" alt="Generic placeholder image">
            <div class="ml-5">
                <p class="smallText-blog_card">Products</p>
                <p class="mainText-blog_card">All our physical products that we have branded and sold</p>
                <p><a class="link-blog_card" href="#">READ MORE</a></p>
            </div>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-blog_card " src="../../../assets/img/blog/Base.png" alt="Generic placeholder image">
            <div class="ml-5">
                <p class="smallText-blog_card">Products</p>
                <p class="mainText-blog_card">All our physical products that we have branded and sold</p>
                <p><a class="link-blog_card" href="#">READ MORE</a></p>
            </div>
        </div><!-- /.col-lg-4 -->



    </div>
</div>
<!-- END BLOG-CARDS -->


<!-- CONSULTATION-BOTTOM -->
<div class="container-fluid consultation_container py-4">
    <div class="row">
        <div class="col-sm-12">
            <div class="container">


                <div class="float-left mt-5 p-xl-3
            " style="color: #fff;">
                    <h4>Besplatne konsultacije</h4>
                    <h4> bricks-and-clicks innovation.
                    </h4>
                </div>
                <div class="float-right mt-5 p-xl-4">
                    <button class="btn  rounded p-3" style="background:  #FF8125; color: #fff;">Klikni ovde</button>
                </div>


            </div>
        </div>
    </div>

</div>

<!-- END CONSULTATION-BOTTOM  -->
<router-outlet></router-outlet>