<!-- IMAGE-TOP -->


<div class="container-fluid px-5">
  <div class="jumbotron p-5 p-md-5 text-white blog-cover">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-6">
          <h1 class="display-3">Blog</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END IMAGE-TOP -->

<!-- TOGGLE-MENU -->
<div class="container padding-top__menu">
  <div class="row">
    <div class="col-sm-12">
      <span class="menu_list ">
        <a class="">Sve</a>
        <a class="ml-5">Programming & Tech</a>
        <a class="ml-5">Graphic Design</a>
        <a class="ml-5">Digital Marketing</a>
        <a class="ml-5">SaaS Tools</a>
        <a class="ml-5">Website Builder</a>
        <a class="ml-5">Analystics</a>
        <a class="ml-5">Writing</a>
      </span>
    </div>
  </div>
</div>
<!-- END TOOGLE-MENU -->

<!-- BLOG-CARDS -->
<div class="container padding-y__blog">
  <div class="row">

    <div class="col-lg-4">
      <img class="img-fluid" src="../../../assets/img/blog/Base.png" alt="Generic placeholder image">
      <div class="mt-4 mb-5">
        <p class="smallText-blog_card">Products</p>
        <h5 class="">All our physical products that we have branded and sold</h5>
        <a class="link-blog_card" [routerLink]="['post-1']">READ MORE</a>
      </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <img class="img-fluid" src="../../../assets/img/blog/Base.png" alt="Generic placeholder image">
      <div class="mt-4 mb-5">
        <p class="smallText-blog_card">Products</p>
        <h5 class="">All our physical products that we have branded and sold</h5>
        <a class="link-blog_card" href="#">READ MORE</a>
      </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <img class="img-fluid" src="../../../assets/img/blog/Base.png" alt="Generic placeholder image">
      <div class="mt-4 mb-5">
        <p class="smallText-blog_card">Products</p>
        <h5 class="">All our physical products that we have branded and sold</h5>
        <a class="link-blog_card" href="#">READ MORE</a>
      </div>
    </div><!-- /.col-lg-4 -->


    <div class="col-lg-4">
      <img class="img-fluid" src="../../../assets/img/blog/Base.png" alt="Generic placeholder image">
      <div class="mt-4 mb-5">
        <p class="smallText-blog_card">Products</p>
        <h5 class="">All our physical products that we have branded and sold</h5>
        <a class="link-blog_card" href="#">READ MORE</a>
      </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <img class="img-fluid" src="../../../assets/img/blog/Base.png" alt="Generic placeholder image">
      <div class="mt-4 mb-5">
        <p class="smallText-blog_card">Products</p>
        <h5 class="">All our physical products that we have branded and sold</h5>
        <a class="link-blog_card" href="#">READ MORE</a>
      </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <img class="img-fluid" src="../../../assets/img/blog/Base.png" alt="Generic placeholder image">
      <div class="mt-4 mb-5">
        <p class="smallText-blog_card">Products</p>
        <h5 class="">All our physical products that we have branded and sold</h5>
        <a class="link-blog_card" href="#">READ MORE</a>
      </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <img class="img-fluid" src="../../../assets/img/blog/Base.png" alt="Generic placeholder image">
      <div class="mt-4 mb-5">
        <p class="smallText-blog_card">Products</p>
        <h5 class="">All our physical products that we have branded and sold</h5>
        <a class="link-blog_card" href="#">READ MORE</a>
      </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <img class="img-fluid" src="../../../assets/img/blog/Base.png" alt="Generic placeholder image">
      <div class="mt-4 mb-5">
        <p class="smallText-blog_card">Products</p>
        <h5 class="">All our physical products that we have branded and sold</h5>
        <a class="link-blog_card" href="#">READ MORE</a>
      </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <img class="img-fluid" src="../../../assets/img/blog/Base.png" alt="Generic placeholder image">
      <div class="mt-4 mb-5">
        <p class="smallText-blog_card">Products</p>
        <h5 class="">All our physical products that we have branded and sold</h5>
        <a class="link-blog_card" href="#">READ MORE</a>
      </div>
    </div><!-- /.col-lg-4 -->


  </div>
</div>
<!-- END BLOG-CARDS -->


<!-- CONSULTATION-BOTTOM -->
<div class="container-fluid consultation py-4">
  <div class="container">
    <div class="row my-5 justify-content-between align-items-center">
      <div class="col-6 text-left">
        <h4 class="text-white">Besplatne konsultacije <br> bricks-and-clicks innovation.</h4>
      </div>
      <div class="col-6 text-right">
        <button class="btn btn-secondary rounded p-3">Klikni ovde</button>
      </div>
    </div>
  </div>

</div>

<!-- END CONSULTATION-BOTTOM  -->
<router-outlet></router-outlet>
