<!-- IMAGE-TOP -->


<div class="container-fluid px-5">
  <div class="jumbotron p-5 p-md-5 text-white blog-cover">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-6">
          <h1 class="display-3">Blog</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END IMAGE-TOP -->


<!-- BLOG-CARDS -->
<div class="container padding-y__blog">
  <div class="row">

    <div class="col-lg-4">
      <img class="img-fluid" src="assets/img/blog/Base.png" alt="Generic placeholder image">
      <div class="mt-4 mb-5">
        <p class="smallText-blog_card">Products</p>
        <h5 class="">All our physical products that we have branded and sold</h5>
        <a class="link-blog_card" [routerLink]="['post-1']">READ MORE</a>
      </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <img class="img-fluid" src="assets/img/blog/Base.png" alt="Generic placeholder image">
      <div class="mt-4 mb-5">
        <p class="smallText-blog_card">Products</p>
        <h5 class="">All our physical products that we have branded and sold</h5>
        <a class="link-blog_card" href="#">READ MORE</a>
      </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <img class="img-fluid" src="assets/img/blog/Base.png" alt="Generic placeholder image">
      <div class="mt-4 mb-5">
        <p class="smallText-blog_card">Products</p>
        <h5 class="">All our physical products that we have branded and sold</h5>
        <a class="link-blog_card" href="#">READ MORE</a>
      </div>
    </div><!-- /.col-lg-4 -->


    <div class="col-lg-4">
      <img class="img-fluid" src="assets/img/blog/Base.png" alt="Generic placeholder image">
      <div class="mt-4 mb-5">
        <p class="smallText-blog_card">Products</p>
        <h5 class="">All our physical products that we have branded and sold</h5>
        <a class="link-blog_card" href="#">READ MORE</a>
      </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <img class="img-fluid" src="assets/img/blog/Base.png" alt="Generic placeholder image">
      <div class="mt-4 mb-5">
        <p class="smallText-blog_card">Products</p>
        <h5 class="">All our physical products that we have branded and sold</h5>
        <a class="link-blog_card" href="#">READ MORE</a>
      </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <img class="img-fluid" src="assets/img/blog/Base.png" alt="Generic placeholder image">
      <div class="mt-4 mb-5">
        <p class="smallText-blog_card">Products</p>
        <h5 class="">All our physical products that we have branded and sold</h5>
        <a class="link-blog_card" href="#">READ MORE</a>
      </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <img class="img-fluid" src="assets/img/blog/Base.png" alt="Generic placeholder image">
      <div class="mt-4 mb-5">
        <p class="smallText-blog_card">Products</p>
        <h5 class="">All our physical products that we have branded and sold</h5>
        <a class="link-blog_card" href="#">READ MORE</a>
      </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <img class="img-fluid" src="assets/img/blog/Base.png" alt="Generic placeholder image">
      <div class="mt-4 mb-5">
        <p class="smallText-blog_card">Products</p>
        <h5 class="">All our physical products that we have branded and sold</h5>
        <a class="link-blog_card" href="#">READ MORE</a>
      </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <img class="img-fluid" src="assets/img/blog/Base.png" alt="Generic placeholder image">
      <div class="mt-4 mb-5">
        <p class="smallText-blog_card">Products</p>
        <h5 class="">All our physical products that we have branded and sold</h5>
        <a class="link-blog_card" href="#">READ MORE</a>
      </div>
    </div><!-- /.col-lg-4 -->


  </div>
</div>
<!-- END BLOG-CARDS -->


<!-- CONSULTATION-BOTTOM -->

<app-konsultacije></app-konsultacije>
<!-- END CONSULTATION-BOTTOM  -->
<router-outlet></router-outlet>