.naslov__pading-top {
    padding-top: 64px;
    padding-bottom: 104px;
    .plava {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 2px;
        color: #175CFF;
    }
}

.cards__padding-bottom {
    padding-bottom: 104px;
    .naslov {
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 25px;
    }
    .btn {
        background-color: #ff8125;
    }

}

.cards__padding-bottom_two {
    padding-bottom: 104px;
    .img{
        width: 200px;
        height: 200px;
    }

    .naslov {
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 25px;
    }
    .btn {
        background-color: #ff8125;
    }

}
