<div class="container naslov__pading-top">
	<div class="row">
		<div class="col-6 ">
			<p class="plava">DODATNA OPREMA</p>
			<h2>Filtriranje vode</h2>
		</div>
		<div class="col-6 pt-5">
			<p>Peščani Filteri i Pumpe služe za filtriranje bazenske vode. Oni omogućavaju da voda bude čista i bistra.
				Isporučuje se u kompletu
				koji čini: grubi filter sa pumpom, peščani filter, šestostepeni upravljački ventil, postolje i kvarcni
				pesak.
				Postoje kapaciteti od 5m3/h, 8m3/h,
				12m3/h, 14m3/h i veći. </p>
			<p>PUMPE</p>
			<p>U ponudi imamo nekoliko poznatih prozivodjaca kao sto su SPek Pumpen, Astrapool, IML. Firma SPeck Pumpen
				iz
				Nemacke je renomirana
				i poznata po svojim visokokvalitetnim prozivodima a u svom asortimanu nudi velik izbor bazenskih pumpi
			</p>

		</div>
	</div>
</div>

<div class="container cards__padding-bottom ">
	<div class="row">
		<div class="col-12">
			<div class="text-center">
				<h3 class="pb-5">Pumpe</h3>

			</div>
			<div class="row">
				<div class="col pt-5">
					<img class="card-img-top" src="assets/img/filtrianje-bazena/logo-1.png" alt="logo cap">


				</div>
				<div class="col ">
					<img class="card-img-top" src="assets/img/filtrianje-bazena/021.jpg" alt="Card image cap">
					<p class="naslov pt-2 pl-5">Magic-Speck</p>
					<p class="pl-5">Badu Magic 6 m3/h <br> Badu Magic 8 m3/h <br> Badu Magic 11 m3/h </p>

				</div>
				<div class="col ">
					<img class="card-img-top" src="assets/img/filtrianje-bazena/031.jpg" alt="Card image cap">
					<p class="naslov pt-2 pl-5">Bettar-Speack</p>
					<p class="pl-5">Badu Magic 8 m3/h <br> Badu Magic 12 m3/h <br> Badu Magic 14m3/h </p>

				</div>

			</div>
		</div>
	</div>
</div>
<div class="container cards__padding-bottom ">
	<div class="row">
		<div class="col-12">

			<div class="row">
				<div class="col pt-5">
					<img class="card-img-top" src="assets/img/filtrianje-bazena/iml-logo.jpg" alt="logo cap">


				</div>
				<div class="col ">
					<img class="card-img-top " src="assets/img/filtrianje-bazena/041.jpg" alt="Card image cap">
					<p class="naslov pt-2 pl-5">Ami-Iml-America</p>
					<p class="pl-5"> Ami 8 m3/h<br> Ami 11 m3/h <br> Ami 14 m3/h </p>

				</div>
				<div class="col ">
					<img class="card-img-top" src="assets/img/filtrianje-bazena/051.jpg" alt="Card image cap">
					<p class="naslov pt-2 pl-5">Eur-Iml-Evropa</p>
					<p class="pl-5"> Eur 17 m3/h <br> Eur 24 m3/h <br> Eur 28 m3/h <br> Eur 32 m3/h </p>

				</div>

			</div>
		</div>
	</div>
</div>
<div class="container cards__padding-bottom ">
	<div class="row">
		<div class="col-12">

			<div class="row">
				<div class="col pt-5">
					<img class="card-img-top" src="assets/img/filtrianje-bazena/astral-logo.png" alt="logo cap">


				</div>
				<div class="col ">
					<img class="card-img-top" src="assets/img/filtrianje-bazena/051.jpg" alt="Card image cap">
					<p class="naslov pt-2 pl-5">Victoria-Astral</p>
					<p class="pl-5"> Victoria Plus 0.61kW 11m3/h <br> Victoria Plus 0.78kW 16 m3/h <br> Victoria Plus
						1.10kW 21,5
						m3/h </p>

				</div>
				<div class="col ">
					<img class="card-img-top" src="assets/img/filtrianje-bazena/061.jpg" alt="Card image cap">
					<p class="naslov pt-2 pl-5">Sena-Astral</p>
					<p class="pl-5"> Sena 7m3/h 230V</p>

				</div>

			</div>
			<div class="text-center py-5">
				<button class="btn btn-primary mt-2 border-0 " [routerLink]="['/contact'] ">Kontaktirajte nas</button>


			</div>
		</div>
	</div>
</div>


<div class="container cards__padding-bottom_two ">
	<div class="row">
		<div class="col-12">
			<div class="text-center">
				<h3 class="pb-5">Filteri</h3>


			</div>
			<div class="row">
				<div class="col pt-5">
					<img class="card-img-top" src="assets/img/filtrianje-bazena/astral-logo.png" alt="logo cap">
					<p class="pl-3">FILTRACIONE POSUDE Astralpool firma iz Španije, modeli:</p>


				</div>

				<div class="col ">
					<img class="card-img-top img" src="assets/img/filtrianje-bazena/filter-1.jpg" alt="Card image cap">
					<p class="naslov pt-2">FILTER Cantabric – model Side</p>
					<p> D-400 mm, 6m3/h <br> D-500 mm, 9m3/h <br> D-600 mm, 14m3/h <br> D-750 mm, 21m3/h </p>

				</div>
				<div class="col ">
					<img class="card-img-top img" src="assets/img/filtrianje-bazena/filter-2.jpg" alt="Card image cap">
					<p class="naslov pt-2 pl-5">FILTER Cantabric – model Top</p>
					<p class="pl-5"> D-400 mm, 6m3/h <br> D-500 mm, 9m3/h <br> D-600 mm, 14m3/h <br> D-600 mm, 14m3/h
					</p>

				</div>
			</div>
		</div>
	</div>
</div>

<div class="container cards__padding-bottom_two ">
	<div class="row">
		<div class="col-12">
			<div class="row">
				<div class="col pt-5">
				</div>

				<div class="col ">
					<img class="card-img-top img" src="assets/img/filtrianje-bazena/filter-3.jpg" alt="Card image cap">
					<p class="naslov pt-2">FILTER Cantabric – model Side</p>
					<p> D-380mm, 5,5m3/h <br> D-430mm, 7 m3/h </p>

				</div>
				<div class="col ">
					<img class="card-img-top img" src="assets/img/filtrianje-bazena/filter-4.jpg" alt="Card image cap">
					<p class="naslov pt-2 pl-5">FILTER Milenium – model Top</p>
					<p class="pl-5"> D-380mm, 5,5m3/h<br> D-430mm, 7 m3/h
					</p>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="container cards__padding-bottom_two ">
	<div class="row">
		<div class="col-12">
			<div class="row">
				<div class="col pt-5">
				</div>

				<div class="col ">
					<img class="card-img-top img" src="assets/img/filtrianje-bazena/filter-8.jpg" alt="Card image cap">
					<p class="naslov pt-2">Šestostepeni upravljački ventil</p>
					<p> 6-pozicioni ručni ventil D50 1 1/2″ <br> 6-pozicioni ručni ventil D63 2″ </p>

				</div>
				<div class="col ">
					<img class="card-img-top img" src="assets/img/filtrianje-bazena/pesak.jpg" alt="Card image cap">
					<p class="naslov pt-2 ">Filtracioni pesak</p>
					<p class=""> Filtracioni pesak 0,4-0,8 mm, <br> džak 25 kg <br> Filtracioni pesak 0,5-1,0mm, <br>
						džak 50
						kg <br> Filtracioni pesak 1,0-2,0 mm, <br> džak 50 kg
					</p>

				</div>
			</div>
			<div class="text-center py-5">
				<button class="btn btn-primary mt-2 border-0 " [routerLink]="['/contact'] ">Kontaktirajte nas</button>
			</div>
		</div>
	</div>
</div>


<app-konsultacije></app-konsultacije>