<app-navbar></app-navbar>

<div class="container my-128">
  <div class="row">
    <div class="col-12 col-md-6">
      <p class="plava">DODATNA OPREMA</p>
      <h2>Filtriranje vode</h2>
    </div>
    <div class="col-12 col-md-6 pt-5">
      <p>Peščani Filteri i Pumpe služe za filtriranje bazenske vode. Oni omogućavaju da voda bude čista i bistra.
        Isporučuje se u kompletu koji čini: grubi filter sa pumpom, peščani filter, šestostepeni upravljački ventil,
        postolje i kvarcni pesak.
        Postoje kapaciteti od 5m3/h, 8m3/h, 12m3/h, 14m3/h i veći. </p><br>
      <p>U ponudi imamo nekoliko poznatih prozivodjaca kao sto su SPek Pumpen, Astrapool, IML. Firma SPeck Pumpen
        iz Nemacke je renomirana i poznata po svojim visokokvalitetnim prozivodima a u svom asortimanu nudi velik izbor
        bazenskih pumpi</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-left">
        <h3 class="pb-0 pb-5">Pumpe</h3>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 pt-5">
          <img class="img-fluid mb-4 mb-md-0" src="assets/img/filtrianje-bazena/logo-1.png" alt="logo cap">
        </div>

        <div class="col-12 col-md-3">
          <div class="row">
            <div class="col-5 col-md-12">
              <img class="img-fluid" src="assets/img/filtrianje-bazena/021.jpg" alt="Card image cap">
            </div>
            <div class="col-7 col-md-12">
              <p class=" h5 pt-2 ">Magic-Speck</p>
              <p class="">Badu Magic 6 m3/h <br> Badu Magic 8 m3/h <br> Badu Magic 11 m3/h </p>
            </div>
          </div>

        </div>

        <div class="col-12 col-md-3">
          <div class="row">
            <div class="col-5 col-md-12">
              <img class="img-fluid" src="assets/img/filtrianje-bazena/031.jpg" alt="Bettar Speack">
            </div>
            <div class="col-7 col-md-12">
              <p class=" h5 pt-2 ">Bettar-Speack</p>
              <p class="">Badu Magic 8 m3/h <br> Badu Magic 12 m3/h <br> Badu Magic 14m3/h </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-64">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-md-6 pt-5">
              <img class="img-fluid mb-4 mb-md-0" src="assets/img/filtrianje-bazena/iml-logo.jpg" alt="logo cap">

            </div>

            <div class="col-12 col-md-3">
              <div class="row">
                <div class="col-5 col-md-12">
                  <img class="img-fluid" src="assets/img/filtrianje-bazena/041.jpg" alt="Ami Iml America">
                </div>
                <div class="col-7 col-md-12">
                  <p class=" h5 pt-2 ">Ami-Iml-America</p>
                  <p class=""> Ami 8 m3/h<br> Ami 11 m3/h <br> Ami 14 m3/h </p>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-3">
              <div class="row">
                <div class="col-5 col-md-12">
                  <img class="img-fluid" src="assets/img/filtrianje-bazena/051.jpg" alt="Card image cap">
                </div>
                <div class="col-7 col-md-12">
                  <p class=" h5 pt-2 ">Eur-Iml-Evropa</p>
                  <p class=""> Eur 17 m3/h <br> Eur 24 m3/h <br> Eur 28 m3/h <br> Eur 32 m3/h </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="row my-64">
        <div class="col-12">

          <div class="row">
            <div class="col-12 col-md-6 pt-5">
              <img class="img-fluid mb-4 mb-md-0" src="assets/img/filtrianje-bazena/astral-logo.jpg" alt="logo cap">

            </div>

            <div class="col-12 col-md-3">
              <div class="row">
                <div class="col-5 col-md-12">
                  <img class="img-fluid" src="assets/img/filtrianje-bazena/051.jpg" alt="Victoria Astral">
                </div>
                <div class="col-7 col-md-12">
                  <p class=" h5 pt-2 ">Victoria-Astral</p>
                  <p class="">Victoria Plus 0.61kW 11m3/h <br> Victoria Plus 0.78kW 16 m3/h <br> Victoria Plus
                    1.10kW 21,5 m3/h </p>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-3">
              <div class="row">
                <div class="col-5 col-md-12">
                  <img class="img-fluid" src="assets/img/filtrianje-bazena/061.jpg" alt="Sena Astral">
                </div>
                <div class="col-7 col-md-12">
                  <p class=" h5 pt-2 ">Sena-Astral</p>
                  <p class=""> Sena 7m3/h 230V</p>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-128">
  <div class="row">
    <div class="col-12">
      <div class="text-left">
        <h3 class="pb-0 pb-md-5">Filteri</h3>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 pt-5">
          <img class="img-fluid mb-4 mb-md-2" src="assets/img/filtrianje-bazena/astral-logo.jpg" alt="logo cap">
          <p>FILTRACIONE POSUDE Astralpool firma iz Španije</p>

        </div>

        <div class="col-12 col-md-3">
          <div class="row">
            <div class="col-5 col-md-12">
              <img class="img-fluid" src="assets/img/filtrianje-bazena/filter-1.jpg" alt="Filter Cantabric">
            </div>
            <div class="col-7 col-md-12">
              <p class=" h5 pt-2">FILTER Cantabric – model Side</p>
              <p> D-400 mm, 6m3/h <br> D-500 mm, 9m3/h <br> D-600 mm, 14m3/h <br> D-750 mm, 21m3/h </p>
            </div>
          </div>

          <br><br>

          <div class="row">
            <div class="col-5 col-md-12">
              <img class="img-fluid" src="assets/img/filtrianje-bazena/filter-3.jpg" alt="Filter Cantabric Model Side">
            </div>
            <div class="col-7 col-md-12">
              <p class=" h5 pt-2">FILTER Cantabric – model Side</p>
              <p> D-380mm, 5,5m3/h <br> D-430mm, 7 m3/h </p>
            </div>
          </div>

          <br><br>

          <div class="row">
            <div class="col-5 col-md-12">
              <img class="img-fluid" src="assets/img/filtrianje-bazena/filter-8.jpg" alt="Šestostepeni upravljački ventil">
            </div>
            <div class="col-7 col-md-12">
              <p class=" h5 pt-2">Šestostepeni upravljački ventil</p>
              <p> 6-pozicioni ručni ventil D50 1 1/2″ <br> 6-pozicioni ručni ventil D63 2″ </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-3">

          <div class="row">
            <div class="col-5 col-md-12">
              <img class="img-fluid" src="assets/img/filtrianje-bazena/filter-2.jpg" alt="Filter Cantabric Model Top">
            </div>
            <div class="col-7 col-md-12">
              <p class=" h5 pt-2 ">FILTER Cantabric – model Top</p>
              <p class=""> D-400 mm, 6m3/h <br> D-500 mm, 9m3/h <br> D-600 mm, 14m3/h <br> D-600 mm, 14m3/h</p>
            </div>
          </div>

          <br><br>

          <div class="row">
            <div class="col-5 col-md-12">
              <img class="img-fluid" src="assets/img/filtrianje-bazena/filter-4.jpg" alt="Filter Milenium Model Top">
            </div>
            <div class="col-7 col-md-12">
              <p class=" h5 pt-2 ">FILTER Milenium – model Top</p>
              <p class=""> D-380mm, 5,5m3/h<br> D-430mm, 7 m3/h</p>
            </div>
          </div>

          <br><br>

          <div class="row">
            <div class="col-5 col-md-12">
              <img class="img-fluid" src="assets/img/filtrianje-bazena/pesak.jpg" alt="Filtracioni pesak">
            </div>
            <div class="col-7 col-md-12">
              <p class=" h5 pt-2 ">Filtracioni pesak</p>
              <p class=""> Filtracioni pesak 0,4-0,8 mm, <br> džak 25 kg <br> Filtracioni pesak 0,5-1,0mm, džak 50kg
                <br> Filtracioni pesak 1,0-2,0 mm, <br> džak 50 kg</p>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>


<app-konsultacije></app-konsultacije>
