@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "../../../assets/scss/colors";

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  height: 128px;
  position: absolute;
  width: 100%;
  z-index: 1;
  @include media-breakpoint-down(md) {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: auto;
    color: black;
  }



  ul li a {
    @include media-breakpoint-down(md) {
      color: black;
    }
  }

  .navbar-brand > img {
    width: 140px;
    @include media-breakpoint-down(md) {
      width: 96px;
    }
  }

  .nav-link {
    color: #ffffff;

    &:hover {
      color: #FF8125;
    }
  }

  h4 {
    font-family: 'Gilroy-bold', sans-serif;
    font-size: 26px;
  }

  ul {
    list-style-type: none;

    li {
      a {
        font-family: 'Gilroy-bold', sans-serif;
        font-weight: bold;
      }
    }
  }
}

.dropdown-item {
  padding: 1rem 1.5rem;
}

.navbar-collapse {
  @include media-breakpoint-down(md) {
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 12px;
  }
}



