@import "../../../assets/scss/colors";

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  height: 128px;
  position: absolute;
  width: 100%;
  z-index: 1;

  .nav-link {
    color: #ffffff;

    &:hover {
      color: #FF8125;
    }
  }

  h4 {
    font-family: 'Gilroy-bold', sans-serif;
    font-size: 26px;
  }

  ul {
    list-style-type: none;

    li {
      a {
        font-family: 'Gilroy-bold', sans-serif;
        font-weight: bold;
      }
    }
  }
}





