<nav class="navbar navbar-expand-md  navbar-light bg-sm-light">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand " [routerLink]="['/']">
        <img src="assets/img/navbar/logo-white.png" alt="logo" srcset="">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar6">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-stretch" id="navbar6">
      <ul class="navbar-nav">
        <li class="nav-item ml-md-3 mr-2 dropdown has-megamenu">
          <a class="nav-link dropdown-toggle" href="" id="headers-1-dropdown" data-toggle="dropdown">BAZENI</a>
          <div class="dropdown-menu" aria-labelledby="headers-1-dropdown">
            <a class="dropdown-item" href="">Future pool bazeni</a>
            <a class="dropdown-item" href="">Betonski bazeni</a>
            <a class="dropdown-item" href="">Bazeni sa folijom</a>
          </div>
        </li>

        <li class="nav-item mr-2">
          <a class="nav-link" [routerLink]="['/odrzavanje'] ">ODRŽAVANJE</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dodatna-oprema'] ">DODATNA OPREMA</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-2">
          <a class="btn btn-primary-light" href="tel:0216678000">📞 021/6678 000</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary-light" [routerLink]="['/kontakt'] ">📨 PISITE NAM</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
