<div class="container padding-top_header">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="text-center">Izgradnja Bazena</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat hic.</p>
            <button class="btn btn-lg mt-3">Saznaj više

            </button>


        </div>
    </div>
</div>


<div class="container-fluid padding-top_picture">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
            <img class="img-fluid" src="../../../assets/img/izgradnja-bazena/slika-1.png" alt="slika-bazena"
                style="width: 1585px;">


        </div>
    </div>

</div>


<div class="container who-we-are__container">
    <div class="row">
        <div class="col-lg-6">
            <p class="header_text">WHO WE ARE</p>
            <h3>Global Leaders in Pool Design and Construction</h3>
        </div>

        <div class="col-lg-6 text-decoration">

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et excepturi ipsa quia eveniet rerum! Quia
                dolor ipsa omnis laudantium odio obcaecati illum.</p>

            <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quo neque nisi, dolore
                doloremque
                aliquam eaque commodi necessitatibus deserunt, rerum et. Consequuntur laboriosam .</p>
            <div class="row list-item ">
                <div class="col-sm-6 mt-4">
                    <p><i class="fas fa-check"></i> 50 Blocks</p>
                    <p><i class="fas fa-check"></i> Only Explorations</p>
                    <p><i class="fas fa-check"></i> Teamwork Always</p>



                </div>
                <div class="col-sm-6 mt-4">
                    <p><i class="fas fa-check"></i> Communications</p>
                    <p><i class="fas fa-check"></i> Weekly Analytics</p>
                    <p><i class="fas fa-check"></i> Updatevfor Brand</p>

                </div>
            </div>

        </div>
    </div>
</div>


<div class="container-fluid    padding-top-card_one">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-lg-10 background_card  ">
            <div class="container z-index_postion">
                <div class="row ">
                    <div class="col-sm-6">
                        <img class="img-fluid" src="../../../assets/img/izgradnja-bazena/slika-2.png" alt="card-slika">
                    </div>

                    <div class="col-sm-6  tex-right">
                        <h3>Our Team Is Your <br> Biggest Asset</h3>
                        <p>Design is not just what it looks like and feels like. Design is how it works”. We always try
                            to make a great output by this culture. Steve Jobs.</p>

                        <p> See below our three main plans for your business, for your stratup and agency. It starts
                            from here! You can teach yourself what you really like.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-1"></div>
    </div>
</div>



<!-- <div class="container d-flex justify-content-center padding-top-card_two ">
    <div class="row">





        <div class="col-sm-6 tex-right">
            <h3>Our goal</h3>
            <p>Design is not just what it looks like and feels like. Design is how it works”. We always try
                to make a great output by this culture. Steve Jobs.</p>

            <div class="row list-item ">
                <div class="col-sm-6 mt-4">
                    <p><i class="fas fa-check"></i> 50 Blocks</p>
                    <p><i class="fas fa-check"></i> Only Explorations</p>
                    <p><i class="fas fa-check"></i> Teamwork Always</p>



                </div>
                <div class="col-sm-6 mt-4">
                    <p><i class="fas fa-check"></i> Communications</p>
                    <p><i class="fas fa-check"></i> Weekly Analytics</p>
                    <p><i class="fas fa-check"></i> Updatevfor Brand</p>

                </div>
            </div>


        </div>

        <div class="col-sm-6">
            <img class="img-fluid" src="../../../assets/img/izgradnja-bazena/slika-4.png" alt="card-slika">
        </div>

    </div>

</div> -->



<div class="container-fluid    padding-top-card_two">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-lg-10 background_card  ">
            <div class="container z-index_postion">
                <div class="row ">


                    <div class="col-sm-6 tex-right" id="dva">
                        <h3>Our goal</h3>
                        <p>Design is not just what it looks like and feels like. Design is how it works”. We always try
                            to make a great output by this culture. Steve Jobs.</p>

                        <div class="row list-item ">
                            <div class="col-sm-6 mt-4">
                                <p><i class="fas fa-check"></i> 50 Blocks</p>
                                <p><i class="fas fa-check"></i> Only Explorations</p>
                                <p><i class="fas fa-check"></i> Teamwork Always</p>



                            </div>
                            <div class="col-sm-6 mt-4">
                                <p><i class="fas fa-check"></i> Communications</p>
                                <p><i class="fas fa-check"></i> Weekly Analytics</p>
                                <p><i class="fas fa-check"></i> Updatevfor Brand</p>

                            </div>
                        </div>


                    </div>

                    <div class="col-sm-6 " id="jedan">
                        <img class="img-fluid" src="../../../assets/img/izgradnja-bazena/slika-4.png" alt="card-slika">
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-1"></div>
    </div>
</div>



<div class="container-fluid  padding-to__how py-4">
    <div class="row">

        <div class="col-sm-1"></div>
        <div class="col-sm-10 background_color">
            <img class="float-right  m-3" src="../../../assets/img/izgradnja-bazena/slika-6.svg" alt="sara">

            <div class="container">
                <div class="row my-5 justify-content-between align-items-center">
                    <div class="col-sm-6 ">
                        <h3 class="mt-5">How Pool Service <br> can help you</h3>
                        <p>Design is not just what it looks like and feels like. Design is how it works”. We always try
                            to make a great output by this culture. Steve Jobs. See below our three main plans for your
                            business, for your stratup and agency</p>
                        <p>We always try
                            to make a great output by this culture. Steve Jobs. See below our three main plans for your
                            business, for your stratup and agency</p>
                    </div>
                    <div class="col-sm-6 ">
                        <button class="btn btn-lg text-right  ">Klikni Ovde

                        </button>
                    </div>





                </div>
            </div>





        </div>

        <div class="col-sm-1"></div>
    </div>
</div>

<div class="container-fluid container-text">
    <div class="row ">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 text-center">
            <h3>We believe the most important aspect of any pool project <br> is total responsiveness to the needs of
                our
                client</h3>

            <p>We always try
                to make a great output by this culture. Steve Jobs. See below our <br> three main plans for your
                business. See below our three main plans for your
                business</p>
            <button class="btn btn-primary btn-lg  p-3">Dozvolite da Vam pomognemo da kreirate bazen iz
                snova</button>

        </div>
        <div class="col-sm-1"></div>
    </div>
</div>