<div class="container padding-top_header">
	<div class="row">
		<div class="col-12 text-center">
			<h1 class="text-center">Održavanje bazena</h1>
			<p>Pool Service u ponudi nudi održavanje bazena na nedeljnom nivou. Na vama je <br> samo da se
				prepustite i uživate.
			</p>
		</div>
	</div>
</div>


<div class="container-fluid padding-top_picture">
	<div class="row px-5">
		<div class="col-12 d-flex justify-content-center p-0 m-0">
			<img class="img-fluid" src="assets/img/izgradnja-bazena/slika-1.png" alt="slika-bazena">
		</div>
	</div>
</div>


<div class="container who-we-are__container">
	<div class="row">
		<div class="col-6">
			<p class="header_text">ODRŽAVANJE BAZENA</p>
			<h3>5 razloga da se prijavite na redovno održavanje bazena</h3>
		</div>
		<div class="col-6 text-decoration">
			<p>Pool Service je firma na koju se možete osloniti kada je u pitanju održavanje bazena u Novom Sadu i okolini.
			</p>
			<p class="mt-2">Naše
				osoblje je sertifikovano i uvek teži da ispuni i nadmaši očekivanja naših klijenata.</p>
			<div class="row list-item ">

				<div class="col-sm-12 mt-4">
					<p><i class="fas fa-check"></i> Uštedećete vreme tako što će te održavanje prepustiti nama</p>
					<p><i class="fas fa-check"></i> Redovno održavanje osigurava da vaš bazen ostane u sjajnom stanju</p>
					<p><i class="fas fa-check"></i> Uštedećete novac ukoliko ranije uočimo probleme i sprečimo <span
							class="text-left">potrebu za velikim
							popravkama</span> </p>
					<p><i class="fas fa-check"></i> Vaš bazen će imati hemikalije koje su mu potrebne, u pravom trenutku</p>
					<p><i class="fas fa-check"></i> Usluga održavanja čini život lakšim, veoma je lako privići se na to</p>


				</div>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid padding-top-card_one">
	<div class="row px-5">
		<div class="col-12 background_card">
			<div class="row mt-5">
				<div class="col-5 offset-1 mt-5">
					<img class="img-fluid" src="assets/img/izgradnja-bazena/slika-2.png" alt="card-slika">
				</div>
				<div class="col-6 mt-5 tex-right">
					<div class="test">
						<h3 class="mb-4">Pouzdan partner</h3>
						<p>Sa popravkom opreme, testiranjem vode i uslugom <br>
							čišćenja bazena od strane Pool Service, možete biti <br>
							sigurni da je vaš bazen uvek spreman za zabavu.
						</p>
						<button class="btn btn-secondary border-0 mt-5" [routerLink]="['/contact'] ">Kontaktirjate nas</button>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<div class="container-fluid padding-top-card_two">
	<div class="row px-5">
		<div class="col-12 background_card">
			<div class="row mt-5">
				<div class="col-lg-5 offset-lg-1 pt-lg-5 col-sm-6 tex-right pt-5" id="dva">
					<h3 class="pb-4">Uživajte u letu </h3>
					<p class="pb-3">U onim vrućim letnjim danima ne želite da brinete da li <br>
						Vam filter radi ili ne. I sigurno ne želite da razmišljate o <br>
						pH vrednosti vode, dok Vas klinci zovu da se igrate.
					</p>
					<p>Neka Pool Service uradi sav posao za vas.</p>
					<button class="btn btn-secondary border-0 mt-5" [routerLink]="['/contact'] ">Kontaktirajte nas</button>


				</div>
				<div class="col-lg-5 offset-lg-1 col-sm-6 mt-lg-5 mt-sm-0 " id="jedan">
					<img class="img-fluid" src="assets/img/izgradnja-bazena/slika-3.png" alt="card-slika">
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid padding-top__how py-4">
	<div class="row px-5">
		<div class="col-sm-12 background_color">
			<div class="row h-100 align-items-center">
				<div class="line-element">
					<img class="my-auto mr-4" src="assets/img/izgradnja-bazena/slika-6.svg" alt="">

				</div>
				<div class="col-6 pl-5">
					<h3 class="text-white">Kako Pool Service može <br> da vam pomogne?</h3>
					<p>U slučaju da se odlučite da sami održavate svoj bazen, ne brinite,
						Pool Service je mislio i na Vas. <br>
						Napravili smo Vam sažeto upustvo o održavanju vode u bazenu.</p>
				</div>
				<div class="col-6">

					<button class="btn btn-lg float-right line-button" (click)="downloadPdf()">Preuzmi upustvo</button>
				</div>
			</div>
		</div>
	</div>


	<div class="container-fluid container-text">
		<div class="row justify-content-center">
			<div class="col-sm-12 text-center">
				<h3>Ne dopustite da Vaš bazen postane zapušten. <br> Nazovite Pool Service još danas.</h3>
				<p>Iskoristite svoj bazen u potpunosti uz Pool Service. Bez redovnog čišćenja, Vaš bazen će propasti. <br>
					Možemo Vam
					pomoći da sprečite da se to dogodi.
				</p>
				<button class="btn btn-lg btn-primary p-3 mt-4">Kontaktirajte nas
				</button>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid ">
	<div class="row justify-content-center">
		<div class="col-sm-12  text-center">

			<h2>Naša ponuda</h2>
			<p>POOL SERVICE se uspešno bavi prodajom bazena i bazenske opreme po sistemu <br> kljuć u ruke,
				održavanje postojećih bazena, isporuka i montažom sauna i <br> ostale rekreacione opreme.
			</p>

		</div>
	</div>
</div>
<div class="container padding-top__cards align-items-center">



	<div class="row mt-3 justify-content-center">
		<div class="col-12">
			<div class="row justify-content-center">



				<div class=" col-sm-3">

					<div class="card text-center">
						<div class="card-body">
							<div class=" mb-3 pt-3">
								<img src="assets/img/FAQ/slika_2.png" alt="kapljica-vode">
							</div>
							<h5 class="card-title">Projektovanje</h5>
							<p>Vama na raspolaganju, od ideje od realizacije.</p>


						</div>
					</div>


				</div>

				<div class="col-sm-3">

					<div class="card text-center">
						<div class="card-body px-0">
							<div class=" mb-3 pt-3">
								<img src="assets/img/FAQ/slika_3.png" alt="kapljica-vode">
							</div>
							<h5 class="card-title">Izgradnja</h5>
							<p>Dugogodišnje iskustvo, ugradnja samo najkvalitetnije opreme.</p>


						</div>
					</div>


				</div>


				<div class="col-sm-3">

					<div class="card text-center">
						<div class="card-body px-0">
							<div class=" mb-3 pt-3">
								<img src="assets/img/FAQ/slika_4.png" alt="kapljica-vode">
							</div>
							<h5 class="card-title">Održavanje</h5>
							<p>Jedina firma sa uslugom održavanja bazena na nedeljnom nivou.</p>


						</div>
					</div>


				</div>


				<div class="col-sm-3">

					<div class="card text-center">
						<div class="card-body">
							<div class=" mb-3 pt-3">
								<img src="assets/img/FAQ/slika_5.png" alt="kapljica-vode">
							</div>
							<h5 class="card-title">Oprema</h5>
							<p>Posedujemo rezervne delove za svu našu opremu.</p>


						</div>
					</div>


				</div>

			</div>
		</div>
	</div>
</div>