@import "../../../assets/scss/colors";

.line-element {
  position: absolute;
  right: 0;
  z-index: 0;
}

.padding-top_header {

  padding-top: 128px;

  .btn {
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 30px;
    color: $primary;
  }
}


.padding-top_picture {
  padding-top: 72px;
  padding-bottom: 102px;

  img {
    width: 100%;
  }
}


.who-we-are__container {
  .header_text {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 2px;
    color: #175CFF;



  }


  .text-decoration {
    p {
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
    }
  }

  .list-item {
    p {
      font-weight: normal;
      font-size: 16px;
      line-height: 19px
    }

    i {
      color: #36B37E;
      margin-right: 10px;
    }
  }

  .text-left {
    margin-left: 29px;
  }
}

.padding-top-card_one {
  padding-top: 136px;
  padding-bottom: 172px;

  .background_card {
    background-color: #E9F7FE;
    height: 576px;
  }

  .tex-right {

    .test {
      margin-right: 16.666666%;
    }

    h3 {
      font-weight: 600;
      font-size: 48px;
      line-height: 60px;
    }

    p {
      font-weight: normal;
      font-size: 1.125rem
      ;
      line-height: 2rem
      ;
    }
    .btn-secondary {
      background-color: #FF8125;
      font-weight: 600;
      letter-spacing: 0.32px;
    }
  }

  .z-index_postion {
    margin-top: 104px;
  }
}


.padding-top-card_two {
  padding-bottom: 172px;


  .background_card {
    background-color: #E9F7FE;
    height: 576px;
  }


  .tex-right {
    h3 {
      font-weight: 600;
      font-size: 48px;
      line-height: 60px;
    }

    p {
      font-weight: normal;
      font-size: 1.125rem
      ;
      line-height: 2rem
      ;
    }

    .btn-secondary {
      background-color: #FF8125;
      font-weight: 600;
      letter-spacing: 0.32px;
    }
  }


  .list-item {
    font-size: 16px;
    line-height: 19px;

    i {
      color: #36B37E;
      padding-right: 20px;
    }
  }
  .test {
    margin-right: 16.666666%;


  }
}


.padding-top__how {
  h4 {
    color: #FFFFFF;
  }


  p {
    font-size: 1.125rem;
    line-height: 1.8125rem;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    opacity: 0.8;
  }

  .background_color {
    background: #2E79CA;
    height: 580px;

    .btn {
      background: #FF8125;
      border-radius: 36px;
      color: #fff;
      margin-right: 250px;
      margin-top: 16px;
    }
  }
}


.container-text {
  padding-top: 120px;
  padding-bottom: 152px;

  p {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #57586E;

  }


  h3 {
    font-size: 48px;
    line-height: 58px;
    font-weight: bold;
  }

  .btn {
    border-radius: 30px;
  }
}

.padding-top__cards {

  padding-bottom: 400px;

  .card {
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    width: 16.56rem;
    height: 15rem;
  }
  .card:hover {
    transform: scale(1.1);
  }
  p {
    font-size: 0.875rem;
    
    line-height: 1.5rem;
    
  }
}
