<div class="container pt-128">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Održavanje bazena</h1>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-7">
          <p>Pool Service u ponudi nudi održavanje bazena na nedeljnom nivou. Na vama je samo da se
             prepustite i uživate.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="hero-img_padding">
  <img class="img-fluid w-100" src="assets/img/izgradnja-bazena/slika-1.jpg" alt="Održavanje bazena">
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6 pr-5">
      <p class="small text-primary text-uppercase font-weight-bold">ODRŽAVANJE</p>
      <h2>5 razloga da se prijavite na redovno održavanje bazena</h2>
    </div>
    <div class="col-md-6">
      <p class="pt-md-5">Pool Service je firma na koju se možete osloniti kada je u pitanju održavanje bazena u Novom
                         Sadu i okolini.</p>
      <p>Naše stručno osoblje uvek teži da ispuni i nadmaši očekivanja naših klijenata.</p>

      <div class="row list-item">
        <div class="col-6 mt-4">
          <div class="d-inline-flex">
            <i class="fas fa-check"></i>
            <p>Uštedećete vreme tako što će te održavanje prepustiti nama</p>
          </div>
          <div class="d-inline-flex">
            <i class="fas fa-check"></i>
            <p>Redovno održavanje osigurava da vaš bazen ostane u sjajnom stanju</p>
          </div>
          <div class="d-inline-flex">
            <i class="fas fa-check"></i>
            <p>Uštedećete novac ukoliko ranije uočimo probleme i sprečimo potrebu za velikim
               popravkama</p>
          </div>
        </div>
        <div class="col-6 mt-4">
          <div class="d-inline-flex">
            <i class="fas fa-check"></i>
            <p>Vaš bazen će imati hemikalije koje su mu potrebne, u pravom trenutku</p>
          </div>
          <div class="d-inline-flex">
            <i class="fas fa-check"></i>
            <p>Usluga održavanja čini život lakšim, veoma je lako privići se na to</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="bg-light mt-128">
  <div class="container-fluid content">
    <div class="mx-lg-5 mx-sm-0 ">
      <div class="container">
        <div class="row align-items-center py-5">
          <div class="col-12 col-md-6" id="slika-up">
            <img class="img-fluid mb-4 mb-sm-0" src="assets/img/izgradnja-bazena/slika-odrzavanje-02.jpg"
                 alt="card-slika">
          </div>
          <div class="col-12 col-md-6">
            <div class="test">
              <h3 class="mb-4">Pouzdan partner</h3>
              <p>Sa proverom opreme, testiranjem vode i uslugom
                 čišćenja bazena od strane Pool Service, možete biti
                 sigurni da je vaš bazen uvek spreman za zabavu.</p>
              <button class="btn btn-secondary border-0 mt-3" [routerLink]="['/kontakt']">Kontaktirajte nas</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="bg-light">
  <div class="container-fluid content pb-64">
    <div class="mx-lg-5 mx-md-0">
      <div class="container">
        <div class="row align-items-center py-5">
          <div class="col-12 col-md-6 order-2 order-md-1">
            <h3 class="mb-4">Uživajte u letu</h3>
            <p>U onim vrućim letnjim danima ne želite da brinete da li
               Vam filter radi ili ne. I sigurno ne želite da razmišljate o
               pH vrednosti vode, dok Vas klinci zovu da se igrate.
            </p>
            <p>Neka Pool Service uradi sav posao za vas.</p>
            <button class="btn btn-secondary border-0 mt-3" [routerLink]="['/kontakt'] ">Kontaktirajte nas</button>
          </div>
          <div class="col-12 col-md-6 order-1 order-md-2" id="slika-up">
            <img class="img-fluid mb-4 mb-sm-0" src="assets/img/izgradnja-bazena/slika-odrzavanje-01.jpg"
                 alt="card-slika">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="bg-primary">
  <div class="container content py-128">
    <div class="row align-items-center justify-content-between">

      <div class="col-12 col-md-6">
        <h3 class="text-white">Kako Pool Service može <br> da vam pomogne?</h3>
        <p class="text-white">U slučaju da se odlučite da sami održavate svoj bazen, ne brinite,
                              Pool Service je mislio i na Vas. Napravili smo Vam sažeto uputstvo o održavanju vode u
                              bazenu.</p>
      </div>
      <div id="lines" class="col-md-4">
        <button class="btn btn-secondary border-0" (click)="downloadPdf()">Preuzmi uputstvo</button>
      </div>
    </div>
  </div>
</section>


<div class="container-fluid my-128">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h3>Ne dopustite da Vaš bazen postane zapušten. Nazovite Pool Service još danas.</h3>
      <a class="btn btn-secondary border-0" [routerLink]="['/kontakt']">Kontaktirajte nas</a>
    </div>
  </div>
</div>


<div class="container my-128">
  <div class="row align-items-center justify-content-center">
    <div class="col-12 col-md-8 text-center">
      <h2>Naša ponuda</h2>
      <p>POOL SERVICE se uspešno bavi prodajom bazena i bazenske opreme po sistemu ključ u ruke,
         održavanje postojećih bazena, isporuka i montažom sauna i ostale rekreacione opreme.
      </p>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-md-3 pb-3">
      <div class="card h-100 text-center">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/icons/projektovanje.svg" alt="Projektovanje bazena">
          </div>
          <h5 class="card-title">Projektovanje</h5>
          <p class="small">Vama na raspolaganju, od ideje do realizacije.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 pb-3">
      <div class="card h-100 text-center ">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/icons/izgradnja.svg" alt="Izgradnja bazena">
          </div>
          <h5 class="card-title">Izgradnja</h5>
          <p class="small">Dugogodišnje iskustvo, ugradnja samo najkvalitetnije opreme.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 pb-3">
      <div class="card h-100 text-center">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/icons/odrzavanje.svg" alt="Odrzavanje bazena">
          </div>
          <h5 class="card-title">Održavanje</h5>
          <p class="small">Jedina firma sa uslugom održavanja bazena na nedeljnom nivou.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 pb-3 ">
      <div class="card h-100 text-center">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/icons/oprema.svg" alt="Oprema za bazene">
          </div>
          <h5 class="card-title">Oprema</h5>
          <p class="small">Posedujemo rezervne delove za svu našu opremu.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <button class="btn btn-secondary border-0"
            [routerLink]="['/kontakt'] ">Kontaktiraj nas za više informacija
    </button>
  </div>
</div>
