h1, h2, {
  font-family: 'Gilroy-Bold', sans-serif;
}

h3, h4, h5 {
  font-family: 'Gilroy-Bold', sans-serif;
}

h1 {
  font-size: 3.75rem;

  @include media-breakpoint-down(sm) {
    font-size: 2.5rem;
    line-height: calc(40 / 30);
  }
}

h2 {
  font-size: 3rem;

  @include media-breakpoint-down(sm) {
    font-size: 2rem;
    line-height: calc(40 / 30);
  }
}

h3 {
  font-size: 2.5rem;

  @include media-breakpoint-down(sm) {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: 2rem;

  @include media-breakpoint-down(sm) {
    font-size: 1.5rem;
  }
}

p {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  line-height: calc(30 / 17) !important;
}
