@import "../../../assets/scss/colors";


// PADING PAGE
.padding-top_maps, .padding-top_contact, .padding-top_pictures, .page__footer {
  margin-top: 128px;
}

// CARD {
// }

// WORK TIME AND STREET
.icon {
  display: flex;
  justify-content: center;
  background-color: #F6F8FF;
  height: 152px;
  border-radius: 10px;
}

#contact-info {
  p {
    margin-bottom: .25em;
    font-size: 18px;
  }
}

#contact-images {
  margin-bottom: 10rem;
}

.working-time.row,
.contact-info.row {
  margin-left: 0 !important;
}
.working-time {
  margin-bottom: 64px;
}
.working-time .col-sm-2 {
    padding-left: 0px;
}
.working-time .col-sm-2 > div {
    height: 100%;

}
.working-time .col-sm-10 > div:first-child {
    font-size: 26px;
    margin-bottom: 24px;
}

.labels span {
  display: block;
  font-size: 18px;
}


.contact-info .col-sm-2 {
  padding-left: 0;
}
// .contact-info .col-lg-2 > div {
//   background-color: rgba(23, 92, 255, .05);
//   border-radius: 5px;
//   height: 100%;
// }
.contact-info .labels div {
  font-size: 26px;
  margin-bottom: 24px;
}



.padding-top_maps {
  iframe {
  height: 430px;
    width: 100%;
    -webkit-box-shadow: 40px 40px 0px 0px rgba(23,21,75,1);
    -moz-box-shadow: 40px 40px 0px 0px rgba(23,21,75,1);
    box-shadow: 40px 40px 0px 0px rgba(23,21,75,1);
    margin-bottom: 161px;
  }


}



