<!-- TIME AND LOCATION AND WIZARD-->
<div class="container padding-top_contact">
  <div class="row">

    <div class="col-6">
      <div class="row">
        <h2>Stupite u kontakt </h2>
        <p>Voleli bismo razgovarati o tome kako vam možemo pomoći</p>
      </div>

      <div class="mb-5"></div>

      <div id="contact-info" class="row align-items-center">
        <div class="col-2 pl-0">
          <div class="icon icon_time"><img src="assets/img/icons/time.svg" alt=""></div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <h5 class="mb-3">Radno vreme</h5>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Pon - Pet</p>
              <p>Subota</p>
              <p>Nedelja</p>
            </div>
            <div class="col">
              <p>08:00 - 16:00</p>
              <p>08:00 - 14:00</p>
              <p>Neradna</p>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-4"></div>

      <div id="contact-info" class="row align-items-center">
        <div class="col-2 pl-0">
          <div class="icon icon_map"><img src="assets/img/icons/address.svg" alt=""></div>
        </div>
        <div class="col">
          <h5 class="mb-3">Radno vreme</h5>
          <p>Pon - Pet</p>
          <p>Subota</p>
          <p>Nedelja</p>
        </div>
        <div class="col">
          <h5 class="mb-3">Radno vreme</h5>
          <p>08:00 - 16:00</p>
          <p>08:00 - 14:00</p>
          <p>Neradna</p>
        </div>
      </div>
    </div>


    <div class="col-6">
      <app-form></app-form>
    </div>
  </div>
</div>
<!-- END DATE LOCATION AND WIZARD -->

<!-- GOOGLE LOCATION -->
<div class="container padding-top_maps">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2808.452235349429!2d19.83411361577871!3d45.25886835514143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b10434ee9e573%3A0xdcbd057b3db72794!2sPool%20Service!5e0!3m2!1sen!2srs!4v1595442556936!5m2!1sen!2srs"
    width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
    tabindex="0"></iframe>
</div>

<div id="contact-images" class="container">
  <div class="row">
    <div class="col-7">
      <div class="mr-3">
        <img class="img-fluid" src="../../../assets/img/kontakt/slika-1.png" alt="slika-1">
      </div>
    </div>
    <!-- END GOOGLE LOCATION -->

    <!-- POOL IMAGES -->

    <div class="col-5">
      <img class="borderShadow img-fluid" src="../../../assets/img/kontakt/slika-2.jpg" alt="slika-2" style="-webkit-box-shadow: 40px 40px 0px 0px rgba(23,21,75,1);
      -moz-box-shadow: 40px 40px 0px 0px rgba(23,21,75,1);
      box-shadow: 40px 40px 0px 0px rgba(23,21,75,1);
    ">
    </div>
  </div>
</div>

<!-- END POOL IMAGES -->
