<!-- TIME AND LOCATION  AND WIZARD-->

<div class="container padding-top_contact">
  <div class="row">
    <div class="col-sm-6">
      <h2 style="font-weight: bold">Stupite u kontakt </h2>
      <p>Voleli bismo razgovarati o tome kako vam možemo pomoći</p>
      <div class="row working-time">
        <div class="col-sm-2">
          <div><img src="../../../assets/img/kontakt/Frame 127.png" alt=""></div>
        </div>
        <div class="col-sm-10">
          <div>Radno vreme</div>

          <div class="row">
            <div class="col-sm-5 labels">
              <span>Pon - Pet</span>
              <span>Subota</span>
              <span>Nedelja</span>
            </div>
            <div class="col-sm-7 labels">
              <span>08:00 - 16:00</span>
              <span>08:00 - 14:00</span>
              <span>Neradna</span>
            </div>
          </div>
        </div>
      </div>


      <div class="row contact-info">
        <div class="col-sm-2">
          <div> <img src="../../../assets/img/kontakt/Frame 128.png" alt=""></div>
        </div>
        <div class="col-sm-10">

          <div class="row">
            <div class="col-sm-5 labels">
              <div>Adresa</div>
              <span>Novi Sad</span>
              <span>Zitni trg</span>
            </div>
            <div class="col-lg-7 labels">
              <div>Kontakt</div>
              <span>info@mejl.com</span>
              <span>021 / 66 - 22 - 210</span>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="col-sm-6">
      <app-form></app-form>
    </div>
  </div>
</div>

<!-- END DATE LOCATION AND WIZARD -->
<!-- GOOGLE LOCATION -->

<div class="container padding-top_maps">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2808.452235349429!2d19.83411361577871!3d45.25886835514143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b10434ee9e573%3A0xdcbd057b3db72794!2sPool%20Service!5e0!3m2!1sen!2srs!4v1595442556936!5m2!1sen!2srs"
    width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
    tabindex="0"></iframe>
</div>

<div class="container padding-top_pictures  third-section ">
  <div class="row">
    <div class="col-sm-7 ">
      <div class="mr-5">

        <img src="../../../assets/img/kontakt/slika-1.png" alt="slika-1" style="">


      </div>
    </div>
    <!-- END GOOGLE LOCATION -->

    <!-- POOL IMAGES -->

    <div class="col-sm-5 ">
      <div class="ml-5">
        <img class="borderShadow" src="../../../assets/img/kontakt/slika-2.jpg" alt="slika-2" style="-webkit-box-shadow: 40px 40px 0px 0px rgba(23,21,75,1);
      -moz-box-shadow: 40px 40px 0px 0px rgba(23,21,75,1);
      box-shadow: 40px 40px 0px 0px rgba(23,21,75,1); 
    ">

      </div>

    </div>
  </div>


</div>


<!-- END POOL IMAGES -->










<!-- FOOTER -->

<footer class="footer page__footer">
  <div class="mt-5 pt-5  footer">

    <div class="container">

      <div class="row pt-5 pb-5 mb-5">
        <div class="col-lg-4 col-xs-12 f">
          <h4>Pool Service</h4>
          <p class="pr-5 text-white-50">
            Your ultimate email solution to grow business and engaging with future customers and clients.
          </p>
          <button class="btn btn-primary rounded p-3">Besplatna konsultacija</button>


        </div>
        <div class="col-lg-2 col-xs-12 links ">
          <h6 class="mt-lg-0 mt-sm-3 mb-3" style="color:  #8C97AC;">Bazeni</h6>
          <ul class="m-0 p-0">
            <li class="mb-2"><a>For Talents</a></li>
            <li class="mb-2"><a>For Companies</a></li>
            <li class="mb-2"><a>Facebook Groups</a></li>
            <li><a>FAQ</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-xs-12 location">
          <h6 class="mt-lg-0 mt-sm-3 mb-3" style="color:  #8C97AC;">O nama</h6>
          <ul class="mb-3 p-0">
            <li class="mb-2"><a>Meat the Team</a></li>
            <li class="mb-2"><a>Our Story</a></li>
            <li><a>Career</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-xs-12 about ">
          <h6 class="mt-lg-0 mt-sm-3 mb-3" style="color:  #8C97AC;">Kontakt</h6>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sint maxime placeat, obcaecati
            aliquid .</p>
          <ul class="m-0 p-0 mb-2">
            <li class="mb-2"><a style="color:  #FFD166;" href="">021 / 6678 000</a></li>
            <li><a style="color:  #FFD166;" href="">info@finity.com</a></li>
          </ul>


        </div>
      </div>
      <div class="row  ">
        <div class="col copyright ">
          <p><small class="text-white ">
              &copy; Nicey 2020 All Rights Reserved



              <ul class=" in float-right  " style="      list-style: none;
          ">
                <li><i style="color: #fff;" class="fab fa-facebook-f"></i></li>
                <li><i style="color: #fff;" class="fab fa-twitter"></i></li>
                <li><i style="color: #fff;" class="fab fa-google"></i></li>
              </ul>
            </small></p>
        </div>
      </div>

    </div>


  </div>
  <div class="d-flex align-items-end mt-3" id="circle_yellow"></div>


</footer>

<!-- END FOOTER -->