<app-navbar></app-navbar>

<div class="container py-128">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="pb-5">Body Jet</h2>
      <img src="assets/img/body-jet/body-jet.jpg" class="img-fluid" alt="Body jet">
      <p class="pt-5">
        Protiv strujni podvodni masažeri – body jet služe za ugodnu masažu u vodi ili kao uređaj za plivanje u
        mestu. <br> Isporučuju se kapaciteta od 25 m3/h do 75 m3/h. Mogu biti ugrađeni u zid bazena ili <br> naknadno
        montirani sa spoljne strane bazena. Uključuju i <br> isključuju se sa pneumatskim prekidacem iz bazena.
      </p>
    </div>
  </div>
</div>

<app-konsultacije></app-konsultacije>
