.shape {
  background-image: url(src/assets/img/shape.svg);
  background-repeat: no-repeat;
  background-position: right top;
  position: absolute;
  top: -4.5rem;
  right: 4rem;
  width: 100%;
  height: 100%;
  z-index: 0;
  transform: scale(0.9);
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04), 0 24px 32px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  z-index: 1;

  .card-header {
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0;
    padding: 2rem 2.5rem 1rem 2.5rem;
  }

  .card-body {
    padding: 2.5rem;
  }

  .form-heading {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    letter-spacing: 0.1px;
    text-transform: uppercase;
    color: #175CFF;
  }

  .text {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }

  label:focus {

    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  }


  .radio-button {

    ul {
      list-style-type: none;
    }

    li {
      display: block;
    }

    input[type="checkbox"][id^="myCheckbox"] {
      display: none;
    }

    label {
      border: 1px solid #fff;
      padding: 10px;
      display: block;
      position: relative;
      margin: 10px;
      cursor: pointer;
    }

    label:before {
      background-color: white;
      color: white;
      content: " ";
      display: block;
      border-radius: 50%;
      position: absolute;
      top: -5px;
      left: -5px;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 28px;
      transition-duration: 0.4s;
      transform: scale(0);
    }

    label img {
      height: 100px;
      width: 100px;
      transition-duration: 0.2s;
      transform-origin: 50% 50%;
    }

    :checked + label {
      border-color: #ddd;
    }

    :checked + label:before {
      content: "";
      padding: .25rem;
      background-color: #2E79CA;
      transform: scale(1.5);
    }

    :checked + label img {
      transform: scale(1);
      /* box-shadow: 0 0 5px #333; */
      z-index: -1;
    }

    .radio {
      input[type=radio] {
        -webkit-appearance: none;
      }

      label {
        border: 1.41405px solid #EBF4FA;
        box-sizing: border-box;
        border-radius: 8px;

        .prepodne {
          position: absolute;
          top: 50%;
          bottom: 50%;
        }
      }

      input[type=radio]:checked + label {
        border: 2px solid #2E79CA;
      }

    }

    input[type=radio]:checked + .icon {
      fill: red;
    }

  }


}


.form {
  margin-bottom: 10px;


  .mycheckbox {
    margin-top: 5px;
    margin-left: 5px;
  }
}

.form-check {
  padding-left: 0;
}


.inputGroup {
  background-color: #fff;
  display: block;
  position: relative;
  margin-bottom: 1rem !important;
  border-radius: 10px;
  border: 2px solid #EBF4FA;

  label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;

    &:before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: '';
      background-color: #5562eb;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
      opacity: 0;
      z-index: -1;
    }

    &:after {
      width: 32px;
      height: 32px;
      content: '';
      border: 2px solid #D1D7DC;
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: 2px 3px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in;
    }
  }

  input:checked ~ label {
    color: #fff;

    &:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1;
    }

    &:after {
      background-color: #54E0C7;
      border-color: #54E0C7;
    }
  }

  input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 20px;
    top: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    //visibility: hidden;
  }
}

.icon {
  transform: scale(0.8);
}
