<div [ngSwitch]="variable">
  <div class="card">
    <form [formGroup]="form" #forma="ngForm" (ngSubmit)="forma.form.valid && submitForm()">


      <div *ngSwitchCase="'0'">
        <div class="card-header">
          <p class="form-heading">
            Korak 1 od 3
          <p>
        </div>

        <div class="card-body">
          <div class="form d-flex flex-column">
            <ng-container *ngFor="let web of websiteList">
              <div class="d-flex flex-row align-items-center">
                <img [src]="web.imageUrl" alt="" srcset="" class="rounded-left float-left"
                     style="width: 88px; height:43px ;">
                <label formArrayName="website" class="float-right ">
                  <input [value]="web.id" type="checkbox"
                         (change)="onCheckboxChange($event)">
                  {{web.usluga}}
                </label>
              </div>
            </ng-container>

            <br>

            <div class="test">
              <button type="submit"
                      class="btn btn-primary btn-block rounded " [disabled]="!forma.valid"
                      (click)="nextStep()">Sledeci korak
              </button>
            </div>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'1'">
        <div class="card-header">
          <p class="form-heading">
            Korak 2 od 3
          <p>
        </div>
        <div class="card-body ">
          <div class="form-group">
            <p>Vreme:</p>
            <div>
              <input id="prepodne" type="radio" value="prepodne" name="gender"
                     formControlName="gender" (change)="changeGender($event)">
              <label for="prepodne">Prepodne</label>
            </div>
            <div>
              <input id="poslepodne" type="radio" value="poslepodne" name="gender"
                     formControlName="gender" (change)="changeGender($event)">
              <label for="poslepodne">Poslepodne</label>
            </div>
            <div>
              <input id="predvece" type="radio" value="predvece" name="gender"
                     formControlName="gender" (change)="changeGender($event)">
              <label for="predvece">Predvece</label>
            </div>
            <div class="invalid-feedback" *ngIf=" f.errors?.required">
              <p>Please select either value</p>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="nextStep()"
                [disabled]="!forma.valid">Sledeci korak
        </button>
      </div>

      <div *ngSwitchCase="'2'">STEP3
        <button class="btn btn-primary" (click)="submitForm()">Siguiente</button>
      </div>

    </form>
  </div>
</div>
