<div [ngSwitch]="variable">
	<div class="card">
		<form [formGroup]="form" #forma="ngForm" (ngSubmit)="sendMail()">


			<div *ngSwitchCase="'0'">
				<div class="card-header">
					<p class="form-heading">
						Korak 1 od 3
					<p>
				</div>

				<div class="card-body">
					<div class="form-check d-flex flex-column">
						<ng-container *ngFor="let web of websiteList">
							<div class="d-flex flex-row align-items-center">
								<img [src]="web.imageUrl" alt="" srcset="" class="rounded-left float-left"
									style="width: 88px; height:43px ;">
								<label formArrayName="website" class="float-right ">
									<input [value]="web.id" type="checkbox" (change)="onCheckboxChange($event)">
									{{web.usluga}}
								</label>
							</div>
						</ng-container>

						<br>

						<div class="test">
							<button class="btn btn-primary btn-block rounded " [disabled]="!form.controls.website.valid"
								(click)="nextStep()">Sledeci korak
							</button>
						</div>
					</div>
				</div>
			</div>

			<div *ngSwitchCase="'1'">
				<div class="card-header">
					<p class="form-heading">
						Korak 2 od 3
					<p>
				</div>
				<div class="card-body ">
					<div class="form-group">
						<p>Vreme:</p>
						<div>
							<input id="prepodne" type="radio" value="prepodne" name="gender" formControlName="gender"
								(change)="changeGender($event)">
							<label for="prepodne">Prepodne</label>
						</div>
						<div>
							<input id="poslepodne" type="radio" value="poslepodne" name="gender" formControlName="gender"
								(change)="changeGender($event)">
							<label for="poslepodne">Poslepodne</label>
						</div>
						<div>
							<input id="predvece" type="radio" value="predvece" name="gender" formControlName="gender"
								(change)="changeGender($event)">
							<label for="predvece">Predvece</label>
						</div>
						<div class="invalid-feedback" *ngIf=" f.errors?.required">
							<p>Please select either value</p>
						</div>
					</div>
				</div>
				<button class="btn btn-primary" (click)="nextStep()" [disabled]="!form.controls.gender.valid">Sledeci korak
				</button>
			</div>

			<div *ngSwitchCase="'2'">
				<div class="card-header">
					<p class="form-heading">
						Korak 3 od 3
					<p>
				</div>

				<div class="form-group px-5">

					<label for="nameInp"></label>
					<input type="text" id="nameInp" class="form-control border-info" formControlName="name" required
						placeholder="Ime i Prezime">

					<div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger p-1">

						<p *ngIf="name.errors.required" class="mb-0">
							Name is required.
						</p>
						<p *ngIf="name.errors.minlength" class="mb-0">
							Name must be at least 3 characters long.
						</p>
					</div>
				</div>

				<div class="form-row px-5">
					<div class=" col-md-6 ">
						<input class="form-control" type="tel" value="" id="example-tel-input" formControlName="telefon"
							placeholder="Telefon">
						<div *ngIf="telefon.invalid && (telefon.dirty || telefon.touched)" class="alert alert-danger p-1">
							<p *ngIf="telefon.errors.required" class="mb-0">
								Unesite broj telefona.
							</p>
							<p *ngIf="telefon.errors.email" class="mb-0">
								Pogresan broj telefona.
							</p>



						</div>
					</div>

					<div class="col-md-6">

						<input type="text" id="mailInp" class="form-control border-info" formControlName="email" required
							placeholder="Email">
						<div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger p-1">
							<p *ngIf="email.errors.required" class="mb-0">
								Obavezana email adresa.
							</p>
							<p *ngIf="email.errors.email" class="mb-0">
								Pogresna email adresa.
							</p>
						</div>
					</div>


				</div>

				<div class="form-row px-5 pt-2">
					<div class="col-md-6">

						<input type="text" class="form-control border-info" formControlName="city" required placeholder="Grad">
						<div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger p-1">
							<p *ngIf="city.errors.required" class="mb-0">
								Grad je obavezan.
							</p>

						</div>
					</div>

					<div class=" col-md-6 ">
						<select class="form-control" (change)="selectChangeHandler($event) " formControlName="select"
							placeholder="Izaberite zemlju">
							<option selected>Izaberite zemlju</option>
							<option value="Srbija">Srbija</option>
							<option value="Bosna i Hercegovina">Bosna i Hercegovinva</option>
						</select>
					</div>
				</div>

				<div class="form-group px-5">
					<textarea class="form-control mt-2" rows="3" formControlName="text"></textarea>
					<div *ngIf="text.invalid && (text.dirty || text.touched)" class="alert alert-danger p-1">
						<p *ngIf="text.errors.required" class="mb-0">
							Unesite tekst.
						</p>
					</div>
				</div>
				<div class="px-5 py-5">

					<button class="btn btn-primary btn-block rounded " [disabled]="!form.valid" type="submit">Posalji</button>
				</div>
			</div>
		</form>
	</div>
</div>