Edit in JSFiddle

Result
HTML
Resources

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-2 text-center">What people say</h2>
                <p class="mb-5 text-center">Masonry testimonial cards grid</p>
            </div>
            <div class="col-12">
                <div class="card-columns">

                    <div class="card mb-4">
                        <div class="card-body">
                            <blockquote class=" ">

                                <i class="fa fa-quote-right fa-2x text-muted pull-right mt-3 mb-3"
                                    aria-hidden="true"></i>
                                <p class=" m-0 text-muted ">
                                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean
                                    sit amet felis dolor, in sagittis nisi.
                                </p>
                                <footer class="blockquote-footer small p-1">
                                    <span class="small">John Doe
                                        <cite class="font-weight-bold">COMPANY NAME</cite>
                                    </span>
                                </footer>

                            </blockquote>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <blockquote class=" ">

                                <i class="fa fa-quote-right fa-2x text-muted pull-right mt-3 mb-3"
                                    aria-hidden="true"></i>
                                <p class=" m-0 text-muted ">
                                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Etiam
                                    sed iaculis libero, at euismod massain venenatis ligula. </p>
                                <footer class="blockquote-footer small p-1">
                                    <span class="small">John Doe
                                        <cite class="font-weight-bold">COMPANY NAME</cite>
                                    </span>
                                </footer>

                            </blockquote>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <blockquote class=" ">

                                <i class="fa fa-quote-right fa-2x text-muted pull-right mt-3 mb-3"
                                    aria-hidden="true"></i>
                                <p class=" m-0 text-muted ">
                                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean
                                    sit amet felis dolor, in sagittis nisi. Etiam sed iaculis libero, at euismod massain
                                    venenatis ligula. </p>
                                <footer class="blockquote-footer small p-1">
                                    <span class="small">John Doe
                                        <cite class="font-weight-bold">COMPANY NAME</cite>
                                    </span>
                                </footer>

                            </blockquote>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <blockquote class=" ">

                                <i class="fa fa-quote-right fa-2x text-muted pull-right mt-3 mb-3"
                                    aria-hidden="true"></i>
                                <p class=" m-0 text-muted ">
                                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean
                                    sit amet felis dolor, in sagittis nisi. Etiam sed iaculis libero, at euismod massain
                                    venenatis ligula. </p>
                                <footer class="blockquote-footer small p-1">
                                    <span class="small">John Doe
                                        <cite class="font-weight-bold">COMPANY NAME</cite>
                                    </span>
                                </footer>

                            </blockquote>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <blockquote class=" ">

                                <i class="fa fa-quote-right fa-2x text-muted pull-right mt-3 mb-3"
                                    aria-hidden="true"></i>
                                <p class=" m-0 text-muted ">

                                    Etiam sed iaculis libero, at euismod massain venenatis ligula. </p>
                                <footer class="blockquote-footer small p-1">
                                    <span class="small">John Doe
                                        <cite class="font-weight-bold">COMPANY NAME</cite>
                                    </span>
                                </footer>

                            </blockquote>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <blockquote class=" ">

                                <i class="fa fa-quote-right fa-2x text-muted pull-right mt-3 mb-3"
                                    aria-hidden="true"></i>
                                <p class=" m-0 text-muted ">
                                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean
                                    sit amet felis dolor, in sagittis nisi. Etiam sed iaculis libero, at euismod massain
                                    venenatis ligula. </p>
                                <footer class="blockquote-footer small p-1">
                                    <span class="small">John Doe
                                        <cite class="font-weight-bold">COMPANY NAME</cite>
                                    </span>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>