<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">
    <h4>Pool Service</h4>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item mr-4">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">BAZENI</a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" [routerLink]="['/'] " routerLinkActive="active">OPREMA</a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" [routerLink]="['/'] " routerLinkActive="active">ODRŽAVANJE</a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" [routerLink]="['/'] " routerLinkActive="active">O NAMA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact'] " routerLinkActive="active">KONTAKT</a>
      </li>
    </ul>
    <div class="d-flex flex-column mr-5">
      <div>Pozovite nas</div>
      <div><a href="tel:+381214329654"> 021/ 4320 654</a></div>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-primary rounded p-3">Besplatna konsultacija</button>
    </form>
  </div>
</nav>