@import "../../../assets/scss/colors";

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  height: 128px;
  background-color: #fff;

  .navbar-brand > img {
    width: 140px;
  }

  .nav-link {
    color: #1D293F;

    &:hover {
      color: #175CFF;
    }
  }

  h4 {
    font-family: 'Gilroy-bold', sans-serif;
    font-size: 26px;
  }

  ul {
    list-style-type: none;

    li {
      a {
        font-family: 'Gilroy-bold', sans-serif;
        font-weight: bold;
      }
    }
  }
}





