@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "../../../assets/scss/colors";

.navbar {
  background-color: #fff;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: auto;

  .navbar-brand > img {
    width: 140px;
  }

  .nav-link {
    color: #1D293F;

    &:hover {
      color: #175CFF;
    }
  }

  h4 {
    font-family: 'Gilroy-bold', sans-serif;
    font-size: 26px;
  }

  ul {
    list-style-type: none;

    li {
      a {
        font-family: 'Gilroy-bold', sans-serif;
        font-weight: bold;
      }
    }
  }
}





