@import "src/assets/scss/colors";


.navbar {
  height: 128px;
  font-family: 'Gilroy-regular', sans-serif;

  h4 {
    font-family: 'Gilroy-bold', sans-serif;
    font-size: 26px;
  }

  ul {
    list-style-type: none;

    li {
      a {
        font-family: 'Gilroy-bold', sans-serif;
        font-weight: bold;
      }
    }
  }
}

