<div class="container-fluid steps my-128">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">3 koraka<br> do bazena iz snova</h2>
      <div class="row justify-content-center d-none d-md-flex my-64 pb-64">
        <div class="col-12 offset-md-1 col-md-3 align-self-start" id="steps">
          <div class="border mr-auto mr-md-0">
            <img src="assets/img/icons/phone.svg" alt="Kontaktirajte nas još danas i zatražite besplatnu ponudu">
            <p class="text-left pt-5 mt-3 h4 font-weight-bold" style="width: 220px">Kontaktirajte nas i zatražite
              ponudu</p>
          </div>
        </div>
        <div class="col-12 col-md-3 align-self-center dole" id="steps2">
          <div class="border mx-auto mx-md-0">
            <img src="assets/img/icons/ponuda.svg" alt="Sprovešćemo Vas kroz ponudu u detaljima">
            <p class="text-left pt-5 mt-3 h4 font-weight-bold" style="width: 220px">Izaberite model bazena koji ste
              oduvek želeli</p>
          </div>
        </div>
        <div class="col-12 col-md-3 align-self-end dole-2 mb-5 test">
          <div class="border ml-auto ml-md-0">
            <img src="assets/img/icons/dvoriste.svg" alt="Uzivanje">
            <p class="text-left pt-5 mt-3 h4 font-weight-bold" style="width: 220px">Opustite se dok Pool Service uradi
              sve ostalo</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center d-block d-md-none my-64 pt-4">
        <div class="col-12 col-md-3 mb-5">
          <div class="border mx-auto">
            <img src="assets/img/icons/phone.svg" alt="Ugovaranje">
          </div>
          <p class="text-center pt-4 px-5 h5 font-weight-bold">Kontaktirajte nas još danas i zatražite besplatnu
            ponudu</p>

        </div>
        <div class="col-12 col-md-3 mb-5">
          <div class="border mx-auto">
            <img src="assets/img/icons/ponuda.svg" alt="Izgradnja">
          </div>
          <p class="text-center pt-4 px-5 h5 font-weight-bold">Sprovešćemo Vas kroz ponudu u detaljima</p>

        </div>
        <div class="col-12 col-md-3 mb-5">
          <div class="border mx-auto">
            <img src="assets/img/icons/dvoriste.svg" alt="Uzivanje">
          </div>
          <p class="text-center pt-4 px-5 h5 font-weight-bold">Prepustite se i gledajte transformaciju Vašeg
            dvorišta</p>

        </div>
      </div>
    </div>
  </div>
</div>
