<div class="container naslov__pading-top">
	<div class="row">
		<div class="col-12 text-center ">
			<h2 class="pb-5">Stepenice</h2>
			<p>
				Stepenice služe za lakši izlazak kupača iz bazena. <br>
				Izradjene od nerdjajućeg čelika uglavnom sa dva do četiri gazišta. <br>
				Oblik može biti uski ili široki rukohvat.
			</p>
		</div>
	</div>
</div>

<div class="container cards__padding-bottom ">
	<div class="row justify-content-center">

		<div class="col-3 offset-1 ">
			<img class="card-img-top img" src="assets/img/stepenice/1.jpg" alt="Card image cap">
			<p class="naslov pt-2 ">Stepenice LUX

			</p>


		</div>
		<div class="col-3 offset-1">
			<img class="card-img-top img pr-5" src="assets/img/stepenice/2.jpg" alt="Card image cap">
			<p class="naslov pt-2 ">Stepenice STANDARD

			</p>

		</div>
	</div>
</div>
<div class="container">
	<div class="row text-center pb-5">
		<div class="col-12">
			<button class="btn btn-primary mt-5  btn-lg border-0 " [routerLink]="['/contact'] ">Kontaktirajte
				nas</button>
		</div>
	</div>
</div>




<app-konsultacije></app-konsultacije>