<app-navbar></app-navbar>

<div class="container pt-128">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Stepenice</h2>
      <p class="text-center">
        Stepenice služe za lakši izlazak kupača iz bazena. <br>
        Izradjene od nerdjajućeg čelika uglavnom sa dva do četiri gazišta. <br>
        Oblik može biti uski ili široki rukohvat.
      </p>
    </div>
  </div>
</div>

<div class="container py-128">
  <div class="row justify-content-center">

    <div class="col-12 col-md-4">
      <img class="img-fluid w-100" src="assets/img/stepenice/1.jpg" alt="Stepenice">
      <p class="naslov pt-2 text-center">Stepenice LUX</p>
    </div>
    <div class="col-12 col-md-4">
      <img class="img-fluid w-100" src="assets/img/stepenice/2.jpg" alt="Stepenice">
      <p class="naslov pt-2 text-center">Stepenice STANDARD</p>
    </div>
  </div>
</div>


<app-konsultacije></app-konsultacije>
