<!-- HEADING SECTION -->

<div class="container  padding-top_container_text">
    <div class="row">
        <div class="col-sm-12  ">
            <h1><span>Enthusiastically develop an</span> <span>expanded array of architectures</span></h1>
            <div class="post-by d-flex justify-content-center py-5 ">
                <p>Jan 14, 2020</p>
                <p class="ml-4"> <span class="mr-lg-4" style="color: #5454D4;">&#8226;</span>
                    Technology </p>
                <p class="ml-4"> <span class="mr-lg-4" style="color: #5454D4;">&#8226;</span> David Jones</p>
            </div>
        </div>
    </div>
</div>

<!-- END HEADING SECTION -->


<!-- BLOG CONTENT -->

<div class="container blog-content">
    <div class="row">
        <div class="col-lg-9">
            <img class="d-flex" src="../../../assets/img/blog/blog-page-1/Image(1).png" alt="blog-slika">
            <p class="mt-4 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit consequatur illo non,
                corporis, similique
                dolorum id rem tempore facere dolor aliquid impedit earum dignissimos at architecto tempora et sint
                quibusdam!</p>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus illum optio perspiciatis repellat.
                Facere distinctio quos dolorem commodi! Repellendus sequi praesentium quas ullam quia illo cumque nemo
                culpa autem optio.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam vel praesentium, nemo dolorem esse
                error magni deleniti sequi? Fuga corrupti fugit accusamus tempora nemo consequatur minima fugiat quam
                quos enim. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti quaerat temporibus
                voluptas minus earum voluptatem neque tempore, nihil alias nostrum aut similique quae cumque aliquam
                nobis veritatis dolorum ab? In.</p>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet delectus voluptatum praesentium minus?
                Inventore eius debitis praesentium accusantium excepturi dignissimos quam a, assumenda ipsam perferendis
                rem consequatur iusto veniam vel.</p>

            <h5>The goal should be more than money</h5>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet delectus voluptatum praesentium minus?</p>


            <div class="row pt-5 pb-5">
                <div class="col-sm-1">
                    <i class="fas fa-quote-left mr-5" style="width: 31.22px; height: 20px;" style="color: #CDCCD9;"></i>

                </div>
                <div class="col-sm-9">


                    <p style="font-weight: 500;
                    font-size: 21px;
                    line-height: 34px;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi officiis totam autem
                        exercitationem, ipsam eius aliquam magni sapiente quisquam minima quod odio eaque atque! Fugiat
                        odit illo porro nostrum accusamus.</p>
                </div>
            </div>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta possimus quos iure voluptates aliquam
                incidunt iste officiis itaque atque. Optio, velit maiores minus perferendis esse similique recusandae
                excepturi officiis cumque! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id quisquam
                quibusdam tempore aliquam repudiandae. Consectetur odit, aliquid nulla doloribus et ab eos, blanditiis
                molestiae necessitatibus quod deserunt minima dolor. Quisquam.</p>


        </div>


        <div class="col-lg-3">

            <!-- Search Widget -->
            <div class="card ">


                <div class="input-group">
                    <input type="text" class="form-control" placeholder="🔍Type to search">

                </div>


            </div>

            <div class="card my-4">

                <div class="card-body">
                    <h5>Recent Posts</h5>




                    <p style="font-weight: bold;
                        font-size: 16px;
                        line-height: 26px;" class="mt-4">How TO blow Trough Capital at An increbal rate</p>
                    <a href="#" style="font-weight: 500;
                    font-size: 14px;
                    line-height: 26px;">Jan 14, 2020</a>


                    <p style="font-weight: bold;
                        font-size: 16px;
                        line-height: 26px;" class="mt-4">How TO blow Trough Capital at An increbal rate</p>
                    <a href="#" style="font-weight: 500;
                    font-size: 14px;
                    line-height: 26px;">Jan 14, 2020</a>


                    <p style="font-weight: bold;
                        font-size: 16px;
                        line-height: 26px;" class="mt-4">How TO blow Trough Capital at An increbal rate</p>
                    <a href="#" style="font-weight: 500;
                    font-size: 14px;
                    line-height: 26px;">Jan 14, 2020</a>


                    <p style="font-weight: bold;
                        font-size: 16px;
                        line-height: 26px;" class="mt-4">How TO blow Trough Capital at An increbal rate</p>
                    <a href="#" style="font-weight: 500;
                    font-size: 14px;
                    line-height: 26px;">Jan 14, 2020</a>



                </div>
            </div>

            <div class="card my-4">

                <div class="card-body">
                    <h5>Popular Posts</h5>




                    <p style="font-weight: bold;
                        font-size: 16px;
                        line-height: 26px;" class="mt-4">How TO blow Trough Capital at An increbal rate</p>
                    <a href="#" style="font-weight: 500;
                    font-size: 14px;
                    line-height: 26px;">Jan 14, 2020</a>


                    <p style="font-weight: bold;
                        font-size: 16px;
                        line-height: 26px;" class="mt-4">How TO blow Trough Capital at An increbal rate</p>
                    <a href="#" style="font-weight: 500;
                    font-size: 14px;
                    line-height: 26px;">Jan 14, 2020</a>


                    <p style="font-weight: bold;
                        font-size: 16px;
                        line-height: 26px;" class="mt-4">How TO blow Trough Capital at An increbal rate</p>
                    <a href="#" style="font-weight: 500;
                    font-size: 14px;
                    line-height: 26px;">Jan 14, 2020</a>


                    <p style="font-weight: bold;
                        font-size: 16px;
                        line-height: 26px;" class="mt-4">How TO blow Trough Capital at An increbal rate</p>
                    <a href="#" style="font-weight: 500;
                    font-size: 14px;
                    line-height: 26px;">Jan 14, 2020</a>



                </div>
            </div>

            <div class="card my-4 card_category">

                <div class="card-body">
                    <h5>Categoris</h5>


                    <p>Technology - <span>20 Posts</span> </p>
                    <p>Technology - <span>20 Posts</span> </p>
                    <p>Technology - <span>20 Posts</span> </p>
                    <p>Technology - <span>20 Posts</span> </p>
                    <p>Technology - <span>20 Posts</span> </p>
                    <p>Technology - <span>20 Posts</span> </p>









                </div>
            </div>
        </div>
    </div>
</div>

<!-- END BLOG-CONTENT -->



<!-- CONSULTATION-BOTTOM -->
<div class="container-fluid consultation_container py-4">
    <div class="row">
        <div class="col-sm-12">
            <div class="container">


                <div class="float-left mt-5 p-xl-3
            " style="color: #fff;">
                    <h4>Besplatne konsultacije</h4>
                    <h4> bricks-and-clicks innovation.
                    </h4>
                </div>
                <div class="float-right mt-5 p-xl-4">
                    <button class="btn  rounded p-3" style="background:  #FF8125; color: #fff;">Klikni
                        ovde</button>
                </div>


            </div>
        </div>
    </div>

</div>

<!-- END CONSULTATION-BOTTOM  -->