@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "../../../assets/scss/colors";

#hero .container-fluid .row {
  height: 55vw;
  @include media-breakpoint-only(lg) {
    height: 67vw;
  }
  @include media-breakpoint-down(md) {
    height: 80vw;
  }
}

.polumontazni-cover-background {
  height: 40vw;
  max-height: 100%;
  min-width: 300px;
  background-image: url("https://wearenicey.com/projects/pool-service/assets/img/polumontazni-bazeni/naslovna.jpg");
  background-position: center;
  background-size: cover;

  @include media-breakpoint-down(sm) {
    height: 90vh !important;
    background-position: 70% top;
  }

  @include media-breakpoint-down(md) {
    height: 80vh;
  }

  @include media-breakpoint-only(lg) {
    height: 67vh;
  }

  h1 {
    color: #fff;
  }

  p {
    color: #fff;
  }
}

.home-cover {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}


// Carousel
#hero {
  img {
    width: 100%;
  }
}

.carousel-text {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 240px;

  h1 {
    color: #fff;
  }

  p {
    color: #fff;
  }
}

.pool-cover {
  background-image: url("../../../assets/img/polumontazni-bazeni/naslovna-1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;


  p {
    font-size: 24px;
    color: #fff;

  }

  h1 {
    font-weight: bold;
    font-size: 70px;
    line-height: 70px;

    letter-spacing: -1px;
  }

  .btn {
    background-color: #FF8125;
  }
}

#future-content {

  h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.750316px;
  }
}

.magic__container {

  img {
    height: 480px;
  }
}


.padding-bottom_work {
  padding-bottom: 160px;

}



.measure > span {
  border-radius: 4px;
  padding: .5rem .5rem;
  margin-right: .5rem;
  margin-top: 12px;
}


.padding-bottom__gallery {
  padding-bottom: 128px;

  .position__center {
    margin-top: 88px;

  }
}

#polumontazniGalerija {
  @include media-breakpoint-down(sm) {
    margin-bottom: 0 !important;
  }
}
