@import "../../../assets/scss/colors";

.pool-cover {
    background-image: url("../../../assets/img/polumontazni-bazeni/slika-1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 640px;

    

    h1 {
        font-weight: bold;
        font-size: 70px;
        line-height: 70px;

        letter-spacing: -1px;
    }

    .btn {
        background-color: #FF8125;
    }
  }

  .cards__background {
      background-color: #E9F7FE;

      h3 {
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.750316px;
      }
  }

  .magic__container {
      padding-bottom: 96px;

    .btn-primary {
        border-radius: 30px;
        border: 2px solid #E5E5E5;
        box-sizing: border-box;
        color: #175CFF;
        background-color: #ffff;


    }


    .btn.btn-primary:active:hover,
    .btn.btn-primary:hover{
            color: #ffffff;
            background-color: $primary;
        
        
        }

     img {
         height: 480px;
     }   
  }

 


 
  .padding-bottom_work {
      padding-bottom: 160px;

  }

.steps{
.backgorund_working {
    background-color: #E9F7FE ;
    h3 {
        font-size: 58px;
        line-height: 64px;

        text-align: center;
        letter-spacing: -1px;
    }
}
 p {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    
    letter-spacing: -0.2px;
 }


.border {
    background: #2E79CA;
    box-shadow: 0px 32px 54px rgba(37, 138, 255, 0.224553);
    border-radius: 10px;
    width: 184px;
    height: 184px;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 64px;

    }
    
    
  }
 




  #steps {
    

    &:nth-last-child(-n+3):after {
        content: url(../../../assets/img/polumontazni-bazeni/slika-7.png);
        display: block;
        position: absolute;
        left: 300px;
        top: 128px;
        
    }

}


#steps2 {
  


&:nth-last-child(-n+3):after {
content: url(../../../assets/img/polumontazni-bazeni/slika-8.png);
display: block;
position: absolute;
left: 300px;
top: 64px;


}

}




.dole-2 {
    padding-top: 280px ;
}






}


.padding-bottom-who {
    padding-bottom: 112px ;
    .up-text {
        p {
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;

            letter-spacing: 2px;
            text-transform: uppercase;

            color: #175CFF;
        }
    }
}

.padding-top-card_one {
    padding-bottom: 172px;

  
    .background_card {
      background-color: #E9F7FE;
      height: 576px;
    }
  
    .tex-right {
  
      .test {
        margin-right: 16.666666%;
      }
  
      h3 {
        font-weight: 600;
        font-size: 48px;
        line-height: 60px;
      }
  
      p {
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
      }
    }
  
    .z-index_postion {
      margin-top: 104px;
    }

    .centimetri {
        font-weight: normal;
        font-size: 18px;
        line-height: 16px;

        letter-spacing: 0.1px;

        color: #57586E;
    }

    .border {
        background: #EBF4FA;
        border-color:#EBF4FA ;


    }
    .btn {
        border-radius: 36px;
    }
  
  }


  .padding-top-card_two {
    padding-bottom: 172px;

  
    .background_card {
      background-color: #E9F7FE;
      height: 576px;
    }
  
    .tex-left{
      .test {
        margin-left: 16.666666%;
      }
  
     
  
      h3 {
        font-weight: 600;
        font-size: 48px;
        line-height: 60px;
      }
  
      p {
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
      }
    }
  
    .z-index_postion {
      margin-top: 104px;
    }

    .centimetri {
        font-weight: normal;
        font-size: 18px;
        line-height: 16px;

        letter-spacing: 0.1px;

        color: #57586E;
    }

    .border {
        background: #EBF4FA;
        border-color:#EBF4FA ;


    }
    .btn {
        border-radius: 36px;
    }
  
  }

  .padding-bottom__galerija{
    padding-bottom: 128px;
  }

  
  
 