<!-- Pool Cover -->

<div id="hero" class="polumontazni-cover-background">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 col-lg-10 col-xl-8">

        <h1 class="display-4">Polumontažni bazeni sa lajnerom</h1>
        <p class="mb-5">Nemački Future Pool bazeni</p>
        <a class="btn btn-secondary" role="button" [routerLink]="['/kontakt']">Zatražite ponudu</a>

      </div>
    </div>
  </div>
</div>

<!-- end Pool Cover -->

<section class="bg-light py-64">
  <div id="future-content" class="container">
    <div class="row">
      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <img src="assets/img/polumontazni-bazeni/future-01.svg" alt="slika2" class="img-fluid mb-4" width="64">
        <h5>Ekonomičnost</h5>
        <p class="small pr-5">Najisplativija investicija: brza ugradnja, niža cena, laka konstrukcija</p>
      </div>
      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <img src="assets/img/polumontazni-bazeni/future-02.svg" alt="knjiga" class="img-fluid mb-4" width="64">
        <h5>Jednostavno održavanje</h5>
        <p class="small pr-5">Otporni su na klizišta i loše terene, laka zamena</p>
      </div>
      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <img src="assets/img/polumontazni-bazeni/future-03.svg" alt="slika2" class="img-fluid mb-4" width="64">
        <h5>Dugotrajnost</h5>
        <p class="small pr-5">Nemački kvalitet garantuje izdržljivost i kvalitet materijala</p>
      </div>
    </div>
  </div>
</section>


<div class="container my-128">
  <div class="row align-items-center">
    <div class="col-12 col-md-5">
      <h3 class="mb-3">Najtraženiji tip bazena</h3>
      <p class="mb-5">Iz programa firme Future Pool iz Nemačke nudimo polumontažne bazene sa PVC lajnerom za brzu
                      gradnju, fabrički proizvedene u tri različita oblika ovalni, kružni i u obliku osmice.
                      Ovi bazeni mogu biti dubine 1,5m i 1,2m.
      </p>
      <button class="btn btn-secondary" [routerLink]="['/kontakt']">Kontaktirajte nas</button>
    </div>
    <div class="col-12 col-md-6 offset-md-1">
      <img class="img-fluid" src="assets/img/polumontazni-bazeni/slika-6.png" alt="kvadrati">
    </div>
  </div>
</div>


<div class="container-fluid steps my-128">
  <div class="row">
    <div class="col-12">
      <h3 class="text-left text-md-center">Brzo i lako do<br>Fututre Pool bazena</h3>
      <div class="row justify-content-center my-64">
        <div class="col-12 offset-md-1 col-md-3 align-self-start" id="steps">
          <div class="border mr-auto mr-md-0">
            <img src="assets/img/korak-01.svg" alt="Ugovaranje">
            <p class=" text-center pt-5">Izrada projekata</p>
          </div>
        </div>
        <div class="col-12 col-md-3 align-self-center dole" id="steps2">
          <div class="border mx-auto mx-md-0">
            <img src="assets/img/korak-02.svg" alt="Izgradnja">
            <p class=" text-center pt-5">Radovi</p>
          </div>
        </div>
        <div class="col-12 col-md-3 align-self-end dole-2 mb-5 test">
          <div class="border ml-auto ml-md-0">
            <img src="assets/img/korak-03.svg" alt="Uzivanje">
            <p class=" text-center pt-5">Uživanje</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- who we are -->
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <p class="text-primary text-uppercase">Future pool</p>
      <h3>Visoko kvalitetni bazeni rađeni po EU standardima</h3>
    </div>
    <div class="col-12 col-md-6 pt-line">
      <p>Lajnerski Future Pool bazeni se ugradjuju u već pripremljenu gradjevinsku podlogu. Zid bazena je od
         visoko kvalitetnog čeličnog lima preko koga se postavlja PVC lajner – svetlo plave boje, koji drži
         vodonepropusnost i koji je otporan na UV zračenja.</p>
      <p> Future Pool bazeni predstavljaju savremeno i ekonomski pristupačno rešenje sa osnovnom
          opremom i dodatnom opremom po želji.</p>
    </div>
  </div>
</div>

<!-- end who we are -->

<section class="bg-light my-128">
  <div class="container-fluid content">
    <div class="mx-lg-5 mx-sm-0">
      <div class="container">
        <div class="row align-items-center py-5">
          <div class="col-12 col-md-5" id="slika-up">
            <img class="img-fluid mb-4 mb-sm-0"
                 src="assets/img/polumontazni-bazeni/bazeni-ovalnog-oblika-future-pool.jpg"
                 alt="Bazeni ovalnog oblika Future Pool">
          </div>
          <div class="col-12 col-md-6 offset-md-1">
            <div class="test">
              <h3 class="mb-4">Bazeni ovalnog oblika Future Pool</h3>
              <p>Bazeni ovalnog oblika mogu biti dubine 1,5m i 1,2m</p>
              <div class="mt-5 mb-3">
                <img class="mr-1 img-fluid"
                     src="assets/img/polumontazni-bazeni/lenjir.png"
                     alt="lenjir">
                Dimenzije bazena <span class="centimetri">(cm)</span>
              </div>
              <div class="measure">
                <span class="bg-white">632 x 360</span>
                <span class="bg-white">800 x 400</span>
                <span class="bg-white">1100 x 550</span>
                <span class="bg-white">737 x 360</span>
                <span class="bg-white">916 x 460</span>
              </div>
              <button class="btn btn-secondary mt-5" [routerLink]="['/kontakt']">Zatražite ponudu</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container mb-64">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h2 class="text-center">Galerija naših uspešno završenih Future Pool bazena</h2>
    </div>
  </div>
</div>

<div class="swiper-container mb-128" [swiper]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img class="img-fluid" src="assets/img/polumontazni-bazeni/pic01.jpg" alt="">
    </div>
    <div class="swiper-slide">
      <img class="img-fluid" src="assets/img/polumontazni-bazeni/pic03.jpg" alt="">
    </div>
    <div class="swiper-slide">
      <img class="img-fluid" src="assets/img/polumontazni-bazeni/pic03.jpg" alt="">
    </div>
  </div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>


<app-konsultacije></app-konsultacije>


