<!-- Pool Cover -->

<div class="container-fluid px-5">
	<div class="  text-white pool-cover">
		<div class="row h-100 align-items-center ml-5 ">
			<div class="col-6">
				<h1 class="display-4">POLUMONTAŽNI BAZENI SA LAJNEROM</h1>
				<p>Nemački Future Pool bazeni</p>
				<button class="btn btn-secondary mt-4">Zatražite ponudu </button>
			</div>
		</div>
	</div>
</div>

<!-- end Pool Cover -->
<!-- Cards -->
<div class="container-fluid px-5  ">
	<div class="row mx-auto ">
		<div class="col-12 cards__background p-5">
			<div class="row mx-5 my-5">
				<div class="col-4 text-center">
					<img src="assets/img/polumontazni-bazeni/slika-3.png" alt="slika2" class="mb-4">
					<h3 class="pb-3">Ekonomičnost</h3>
					<p>Najisplativija investicija: brza ugradnja, niža <br> cena, laka konstrukcija</p>
				</div>
				<div class="col-4 text-center">
					<img src="assets/img/polumontazni-bazeni/slika-4.png" alt="knjiga" class="mb-4">
					<h3 class="pb-3">Jednostavno održavanje</h3>
					<p>Otporni su na klizišta i loše terene, <br> laka zamena</p>
				</div>
				<div class="col-4 text-center">
					<img src="assets/img/polumontazni-bazeni/slika-5.png" alt="slika2" class="mb-4">
					<h3 class="pb-3">Dugotrajnoste</h3>
					<p>Nemački kvalitet garantuje izdržljivost i <br> kvalitet materijala</p>
				</div>
			</div>
		</div>


	</div>
</div>

<!-- End Cards -->


<div class="container pt-5 magic__container">
	<div class="row">
		<div class="col-12 ">
			<div class="row">
				<div class="col-5 mt-5">
					<h3>Najtraženiji tip bazena</h3>
					<p>Iz programa firme Future Pool iz Nemačke nudimo
						polumontažne bazene sa PVC lajnerom za brzu
						gradnju, fabrički proizvedene u tri različita oblika
						ovalni, kružni i u obliku osmice. <br>
						Ovi bazeni mogu biti dubine 1,5m i 1,2m.
					</p>

					<button class="btn btn-primary mr-2">Kontaktirajte nas</button>
				</div>
				<div class="col-6 offset-1">
					<img src="assets/img/polumontazni-bazeni/slika-6.png" alt="kvadrati">
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid px-5  steps padding-bottom_work">
	<div class="row">
		<div class="col-12 background_working  ">
			<h3 class="text-center p-5">Working with <br> Instappoint is simple</h3>
			<div class="row ">

				<div class="col-3 offset-2 align-self-star" id="steps">
					<img src="assets/img/polumontazni-bazeni/slika-7.png" alt="ugovaranje">
					<p class=" text-center pt-5">Projektovanje</p>


				</div>


				<div class="col-3  align-self-center dole" id="steps2">
					<img src="assets/img/polumontazni-bazeni/slika-7.png" alt="Izgradnja">
					<p class=" text-center pt-5">Izgradnja</p>


				</div>

				<div class="col-3 align-self-end dole-2 mb-5 test ">
					<img src="assets/img/polumontazni-bazeni/slika-7.png" alt="Uzivanje">
					<p class=" text-center pt-5">Uzivanje</p>


				</div>

			</div>
		</div>
	</div>
</div>

<!-- who we are -->
<div class="container padding-bottom-who">
	<div class="row">
		<div class="col-6 up-text">
			<p>Future pool</p>
			<h3>Visoko kvalitetni bazeni rađeni po EU standardima</h3>
		</div>
		<div class="col-6 pt-5">
			<p>Lajnerski Future Pool bazeni se ugradjuju u već pripremljenu gradjevinsku podlogu. Zid bazena je od
				visoko kvalitetnog čeličnog lima preko koga se postavlja PVC lajner – svetlo plave boje, koji drži
				vodonepropusnost i koji je otporan na UV zračenja.

			</p>
			<p class="pt-5"> Future Pool bazeni predstavljaju savremeno i ekonomski pristupačno rešenje sa osnovnom
				opremom i dodatnom opremom po želji.</p>
		</div>
	</div>
</div>

<!-- end who we are -->

<div class="container-fluid padding-top-card_one">
	<div class="row px-5">
		<div class="col-sm-12 background_card">
			<div class="row mt-5">
				<div class="col-sm-5 offset-1  mt-5">
					<img class="img-fluid" src="assets/img/polumontazni-bazeni/slika-9.png" alt="card-slika">
				</div>
				<div class="col-sm-6 mt-5 tex-right">
					<div class="test">
						<h4>Bazeni ovalnog oblika Future Pool</h4>
						<p>Bazeni ovalnog oblika mogu biti dubine 1,5m i 1,2m</p>
						<h5 class="pb-5"><img src="assets/img/polumontazni-bazeni/lenjir.png" alt="lenjir"
								class="mr-1">Dimenzije <span class="centimetri">cm</span></h5>
						<span class="border border-light p-2 ">
							632 x 360
						</span>
						<span class="border  border-light p-2 ml-2">
							800 x 400
						</span>
						<span class="border border-light p-2 ml-2">
							1100 x 550
						</span>
						<br>
						<br>
						<span class="border border-light p-2  ">
							737 x 360
						</span>
						<span class="border border-light p-2 ml-2 ">
							916 x 460
						</span>

						<br>
						<button class="btn btn-primary mt-5 ">Zatražite ponudu</button>



					</div>
				</div>
			</div>
		</div>
	</div>
</div>





<!-- <owl-carousel-o [options]="mySlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
	<div class="item" *ngFor="let image of mySlideImages;let i = index">
		<div>
			<img src={{image}} />
		</div>
	</div>
</owl-carousel-o> -->
<!-- GALERIJA -->
<div class="container padding-bottom__gallery">
	<div class="row">
		<div class="col-1 align-self-center float-right  position__center">
			<a class="float-right" (click)="prevImageClick()"><i class="fas fa-chevron-left"></i></a>
		</div>
		<div class="col-10 ">
			<h3 class="text-center pb-5">Galerija</h3>

			<ng-image-slider #nav [images]="imageObject" [infinite]="false" [autoSlide]="1" [showArrow]="false"
				[imageSize]="{height: 200, width:276, space:50}" slideImage="1">
			</ng-image-slider>


		</div>
		<div class="col-1 align-self-center  position__center">
			<a class="float-right" (click)="nextImageClick()"><i class="fas fa-chevron-right"></i></a>

		</div>

	</div>
</div>

<!-- END GALERIJA -->

<!-- CONSULTATION-BOTTOM -->
<app-konsultacije></app-konsultacije>


<!-- END CONSULTATION-BOTTOM  -->