<!-- Pool Cover -->

<div class="container-fluid px-5">
	<div class="  text-white pool-cover">
		<div class="row h-100 align-items-center ml-5 ">
			<div class="col-6">
				<h1 class="display-4">Vaše dvorište, Vaš <br> bazen, Vaša pravila</h1>
				<p class="pt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut perferendis, <br> esse
					excepturi aliquid
					unde.</p>
				<button class="btn btn-secondary">Saznaj vise</button>
			</div>
		</div>
	</div>
</div>

<!-- end Pool Cover -->
<!-- Cards -->
<div class="container-fluid px-5  ">
	<div class="row mx-auto ">
		<div class="col-12 cards__background p-5">
			<div class="row mx-5 my-5">
				<div class="col-4 text-center">
					<img src="../../../assets/img/polumontazni-bazeni/slika2.svg" alt="slika2" class="mb-4">
					<h3>Sole Daily Problems</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum corporis quas possimus quaerat nostrum
						mollitia
						autem.</p>
				</div>
				<div class="col-4 text-center">
					<img src="../../../assets/img/polumontazni-bazeni/slika-3.png" alt="knjiga" class="mb-4">
					<h3>Key Notes Of Each Charpet</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum corporis quas possimus quaerat nostrum
						mollitia
						autem.</p>
				</div>
				<div class="col-4 text-center">
					<img src="../../../assets/img/polumontazni-bazeni/slika-4.png" alt="slika2" class="mb-4">
					<h3>Audio Book Available</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum corporis quas possimus quaerat nostrum
						mollitia
						autem.</p>
				</div>
			</div>
		</div>


	</div>
</div>

<!-- End Cards -->
<div class="container-fluid py-5">
	<div class="row">
		<div class="col-12 border">

		</div>
	</div>
</div>

<div class="container pt-5 magic__container">
	<div class="row">
		<div class="col-12 ">
			<div class="row">
				<div class="col-5 mt-5">
					<h3>Some magic tricks <br>
						for your phone</h3>
					<p>Stream real-time video of your home, and receive notificatoins whenever motion is detected, with
						<br> Canary’s
						1080p HD camera. Perfect device way.</p>

					<button class="btn btn-primary mr-2">How it work</button>
					<button class="btn btn-primary ">Our blog</button>
				</div>
				<div class="col-6 offset-1">
					<img src="../../../assets/img/polumontazni-bazeni/slika-5.png" alt="kvadrati">
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid px-5  steps padding-bottom_work">
	<div class="row">
		<div class="col-12 backgorund_working  ">
			<h3 class="text-center p-5">Working with <br> Instappoint is simple</h3>
			<div class="row ">

				<div class="col-3 offset-1 align-self-star" id="steps">
					<div class="border ">
						<img src="../../../assets/img/polumontazni-bazeni/slika-6.png" alt="">

					</div>
					<p class="pt-5">Projektovanje</p>

				</div>
				<div class="col-3 offset-1 align-self-center dole" id="steps2">
					<div class="border ">
						<img src="../../../assets/img/polumontazni-bazeni/event-confirm.png" alt="">

					</div>
					<p class="pt-5">Izgradnja</p>

				</div>
				<div class="col-3 offset-1 align-self-end dole-2 mb-5 test">
					<div class="border ">
						<img src="../../../assets/img/polumontazni-bazeni/check-all.png" alt="">

					</div>
					<p class="ml-5 pt-5">Uzivanje</p>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- who we are -->
<div class="container padding-bottom-who">
	<div class="row">
		<div class="col-6 up-text">
			<p>WHO WE ARE</p>
			<h3>Global Leaders in Pool Design and Construciton</h3>
		</div>
		<div class="col-6 pt-5">
			<p>We bring the results while helping you achieve cost and time savings without taking on risk or management
				overhead. Our team provides high-level creative education</p>
			<p class="pt-5"> If you’re going to go with a minimalist style in just one area of the home, then choose your home
				office. A
				clean and clearly organised workspace is conductive to great concentration and an uninterrupted workflow.</p>
		</div>
	</div>
</div>

<!-- end who we are -->

<div class="container-fluid padding-top-card_one">
	<div class="row px-5">
		<div class="col-sm-12 background_card">
			<div class="row mt-5">
				<div class="col-sm-5 offset-1  mt-5">
					<img class="img-fluid" src="../../../assets/img/polumontazni-bazeni/slika-9.png" alt="card-slika">
				</div>
				<div class="col-sm-6 mt-5 tex-right">
					<div class="test">
						<h4>Bazeni ovalnog oblika Future Pool</h4>
						<p>Bazeni ovalnog oblika mogu biti dubine 1,5m i 1,2m</p>
						<h5 class="pb-5"><img src="../../../assets/img/polumontazni-bazeni/lenjir.png" alt="lenjir"
								class="mr-1">Dimenzije <span class="centimetri">cm</span></h5>
						<span class="border border-light p-2 ">
							632 x 360
						</span>
						<span class="border border-light p-2 ml-2">
							800 x 400
						</span>
						<span class="border border-light p-2 ml-2">
							1100 x 550
						</span>
						<br>
						<br>
						<span class="border border-light p-2  ">
							737 x 360
						</span>
						<span class="border border-light p-2 ml-2 ">
							916 x 460
						</span>

						<br>
						<button class="btn btn-primary mt-5 ">Zatrazite ponudu</button>



					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid padding-top-card_two">
	<div class="row px-5">
		<div class="col-sm-12 background_card">
			<div class="row mt-5">

				<div class="col-sm-6 mt-5  tex-left">
					<div class="test">
						<h4>Bazeni kružnog oblika Future Pool</h4>
						<p>Bazeni ovalnog oblika mogu biti dubine 1,5m i 1,2m</p>
						<h5 class="pb-5"><img src="../../../assets/img/polumontazni-bazeni/lenjir.png" alt="lenjir"
								class="mr-1">Dimenzije <span class="centimetri">cm</span></h5>
						<span class="border border-light p-2 ">
							632 x 360
						</span>
						<span class="border border-light p-2 ml-2">
							800 x 400
						</span>
						<span class="border border-light p-2 ml-2">
							1100 x 550
						</span>
						<br>
						<br>
						<span class="border border-light p-2  ">
							737 x 360
						</span>
						<span class="border border-light p-2 ml-2 ">
							916 x 460
						</span>

						<br>
						<button class="btn btn-primary mt-5 ">Zatrazite ponudu</button>
					</div>
				</div>

				<div class="col-sm-6  mt-5">
					<img class="img-fluid" src="../../../assets/img/polumontazni-bazeni/slika-9.png" alt="card-slika">
				</div>



			</div>
		</div>
	</div>
</div>

<div class="container-fluid padding-top-card_one">
	<div class="row px-5">
		<div class="col-sm-12 background_card">
			<div class="row mt-5">
				<div class="col-sm-5 offset-1  mt-5">
					<img class="img-fluid" src="../../../assets/img/polumontazni-bazeni/slika-9.png" alt="card-slika">
				</div>
				<div class="col-sm-6 mt-5 tex-right">
					<div class="test">
						<h4>Bazeni ovalnog oblika Future Pool</h4>
						<p>Bazeni ovalnog oblika mogu biti dubine 1,5m i 1,2m</p>
						<h5 class="pb-5"><img src="../../../assets/img/polumontazni-bazeni/lenjir.png" alt="lenjir"
								class="mr-1">Dimenzije <span class="centimetri">cm</span></h5>
						<span class="border border-light p-2 ">
							632 x 360
						</span>
						<span class="border border-light p-2 ml-2">
							800 x 400
						</span>
						<span class="border border-light p-2 ml-2">
							1100 x 550
						</span>
						<br>
						<br>
						<span class="border border-light p-2  ">
							737 x 360
						</span>
						<span class="border border-light p-2 ml-2 ">
							916 x 460
						</span>

						<br>
						<button class="btn btn-primary mt-5 ">Zatrazite ponudu</button>



					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- <owl-carousel-o [options]="mySlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
	<div class="item" *ngFor="let image of mySlideImages;let i = index">
		<div>
			<img src={{image}} />
		</div>
	</div>
</owl-carousel-o> -->
<!-- GALERIJA -->
<div class="container-fluid padding-bottom__galerija">
	<div class="row">
		<div class="col-12">
			<h3 class="text-center">Galerija</h3>
			<div class="row">
				<div class="col-lg-1 col-sm-1  d-flex align-items-center">
					<p class="ml-lg-5 ml-sm-0">

						<a class=" btn btn-default btn-circle btn-lg " (click)="owlCar.prev()">
							<i class="fas fa-chevron-left"></i> </a>
					</p>

				</div>
				<div class="col-10">

					<owl-carousel-o [options]="customOptions" #owlCar>


						<ng-template carouselSlide *ngFor="let slide of slidesStore" [id]="slide.id">
							<img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" class="p-5">

						</ng-template>


					</owl-carousel-o>
				</div>
				<div class="col-1 d-flex align-items-center">
					<p class="mr-5">

						<a class="btn btn-default btn-circle btn-lg " (click)="owlCar.next()"><i
								class="fas fa-chevron-right"></i></a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END GALERIJA -->

<!-- CONSULTATION-BOTTOM -->
<div class="container-fluid consultation px-5 pb-5">
	<img src="../../../assets/img/konsultacije/pozadina.png" alt="">
	<div class=" centered">
		<h4 class="text-white">Besplatne konsultacije </h4>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor sit, amet <br>consectetur
			adipisicing
			elit </p>
	</div>

	<div class="centered-right">
		<button class="btn btn-secondary rounded p-3">Kontaktirajte nas</button>
	</div>

</div>


<!-- END CONSULTATION-BOTTOM  -->