<header class="swiper-container mb-128" [swiper]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="slider-1">
        <div class="container h-100">
          <div class="row justify-content-start align-items-center h-100">
            <div class="col-12 col-md-6">
              <div class="text-left">
                <h1>Vaše dvorište, Vaš bazen, Vaša pravila</h1>
                <p class="mb-5 text-white">
                  Sa nama dobijate više od bazena. Stvaramo sećanja u godinama koje dolaze,
                  u oazi Vašeg dvorišta!</p>
                <a class="btn btn-lg btn-secondary" role="button" [routerLink]="['/kontakt']">Besplatna konsultacija</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="slider-2">
        <div class="container h-100">
          <div class="row justify-content-start align-items-center h-100">
            <div class="col-12 col-md-6">
              <div class="text-left">
                <h1>Prepustite se uživanju!</h1>
                <p class="mb-5 text-white">
                  Ako tražite efikasnu i brzu uslugu održavanja bazena,<br>na pravom ste mestu.
                </p>
                <a class="btn btn-lg btn-secondary" role="button" [routerLink]="['/kontakt']">Besplatna konsultacija</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="slider-3">
        <div class="container h-100">
          <div class="row justify-content-start align-items-center h-100">
            <div class="col-12 col-md-6">
              <div class="text-left">
                <h1>Ulaganje u kvalitet pruža sigurnost</h1>
                <p class="mb-5 text-white">
                  Oprema renomiranih Evropskih partnera omogućava dugogodišnju istrajnost i funkcionalnost</p>
                <a class="btn btn-lg btn-secondary" role="button" [routerLink]="['/kontakt']">Besplatna konsultacija</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</header>


<section class="bg-white py-64 d-block d-md-none">
  <div id="future-content" class="container">
    <div class="row">
      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <img src="assets/img/icons/kreiramo-uspomene.svg" alt="slika2" class="img-fluid mb-4" width="64">
        <h5 class="mb-3">Kreiramo uspomene</h5>
        <p>Iskustvo nam obezbeđuje kompetentnost u tehnikama izrade bazena i time pružamo klijentima pouzdanu podršku
           tokom svih etapa neophodnih da bi neometano uživali na svom privatnom bazenu.</p>
      </div>
      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <img src="assets/img/icons/podrska.svg" alt="knjiga" class="img-fluid mb-4" width="64">
        <h5 class="mb-3">Zagarantovana podrška</h5>
        <p>Verujemo da uspeh može da omogući životni stil koji zamišljamo da nam pripada. I ako bih ste se zapitali koji
           je najbolji način da se iskusi samoispunjenje i sreća, to bi naravno bio provod uz zabavne
           stvari.</p>
      </div>
      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <img src="assets/img/icons/zivot.svg" alt="slika2" class="img-fluid mb-4" width="64">
        <h5 class="mb-3">Živite život koji želite</h5>
        <p>Iz ljubavi se javlja odanost. Porodica i prijatelji okupiće se u Vašem dvorištu iz snova koje će ih zbližiti
           uz neizostavnu zabavu, a ne zaboravljajući sve anegdote koje će nastati u letima koje dolaze.</p>
      </div>
    </div>
  </div>
</section>


<!-- SECTION ACCORDION -->
<div id="values" class="container d-none d-md-block">
  <div class="row justify-content-between">

    <div class="col" [class.active]="viewMode=='uspomene'">
      <a (click)="viewMode='uspomene'">
        <div class="values-tab">
          <img src="assets/img/icons/kreiramo-uspomene.svg" class="d-none d-lg-inline-flex" alt="">
          <h5 class="font-weight-normal">Kreiramo uspomene</h5>
        </div>
      </a>
    </div>

    <div class="col" [class.active]="viewMode=='podrska'">
      <a (click)="viewMode = 'podrska'">
        <div class="values-tab">
          <img src="assets/img/icons/podrska.svg" class="d-none d-lg-inline-flex" alt="">
          <h5 class="font-weight-normal">Zagarantovana podrška</h5>
        </div>
      </a>
    </div>

    <div class="col" [class.active]="viewMode=='zivot'">
      <a (click)="viewMode = 'zivot'">
        <div class="values-tab">
          <img src="assets/img/icons/zivot.svg" class="d-none d-lg-inline-flex" alt="">
          <h5 class="font-weight-normal">Živite život koji želite</h5>
        </div>
      </a>
    </div>

  </div>
</div>

<div class="container bg-white shadow-lg d-none d-md-block" [ngSwitch]="viewMode">
  <div class="row align-items-center" *ngSwitchCase="'uspomene'">
    <div class="col-4 px-0">
      <img src="assets/img/kreiramo-uspomene.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-8 px-5">
      <h4>Kreiramo uspomene</h4>
      <p>
        Iz ljubavi se javlja odanost. Porodica i prijatelji okupiće se u Vašem dvorištu iz snova koji će ih zbližiti uz
        neizostavnu zabavu, a ne zaboravljajući sve anegdote koje će nastati u letima koje dolaze.
      </p>
    </div>
  </div>

  <div class="row align-items-center" *ngSwitchCase="'podrska'">
    <div class="col-4 px-0">
      <img src="assets/img/zagarantovana-podrska.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-8 px-5">
      <h4>Zagarantovana podrška</h4>
      <p>
        Iskustvo nam obezbeđuje kompetentnost u tehnikama izrade bazena i time pružamo klijentima pouzdanu podršku tokom
        svih etapa neophodnih da bi neometano uživali na svom privatnom bazenu.
      </p>
    </div>
  </div>

  <div class="row align-items-center" *ngSwitchCase="'zivot'">
    <div class="col-4 px-0">
      <img src="assets/img/zivite-zivot-koji%20zelite.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-8 px-5">
      <h4>Živite život koji želite</h4>
      <p>
        Verujemo da uspeh može da omogući životni stil koji zamišljamo da nam pripada. I ako bih ste se zapitali koji je
        najbolji način da se iskusi samoispunjenje i sreća, to bi naravno bio provod uz zabavne stvari.
      </p>
    </div>
  </div>
</div>

<div id="bazeni" class="container my-128">
  <div class="row">
    <div class="col-12 col-md-6 pl-md-0">
      <article class="future-card">
        <div class="future-card-image"
             style="background-image: url(assets/img/future-pool-bazeni.jpg);">
          <div class="article-meta">
            <div class="row align-items-end">
              <div class="col">
                <h4>Future pool bazeni</h4>
                <p class="mb-4">Savremeno i ekonomsko pristupačno rešenje</p>
                <a class="btn btn-secondary" role="button" [routerLink]="['/polumontazni-bazeni']">Saznaj više</a>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>

    <div class="col-12 col-md-6 mt-4 mt-md-0">
      <article class="bazeni-card">
        <div class="bazeni-card-image"
             style="background-image: url(assets/img/betonsk-bazeni.jpg);">
          <div class="article-meta">
            <div class="row align-items-end justify-content-between">
              <div class="col">
                <h4>Betonski bazeni</h4>
                <p class="mb-4">Najkvalitetniji i najizdržljiviji tip bazena, po Vašoj meri.</p>
                <a class="btn btn-secondary" role="button" [routerLink]="['/betonski-bazeni']">Saznaj više</a>
              </div>
            </div>
          </div>
        </div>
      </article>
      <article class="bazeni-card">
        <div class="bazeni-card-image"
             style="background-image: url(assets/img/bazeni-sa-folijom.jpg);">
          <div class="article-meta">
            <div class="row align-items-end justify-content-between">
              <div class="col">
                <h4>Bazeni sa folijom</h4>
                <p class="mb-4">Postupak varenja folije po želji na licu mesta.</p>
                <a class="btn btn-secondary" role="button" [routerLink]="['/bazeni-sa-folijom']">Saznaj više</a>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

<div class="container-fluid steps my-128">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">3 koraka<br> do bazena iz snova</h3>
      <div class="row justify-content-center d-none d-md-flex my-64 pb-64">
        <div class="col-12 offset-md-1 col-md-3 align-self-start" id="steps">
          <div class="border mr-auto mr-md-0">
            <img src="assets/img/icons/phone.svg" alt="Kontaktirajte nas još danas i zatražite besplatnu ponudu">
            <p class="text-left pt-5" style="width: 220px">Kontaktirajte nas još danas i zatražite besplatnu ponudu</p>
          </div>
        </div>
        <div class="col-12 col-md-3 align-self-center dole" id="steps2">
          <div class="border mx-auto mx-md-0">
            <img src="assets/img/icons/ponuda.svg" alt="Sprovešćemo Vas kroz ponudu u detaljima">
            <p class="text-left pt-5" style="width: 220px">Sprovešćemo Vas kroz ponudu u detaljima</p>
          </div>
        </div>
        <div class="col-12 col-md-3 align-self-end dole-2 mb-5 test">
          <div class="border ml-auto ml-md-0">
            <img src="assets/img/icons/dvoriste.svg" alt="Uzivanje">
            <p class="text-left pt-5" style="width: 220px">Prepustite se i gledajte transformaciju Vašeg dvorišta</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center d-block d-md-none my-64">
        <div class="col-12 col-md-3 mb-5">
          <div class="border mx-auto">
            <img src="assets/img/icons/phone.svg" alt="Ugovaranje">
          </div>
          <p class="text-center pt-2">Kontaktirajte nas još danas i zatražite besplatnu ponudu</p>

        </div>
        <div class="col-12 col-md-3 mb-5">
          <div class="border mx-auto">
            <img src="assets/img/icons/ponuda.svg" alt="Izgradnja">
          </div>
          <p class="text-center pt-2">Sprovešćemo Vas kroz ponudu u detaljima</p>

        </div>
        <div class="col-12 col-md-3 mb-5">
          <div class="border mx-auto">
            <img src="assets/img/icons/dvoriste.svg" alt="Uzivanje">
          </div>
          <p class="text-center pt-2">Prepustite se i gledajte transformaciju Vašeg dvorišta</p>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="background_section">
  <div class="container-fluid padding-top-card_one">
    <div class="container">
      <div class="row align-items-center py-5">
        <div class="col-12 col-md-6 order-2 order-md-0">
          <h3 class="mb-4">Uživajte u letu</h3>
          <p>U vrelim letnjim danima ne želite da brinete da li Vam filter radi ili ne. I sigurno ne želite da
             razmišljate o pH vrednosti vode, dok Vas klinci zovu da se igrate
          </p>
          <p>Neka Pool Service uradi sav posao za vas.</p>
          <button class="btn btn-secondary border-0 mt-5" [routerLink]="['/kontakt'] ">Kontaktirajte nas</button>
        </div>
        <div class="col-12 col-md-6 order-1 order-md-0 mb-4 mb-md-0" id="slika-up">
          <img class="img-fluid" src="assets/img/izgradnja-bazena/slika-odrzavanje-01.jpg" alt="card-slika">
        </div>
      </div>


      <div class="swiper-container mb-128 mt-64" [swiper]="partner">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide">
            <img class="img-fluid" src="./assets/img/logos/fluidra.png" alt=""/>
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="./assets/img/logos/astral.png" alt="">
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="./assets/img/logos/zodiac.png" alt="">
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="./assets/img/logos/future-pool.png" alt="">
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="./assets/img/logos/praher.png" alt="">
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="./assets/img/logos/renolit.png" alt="">
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="./assets/img/logos/iml.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-konsultacije></app-konsultacije>

<div class="container my-128">
  <div class="row align-items-center justify-content-center">
    <div class="col-8 text-center">
      <h2>Naša ponuda</h2>
      <p>POOL SERVICE se uspešno bavi prodajom bazena i bazenske opreme po sistemu ključ u ruke,
         održavanje postojećih bazena, isporuka i montažom sauna i ostale rekreacione opreme.
      </p>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-md-3 pb-3">
      <div class="card h-100 text-center">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/icons/projektovanje.svg" alt="Projektovanje bazena">
          </div>
          <h5 class="card-title">Projektovanje</h5>
          <p class="small">Vama na raspolaganju, od ideje do realizacije.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 pb-3">
      <div class="card h-100 text-center ">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/icons/izgradnja.svg" alt="Izgradnja bazena">
          </div>
          <h5 class="card-title">Izgradnja</h5>
          <p class="small">Dugogodišnje iskustvo, ugradnja samo najkvalitetnije opreme.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 pb-3">
      <div class="card h-100 text-center">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/icons/odrzavanje.svg" alt="Odrzavanje bazena">
          </div>
          <h5 class="card-title">Održavanje</h5>
          <p class="small">Jedina firma sa uslugom održavanja bazena na nedeljnom nivou.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 pb-3 ">
      <div class="card h-100 text-center">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/icons/oprema.svg" alt="Oprema za bazene">
          </div>
          <h5 class="card-title">Oprema</h5>
          <p class="small">Posedujemo rezervne delove za svu našu opremu.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <button class="btn btn-secondary border-0"
            [routerLink]="['/kontakt'] ">Kontaktiraj nas za više informacija
    </button>
  </div>
</div>

<div class="container">
  <div class="swiper-container mb-128" [swiper]="testemonials">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="row justify-content-center py-5">
          <div class="col-10 col-md-6 text-center">
            <img class="rounded mb-4" src="./assets/img/milan.jpg" width="90" height="90" alt=""/>
            <blockquote class="blockquote weight-500">“Imao sam mnogo nedoumica u početku, od cene do održavanja, ali
                                                      stručniji ljudi od mene su me ubedili da treba da pratim svoje
                                                      snove. Hvala im na tome, jer sam teško vreme za vreme korone
                                                      imao gde da provedem :) Šta reći, osim... preporuka!”
            </blockquote>
            <p class="mb-0"><span class="weight-500">Milan,</span> IT Menadžer</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row justify-content-center py-5">
          <div class="col-10 col-md-6 text-center">
            <img class="rounded mb-4" src="./assets/img/miodrag.jpg" width="90" height="90" alt=""/>
            <blockquote class="blockquote weight-500">“Kada gledam klince kako uživaju, ništa mi više ne treba. ”
            </blockquote>
            <p class="mb-0"><span class="weight-500">Miodrag,</span> Preduzetnik</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row justify-content-center py-5">
          <div class="col-10 col-md-6 text-center">
            <img class="rounded mb-4" src="./assets/img/dejan.jpg" width="90" height="90" alt=""/>
            <blockquote class="blockquote weight-500">“Dosta dugo sam razmišljao i raspitivao se o bazenima. Odluka je
                                                      pala na Pool Service. Nisam zažalio. U početku sam mislio da ću
                                                      održavati sam, ali... zašto kada ima ko to da radi :) Pozdrav za
                                                      najbolju ekipu”
            </blockquote>
            <p class="mb-0"><span class="weight-500">Dejan,</span> Preduzetnik</p>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
