<div id="hero" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/img/hero.jpg" class="d-block h-100" alt="...">
      <div class="carousel-text">
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-6">
              <div class="text-left">
                <h1 class="display-3">Vaše dvorište<br>Vaš bazen<br>Vaša pravila</h1>
                <p class="h5 mb-5">Sa nama dobijate više od bazena. Stvaramo sećanja u godinama koje dolaze, u oazi
                                   Vašeg
                                   dvorišta!</p>
                <a class="btn btn-lg btn-secondary" role="button" [routerLink]="['/kontakt']">Zatražite ponudu</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <img src="./assets/img/hero.jpg" class="d-block h-100" alt="...">
      <div class="carousel-text">
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-6">
              <div class="text-left">
                <h1 class="display-3">Vaše dvorište<br>Vaš bazen<br>Vaša pravila</h1>
                <p class="mb-5">Sa nama dobijate više od bazena. Stvaramo sećanja u godinama koje dolaze, u oazi Vašeg
                                dvorišta!</p>
                <a class="btn btn-lg btn-secondary" role="button" [routerLink]="['/kontakt']">Zatražite ponudu</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- SECTION ACCORDION -->
<div id="values" class="container">
  <div class="row justify-content-between">

    <div class="col" [class.active]="viewMode=='uspomene'">
      <a (click)="viewMode='uspomene'">
        <div class="values-tab">
          <img src="assets/img/icons/kreiramo-uspomene.svg" class="" alt="">
          <h5>Kreiramo uspomene</h5>
        </div>
      </a>
    </div>

    <div class="col" [class.active]="viewMode=='podrska'">
      <a (click)="viewMode = 'podrska'">
        <div class="values-tab">
          <img src="assets/img/icons/podrska.svg" class="" alt="">
          <h5>Zagarantovana podrška</h5>
        </div>
      </a>
    </div>

    <div class="col" [class.active]="viewMode=='zivot'">
      <a (click)="viewMode = 'zivot'">
        <div class="values-tab">
          <img src="assets/img/icons/zivot.svg" class="" alt="">
          <h5>Živite život koji želite</h5>
        </div>
      </a>
    </div>

  </div>
</div>
<div class="container bg-white shadow-lg" [ngSwitch]="viewMode">
  <div class="row align-items-center" *ngSwitchCase="'uspomene'">
    <div class="col-4 px-0">
      <img src="assets/img/kreiramo-uspomene.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-8 px-5">
      <h4>Kreiramo uspomene</h4>
      <p>
        Iz ljubavi se javlja odanost. Porodica i prijatelji okupiće se u Vašem dvorištu iz snova koje će ih zbližiti uz
        neizostavnu zabavu, a ne zaboravljajući sve anegdote koje će nastati u letima koje dolaze.
      </p>
    </div>
  </div>

  <div class="row align-items-center" *ngSwitchCase="'podrska'">
    <div class="col-4 px-0">
      <img src="assets/img/zagarantovana-podrska.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-8 px-5">
      <h4>Zagarantovana podrška</h4>
      <p>
        Iz ljubavi se javlja odanost. Porodica i prijatelji okupiće se u Vašem dvorištu iz snova koje će ih zbližiti uz
        neizostavnu zabavu, a ne zaboravljajući sve anegdote koje će nastati u letima koje dolaze.
      </p>
    </div>
  </div>

  <div class="row align-items-center" *ngSwitchCase="'zivot'">
    <div class="col-4 px-0">
      <img src="assets/img/zivite-zivot-koji%20zelite.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-8 px-5">
      <h4>Živite život koji želite</h4>
      <p>
        Iz ljubavi se javlja odanost. Porodica i prijatelji okupiće se u Vašem dvorištu iz snova koje će ih zbližiti uz
        neizostavnu zabavu, a ne zaboravljajući sve anegdote koje će nastati u letima koje dolaze.
      </p>
    </div>
  </div>
</div>


<div id="bazeni" class="container">
  <div class="row">
    <div class="col-6 pl-0">
      <article class="future-card">
        <div class="future-card-image"
             style="background-image: url(assets/img/future-pool-bazeni.jpg);">
          <div class="article-meta">
            <div class="row align-items-end justify-content-between">
              <div class="col-8">
                <h4>Future pool bazeni</h4>
                <p class="mb-0">Savremeno i ekonomsko pristupačno rešenje</p>
              </div>
              <div class="col">
                <a class="btn btn-secondary" role="button" [routerLink]="['/kontakt']">Saznaj više</a>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>

    <div class="col-6">
      <article class="bazeni-card">
        <div class="bazeni-card-image"
             style="background-image: url(assets/img/betonsk-bazeni.jpg);">
          <div class="article-meta">
            <div class="row align-items-end justify-content-between">
              <div class="col-8">
                <h4>Betonski bazeni</h4>
                <p class="mb-0">Najkvalitetniji i najizdržljiviji tip bazena, po Vašoj meri.</p>
              </div>
              <div class="col">
                <a class="btn btn-secondary" role="button" [routerLink]="['/kontakt']">Saznaj više</a>
              </div>
            </div>
          </div>
        </div>
      </article>
      <article class="bazeni-card">
        <div class="bazeni-card-image"
             style="background-image: url(assets/img/bazeni-sa-folijom.jpg);">
          <div class="article-meta">
            <div class="row align-items-end justify-content-between">
              <div class="col-8">
                <h4>Bazeni sa folijom</h4>
                <p class="mb-0">Postupak varenja folije po želji na licu mesta.</p>
              </div>
              <div class="col">
                <a class="btn btn-secondary" role="button" [routerLink]="['/kontakt']">Saznaj više</a>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

<div id="steps" class="container" style="margin-bottom: 128px">
  <div class="row justify-content-between mb-5">
    <div class="col-12">
      <h3 class="text-center">Do betonskog <br> bazena u 3 koraka</h3>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col align-self-start" id="korakJedan">
      <div class="border">
        <img src="assets/img/icons/phone.svg" alt="ugovaranje" width="64">
      </div>
      <div style="width: 20ch">
        <p class="mt-5">Kontaktirajte nas još danas i zatražite besplatnu ponudu</p>
      </div>
    </div>

    <div class="col align-self-center dole" id="korakDva">
      <div class="border">
        <img src="assets/img/icons/ponuda.svg" alt="Izgradnja" height="64">
      </div>
      <div style="width: 20ch">
        <p class="mt-5">Sprovešćemo Vas kroz ponudu u detaljima</p>
      </div>
    </div>

    <div class="col-2 align-self-end dole-2 mb-5 test" id="korakTri">
      <div class="border">
        <img src="assets/img/icons/dvoriste.svg" alt="Uzivanje" width="72" height="64">
      </div>
      <div>
        <p class="mt-5">Prepustite se i gledajte transformaciju Vašeg dvorišta</p>
      </div>
    </div>

  </div>
</div>


<div class="background_section">
  <div class="container-fluid padding-top-card_one">
    <div class="container">
      <div class="row align-items-center py-5">
        <div class="col-6">
          <h3 class="mb-4">Uživajte u letu</h3>
          <p>U onim vrućim letnjim danima ne želite da brinete da li
             Vam filter radi ili ne. I sigurno ne želite da razmišljate o
             pH vrednosti vode, dok Vas klinci zovu da se igrate.
          </p>
          <p>Neka Pool Service uradi sav posao za vas.</p>
          <button class="btn btn-secondary border-0 mt-5" [routerLink]="['/contact'] ">Kontaktirajte nas</button>
        </div>
        <div class="col-6" id="slika-up">
          <img class="img-fluid" src="assets/img/izgradnja-bazena/slika-odrzavanje-01.jpg" alt="card-slika">
        </div>
      </div>

      <div class="py-5 my-5">
        <h4 class="mb-5 text-center">Ponosni na naše partnere</h4>
        <div class="row justify-content-center justify-content-lg-between text-center align-items-center">
          <div class="col mt-3 mb-lg-0"><img src="./assets/img/logos/logo-1.png"/></div>
          <div class="col mt-3 mb-lg-0"><img src="./assets/img/logos/logo-2.png"/></div>
          <div class="col mt-3 mb-lg-0"><img src="./assets/img/logos/logo-3.png"/></div>
          <div class="col mt-3 mb-lg-0"><img src="./assets/img/logos/logo-4.png"/></div>
          <div class="col mt-3 mb-lg-0"><img src="./assets/img/logos/logo-5.png"/></div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-konsultacije></app-konsultacije>

<div class="container padding-top__cards align-items-center">
  <div class="row justify-content-center">
    <div class="col-sm-12  text-center">
      <h2>Naša ponuda</h2>
      <p>POOL SERVICE se uspešno bavi prodajom bazena i bazenske opreme po sistemu <br> kljuć u ruke,
         održavanje postojećih bazena, isporuka i montažom sauna i <br> ostale rekreacione opreme.
      </p>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-sm-3">
      <div class="card h-100 text-center">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/FAQ/slika_2.png" alt="kapljica-vode">
          </div>
          <h5 class="card-title">Projektovanje</h5>
          <p>Vama na raspolaganju, od ideje od realizacije.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card h-100 text-center">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/FAQ/slika_3.png" alt="kapljica-vode">
          </div>
          <h5 class="card-title">Izgradnja</h5>
          <p>Dugogodišnje iskustvo, ugradnja samo <br> najkvalitetnije opreme.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card h-100 text-center">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/FAQ/slika_4.png" alt="kapljica-vode">
          </div>
          <h5 class="card-title">Održavanje</h5>
          <p>Jedina firma sa uslugom održavanja bazena na nedeljnom nivou.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card h-100 text-center">
        <div class="card-body">
          <div class=" mb-3 pt-3">
            <img src="assets/img/FAQ/slika_5.png" alt="kapljica-vode">
          </div>
          <h5 class="card-title">Oprema</h5>
          <p>Posedujemo rezervne delove za svu našu opremu.</p>
        </div>
      </div>
    </div>
    <div class="d-block mt-5">
      <button class="btn btn-secondary border-0 mt-4" [routerLink]="['/contact'] ">Kontaktiraj nas za više
                                                                                   informacija
      </button>
    </div>
  </div>
</div>

<div class="mb-5">
  <div class="swiper">
    <div class="swiper-container" id="slider-customers-3">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="row justify-content-center py-5">
            <div class="col-6 text-center"><img class="rounded mb-4" src="./assets/img/milan.png"
                                                width="90" height="90" alt=""/>
              <blockquote class="blockquote weight-500">“ Imao sam mnogo nedoumica u početku, od cene do održavanja, ali
                                                        stručniji ljudi od mene su me ubedili da treba da pratim svoje
                                                        snove. Hvala im na tome, jer sam teško vreme za vreme korone
                                                        imao
                                                        gde da provedem :) Šta reći, osim... preporuka!”
              </blockquote>
              <p class="mb-0"><span class="weight-500">Milan,</span> IT Menadžer</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row justify-content-center py-5">
            <div class="col-6 text-center"><img class="rounded mb-4" src="./assets/pictures/userpic.png"
                                                width="90" height="90"/>
              <blockquote class="blockquote weight-500">“All base UI elements are made using Nested Symbols and shared
                                                        styles that are logically connected. Gorgeous, high-quality
                                                        video
                                                        sharing on desktop, mobile, tablet. All base UI elements are
                                                        made
                                                        using Nested Symbols”
              </blockquote>
              <p class="mb-0"><span class="weight-500">Name Surname,</span> Lead marketing specialist, CNN</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row justify-content-center py-5">
            <div class="col-6 text-center"><img class="rounded mb-4" src="./assets/pictures/userpic.png"
                                                width="90" height="90"/>
              <blockquote class="blockquote weight-500">“All base UI elements are made using Nested Symbols and shared
                                                        styles that are logically connected. Gorgeous, high-quality
                                                        video
                                                        sharing on desktop, mobile, tablet. All base UI elements are
                                                        made
                                                        using Nested Symbols”
              </blockquote>
              <p class="mb-0"><span class="weight-500">Name Surname,</span> Lead marketing specialist, CNN</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div><!-- Script-->

</div>
