<div class="container-fluid consultation px-5 pb-5">
    <img src="../../../assets/img/konsultacije/pozadina.png" alt="">
    <div class=" centered">
        <h4 class="text-white">Besplatne konsultacije </h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor sit, amet <br>consectetur
            adipisicing
            elit </p>
    </div>

    <div class="centered-right">
        <button class="btn btn-secondary rounded p-3">Kontaktirajte nas</button>
    </div>

</div>