<div class="container-fluid consultation p-0">
    <img src="assets/img/konsultacije/pozadina.png" alt="slika-1">
    <div class=" centered">
        <h4 class="text-white">Besplatne konsultacije </h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor sit, amet <br>consectetur
            adipisicing
            elit </p>
    </div>

    <div class="centered-right float-right">
        <button class="btn btn-secondary rounded p-3">Kontaktirajte nas</button>
    </div>

</div>