<div class="container naslov__pading-top">
	<div class="row">
		<div class="col-12 text-center ">
			<h2 class="pb-5">Osvetljenje</h2>
			<p>
				Reflektori služe za podvodno osvetljavanje bazena. Snage su od 300 W a napona 12V. <br> Postoje
				reflektori za
				betonske bazene i za bazene sa lajnerom. <br> Za svaki je potrebno predvideti trafo.
			</p>
		</div>
	</div>
</div>

<div class="container cards__padding-bottom ">
	<div class="row">
		<div class="col-12">
			<div class="row">
				<div class="col pt-5">
					<img class="card-img-top" src="assets/img/filtrianje-bazena/astral-logo.png" alt="logo cap">
				</div>
				<div class="col ">
					<img class="card-img-top img" src="assets/img/osvetljenje/03.jpg" alt="Card image cap">
					<p class="naslov pt-2 ">Reflektori betonski</p>
					<p class="">Reflektor 300W 12V Beton
						<br> Reflektor 100W Beton

					</p>

				</div>
				<div class="col ">
					<img class="card-img-top img pr-5" src="assets/img/osvetljenje/02.jpg" alt="Card image cap">
					<p class="naslov pt-2 ">Reflektori lajner</p>
					<p class=""> Reflektor 300W 12V Lajner
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container cards__padding-bottom ">
	<div class="row">
		<div class="col-12">s
			<div class="row">
				<div class="col pt-5">
				</div>
				<div class="col ">
					<img class="card-img-top img " src="assets/img/osvetljenje/01.jpg" alt="Card image cap">
					<p class="naslov pt-2 ">Uložci</p>
					<p> Uložak halogeni 300W 12V
						<br> Uložak halogeni 300W 12V
						<br>Led uložak promena boja
					</p>
					<button class="btn btn-primary mt-5  btn-lg border-0 " [routerLink]="['/contact'] ">Kontaktirajte
						nas</button>
				</div>
				<div class="col ">
					<img class="card-img- Klapna za skimer 15Ltop img" src="assets/img/osvetljenje/05.jpg"
						alt="Card image cap">
					<p class="naslov pt-2 ">Dodatna oprema</p>
					<p class=""> Bužir za reflektor 1m sivi
						<br> Razvodna kutija <br> Transformator 300VA, 12V <br>Transformator 2x300VA, 12V

					</p>
				</div>
			</div>
		</div>
	</div>
</div>



<app-konsultacije></app-konsultacije>