<div class="container my-128">
  <div class="row">
    <div class="col-12 col-md-6">
      <p class="plava">DODATNA OPREMA</p>
      <h2>Osvetljenje</h2>
    </div>
    <div class="col-12 col-md-6 pt-5">
      <p>Reflektori služe za podvodno osvetljavanje bazena. Snage su od 300 W a napona 12V. <br> Postoje
         reflektori za betonske bazene i za bazene sa lajnerom. <br> Za svaki je potrebno predvideti trafo.</p>
    </div>
  </div>
</div>

<div class="container my-128">
  <div class="row">
    <div class="col-12">

      <div class="row">

        <div class="col-12 col-md-6 pt-5">
          <img class="img-fluid mb-4 mb-md-0" src="assets/img/filtrianje-bazena/astral-logo.png" alt="logo cap">
        </div>

        <div class="col-12 col-md-3">
          <div class="row">
            <div class="col-5 col-md-12">
              <img class="img-fluid" src="assets/img/osvetljenje/03.jpg" alt="Osvetlenje">
            </div>
            <div class="col-7 col-md-12">
              <p class="naslov pt-2 ">Reflektori betonski</p>
              <p class="">Reflektor 300W 12V Beton<br> Reflektor 100W Beton</p>
            </div>
          </div>
          <div class="row">
            <div class="col-5 col-md-12">
              <img class="img-fluid" src="assets/img/osvetljenje/01.jpg" alt="Card image cap">
            </div>
            <div class="col-7 col-md-12">
              <p class="naslov pt-2 ">Uložci</p>
              <p> Uložak halogeni 300W 12V
                <br> Uložak halogeni 300W 12V
                <br>Led uložak promena boja
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-3">
          <div class="row">
            <div class="col-5 col-md-12">
              <img class="img-fluid" src="assets/img/osvetljenje/02.jpg" alt="Card image cap">
            </div>
            <div class="col-7 col-md-12">
              <p class="naslov pt-2">Reflektori lajner</p>
              <p>Reflektor 300W 12V Lajner</p>
            </div>
          </div>

          <div class="row">
            <div class="col-5 col-md-12">
              <img class="img-fluid" src="assets/img/osvetljenje/05.jpg" alt="Card image cap">
            </div>
            <div class="col-7 col-md-12">
              <p class="naslov pt-2 ">Dodatna oprema</p>
              <p class=""> Bužir za reflektor 1m sivi
                <br> Razvodna kutija <br> Transformator 300VA, 12V <br>Transformator 2x300VA, 12V
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-konsultacije></app-konsultacije>
