.naslov__pading-top {
    padding-top: 64px;
    padding-bottom: 80px;
    .plava {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;

        letter-spacing: 2px;

        color: #175CFF;
        text-align: justify;
        
    }
   
}

.cards__padding-bottom {
    padding-bottom: 128px;
    .naslov {
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 25px;
        text-align: justify;
    }

    .img{
        width: 200px;
        height: 200px;
    }

    .btn {
        background-color: #ff8125;
    }

}